{#
| Variable                       | Type     | Description                                         |
|--------------------------------|----------|-----------------------------------------------------|
| page                           | object   |                                                     |
| page.title                     | string   |                                                     |
| page.slug                      | string   |                                                     |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    {% hook 'customer:profile.form.start' %}
    <form class="form form--user-profile ajax" onsubmit="return salla.form.onSubmit('profile.update', event)">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 sm:gap-8">

            {% hook 'customer:profile.form.fields.start' %}

            <div class="profile-field-item">
                <label for="first-name" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('pages.profile.first_name') }}
                </label>
                <input type="text" name="first_name" value="{{ user.first_name }}" id="first-name" required
                       autocomplete="first_name" class="form-input">
            </div>

            <div class="profile-field-item">
                <label for="last-name" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('pages.profile.last_name') }}
                </label>
                <input type="text" name="last_name" value="{{ user.last_name }}" id="last-name" autocomplete="last-name"
                       required class="form-input">
            </div>

            <div class="profile-field-item">
                <label for="birthday" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('pages.profile.birthday') }}
                </label>
                <salla-datetime-picker
                        dateFormat="Y-m-d"
                        value="{{ user.birthday }}"
                        placeholder="{{ trans('pages.profile.birthday_placeholder') }}"
                        required
                        name="birthday"
                ></salla-datetime-picker>
            </div>

            <div class="profile-field-item">
                <label for="gender" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('pages.profile.gender') }}
                </label>
                <select class="form-input" name="gender" required>
                    <option placeholder value="">{{ trans('pages.profile.gender_placeholder') }}</option>
                    <option value="male" {{ user.gender=='male'?'selected':'' }}>
                        {{ trans('pages.profile.male') }}
                    </option>
                    <option value="female" {{ user.gender=='female'?'selected':'' }}>
                        {{ trans('pages.profile.female') }}
                    </option>
                </select>
            </div>

            <div class="profile-field-item">
                <label for="email" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('common.elements.email') }}
                </label>
                <input type="email" name="email" value="{{ user.email }}" id="email" class="form-input" required>
            </div>

            <div class="profile-field-item">
                <label for="international-mobile" class="block text-sm font-bold mb-2 text-gray-700">
                    {{ trans('common.elements.mobile') }}
                </label>
                <salla-tel-input phone="{{ user.mobile }}"></salla-tel-input>
            </div>
            {% for field in custom_fields %}
                <div class="profile-field-item">
                    <label for="{{ field.id }}" class="block text-sm font-bold mb-2 text-gray-700">
                        {{ field.label }}
                    </label>
                    {% if field.type == 'photo' %}
                        <salla-file-upload
                                instant-upload
                                value="{{ field.value }}"
                                url="{{ store.url|trim('/'~user.language_code) }}/upload-image"
                                name="custom_fields[{{ field.id }}]"
                                payload-name="image"
                                height="120px"
                        >
                            <div class="profile-filepond-placholder">
                                <span class="profile-filepond-placholder-icon"><i class="sicon-camera"></i></span>
                                <p class="profile-filepond-placholder-text">{{ trans('common.uploader.drag_and_drop') }}</p>
                                <span class="filepond--label-action">{{ trans('common.uploader.browse') }}</span>
                            </div>
                        </salla-file-upload>
                        <input type="hidden" name="custom_fields[{{ field.id }}]" value="{{ field.value }}">
                    {% else %}
                        <input type="{{ field.type }}"
                               id="{{ field.id }}"
                               value="{{ field.value }}"
                               name="custom_fields[{{ field.id }}]"
                               class="form-input" {{ field.required?'required':'' }}/>
                    {% endif %}
                </div>
            {% endfor %}

            {% hook 'customer:profile.form.fields.end' %}
        </div>

        {% hook 'customer:profile.form.submit.start' %}

        <salla-button type="submit" loader-position="end" class="w-full mt-6">
            {{ trans('common.elements.save') }}
        </salla-button>

        {% hook 'customer:profile.form.submit.end' %}
    </form>
    {% hook 'customer:profile.form.end' %}

    <salla-verify></salla-verify>

    <salla-user-settings {{ user.is_notifiable?'is-notifiable':0 }} class="mt-10 block"></salla-user-settings>
{% endblock %}
