{#
| Variable   | Type                 | Description |
|------------|----------------------|-------------|
| page       | object               |             |
| page.title | string               |             |
| page.slug  | string               |             |
| products[] | Product[] *Paginator |             |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    <div class="space-y-5" id="wishlist">
        {% hook 'customer:wishlist.items.start' %}

        {% for product in products %}
            <div id="wishlist-product-{{ product.id }}">
              <div class="product-entry product-entry--wishlist">
                  <div class="flex items-center mb-4 sm:mb-0">

                      <a href="{{ product.url }}"
                        class='product-entry__image'>
                          <img class="h-full w-full object-cover lazy" data-src="{{ product.image.url }}" alt="{{ product.image.alt }}"/>
                      </a>
                      <div class="flex-1 rtl:pr-5 ltr:pl-5">
                          <h3 class="text-sm text-gray-800 leading-6 mb-1.5 rtl:pl-5 ltr:pr-5 rtl:md:pl-8 ltr:md:pr-8 line-clamp-1">
                              <a href="{{ product.url }}">{{ product.name }}</a>
                          </h3>
                          <div class="w-full center-between"> 
                              {% if product.is_on_sale %}
                                  <div class="rtl:space-x-reverse space-x-1">
                                      <h4 class="text-red-400 font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                                      <span class="text-sm text-gray-500 line-through">{{ product.regular_price|money }}</span>
                                  </div>
                              {% else %}
                                  <h4 class="font-bold text-sm">{{ product.price|money }}</h4>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="flex items-center rtl:space-x-reverse space-x-4">
                      <salla-add-product-button roduct-status="{{ product.status }}" product-id="{{ product.id }}" product-type="{{ product.type }}" loader-position="center"  fill="outline" class="flex-grow sm:grow-0 w-full md:w-40">
                          {{ product.add_to_cart_label }}
                      </salla-add-product-button>

                      <salla-button loader-position="center" shape="icon" size="small" color="danger"
                                    class="btn--delete" onclick="salla.wishlist.remove({{ product.id }})">
                          <i class="sicon-cancel"></i>
                      </salla-button>
                  </div>
              </div>
            </div>
        {% else %}
            <div class="no-content-placeholder">
                <span class="rounded-icon !w-36 !h-36 bg-gray-100 mb-6">
                    <i class="sicon-heart text-6xl block text-gray-400"></i>
                </span>
                <p class="text-sm mb-5">{{ trans('pages.profile.wishlist_placeholder') }}</p>
            </div>
        {% endfor %}

        {% hook 'customer:wishlist.items.end' %}
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'customer.js' | asset }}"></script>
{% endblock %}
