{% for key, option in product.options %}
    {% if option.type == "splitter" %}
        <div class="product-section splitter"></div>
    {% else %}
        <section class="bg-white p-5 rounded-md mb-5 {{ option.visibility_condition?'hidden':'' }}"
            {% if option.visibility_condition %}
                data-visibility-option="{{ option.visibility_condition.option }}"
                data-visibility-operator="{{ option.visibility_condition.operator }}"
                data-visibility-value="{{ option.visibility_condition.value }}"
                data-key-prefix="{{ key_prefix }}"
            {% endif %}>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start mb-5">
                <label for="product-color" class="form-label">
                    <b class="block">
                        {{ option.name }}
                        {% if option.required %}<span class="text-red-500">*</span>{% endif %}
                    </b>
                    <small class="text-gray-text">{{ option.placeholder }}</small>
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ option.draw_field(product, key_prefix)|raw }}
                </div>
            </div>
        </section>
    {% endif %}
{% endfor %}