{#
| Variable                               | Type                        | Description                                                            |
|----------------------------------------|-----------------------------|------------------------------------------------------------------------|
| page                                   | object                      |                                                                        |
| page.title                             | string                      | *could be html                                                         |
| page.slug                              | string                      | ex: "cat.show"                                                         |
| product                                | Product                     |                                                                        |
| product.id                             | int                         |                                                                        |
| product.name                           | string                      |                                                                        |
| product.description                    | string                      | HTML                                                                   |
| product.url                            | string                      |                                                                        |
| product.promotion_title                | string                      |                                                                        |
| product.subtitle                       | string                      |                                                                        |
| product.type                           | string                      | product, service, group_products, codes, digital, food, donating       |
| product.status                         | string                      | sale, out, out-and-notify                                                              |
| product.rating                         | Rating|null                 |                                                                        |
| product.rating.count                   | int                         |                                                                        |
| product.rating.stars                   | int                         |                                                                        |
| product.price                          | MoneyTaxable                | can be string too `-`, when merchant doesn't want to show zero         |
| product.sale_price                     | MoneyTaxable                |                                                                        |
| product.regular_price                  | MoneyTaxable                |                                                                        |
| product.starting_price                 | ?float                      |                                                                        |
| product.quantity                       | ?int                        | if it's null, means it's unlimited                                     |
| product.sold_quantity                  | int                         |                                                                        |
| product.max_quantity                   | int                         |                                                                        |
| product.discount_ends                  | ?date                       |                                                                        |
| product.is_taxable                     | bool                        | Is the tax included in the price                                       |
| product.category                       | ?Category                   |                                                                        |
| product.category.name                  | string                      |                                                                        |
| product.category.url                   | string                      |                                                                        |
| product.image                          | object                      |                                                                        |
| product.image.url                      | string                      |                                                                        |
| product.image.alt                      | ?string                     |                                                                        |
| product.images                         | array                       |                                                                        |
| product.images[].id                    | int                         |                                                                        |
| product.images[].url                   | string                      |                                                                        |
| product.images[].alt                   | ?string                     |                                                                        |
| product.images[].video_url             | ?string                     |                                                                        |
| product.images[].type                  | string                      | `image` `video`                                                        |
| product.brand                          | object                      |                                                                        |
| product.brand.url                      | string                      |                                                                        |
| product.brand.name                     | string                      |                                                                        |
| product.brand.logo                     | string                      |                                                                        |
| product.tags                           | ?Tags[] *Collection         |                                                                        |
| product.tags[].name                    | string                      |                                                                        |
| product.tags[].url                     | string                      |                                                                        |
| product.options                        | ProductOption[] *Collection | @see views/pages/partials/product/options.twig                         |
| product.notify_availability            | ?object                     | does product outOfStock & can visitor subscribe to notify availability |
| product.notify_availability.channels   | array                       | ex: ['sms', 'email']                                                   |
| product.notify_availability.subscribed | bool                        | Does user subscribed before                                            |
| product.donation                       | ?ProductDonation            | @see views/components/product/donation-progress-bar.twig               |
| product.has_read_more                  | bool                        |                                                                        |
| product.can_add_note                   | bool                        |                                                                        |
| product.can_show_remained_quantity     | bool                        |                                                                        |
| product.can_show_sold                  | bool                        |                                                                        |
| product.can_upload_file                | bool                        |                                                                        |
| product.has_custom_form                | bool                        | Is it for  `Food` or `Custom Service` product                          |
| product.has_options                    | bool                        |                                                                        |
| product.is_on_sale                     | bool                        | Product has discounted price                                           |
| product.is_hidden_quantity             | bool                        | The quantity is hidden by merchant, or product not available           |
| product.is_available                   | bool                        |                                                                        |
| product.is_donation                    | bool                        |                                                                        |
| product.is_in_wishlist                 | bool                        |                                                                        |
| product.is_out_of_stock                | bool                        |                                                                        |
#}
{% extends "layouts.master" %}
{% block styles %}
    <link rel="stylesheet" href="{{ 'flatpickr.css' | asset }}">
    <link rel="stylesheet" href="{{ 'filepond.css' | asset }}">
{% endblock %}
{% block content %}
    <div class="container">
        {# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
        <nav class="breadcrumbs w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>
        <div class="flex flex-col items-start md:flex-row" id="product-{{ product.id }}">
            <div class="sidebar md:sticky top-24 w-full md:!w-2/4  me-8 pb-8 md:pb-16 overflow-hidden shrink-0">
                <div class="swiper relative details-slider rounded-md"
                     id="details-slider-{{ product.id }}">
                    {% if(product.promotion_title) %}
                        <div class="absolute z-10 top-4 start-0">
                            <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ product.promotion_title }}</div>
                        </div>
                    {% endif %}

                    <salla-button
                      class="btn--wishlist animated"
                      data-id="{{ product.id }}"
                      onclick="salla.wishlist.toggle({{ product.id }})"
                      shape="icon"
                      fill="outline"
                      color="light">
                        <i class="sicon-heart"></i>
                    </salla-button>

                    {# Calories Badge #}
                    {% if product.calories %}
                        <div class="absolute z-[2] top-4 rtl:left-4 ltr:right-4 bg-white shadow-sm flex flex-col justify-center items-center rounded-full w-20 h-20 md:w-24 md:h-24">
                            <span class="text-red-500 text-xl leading-none font-bold">{{ product.calories }}</span>
                            <span class="text-xs text-gray-500">{{ trans('pages.products.calories') }}</span>
                        </div>
                    {% endif %}

                    {% set has_many_images = product.images|length > 1 %}
                    <div class="swiper-wrapper">
                        {% for image in product.images %}
                            {% if image.three_d_image_url %}
                                <model-viewer style="min-height: 500px;" class="swiper-slide w-full h-full"
                                              loading="eager" camera-controls
                                              touch-action="pan-y" auto-rotate
                                              poster="{{ image.url }}"
                                              src="{{ image.three_d_image_url }}"
                                              shadow-intensity="1" alt="{{ image.alt }}"></model-viewer>
                            {% else %}
                                <a data-fslightbox="product_{{ product.id }}"
                                   data-img-id="{{ image.id }}"
                                   data-slid-index="{{ loop.index-1 }}"{% if image.video_url %} data-video-src="{{ image.video_url }}"{% endif %}
                                   data-caption="{{ image.alt }}"
                                   data-infinite="false"
                                   data-type="{{ image.video_url?'youtube':'image' }}"
                                   href="{{ image.video_url?image.video_url:image.url }}"
                                   aria-label="{{ product.name }}"
                                   class="swiper-slide homeslider__slide {{ image.video_url?'video-entry':'' }}">
                                    {% if loop.first %}
                                        <img fetchpriority="high" loading="eager" src="{{ image.url }}"
                                             alt="{{ image.alt }}"
                                             class="h-full object-{{ theme.settings.get('slider_background_size') }} w-full">
                                    {% else %}
                                        <img src="{{ 'images/s-empty.png' | asset }}" data-src="{{ image.url }}"
                                             alt="{{ image.alt }}"
                                             class="lazy-load h-full object-{{ theme.settings.get('slider_background_size') }} w-full">
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if has_many_images %}
                        <button aria-label="Previous Slide" class="slider-prev btn--md-white-arrow">
                            <i class="sicon-keyboard_arrow_right"></i>
                        </button>
                        <button aria-label="Next Slide" class="slider-next btn--md-white-arrow">
                            <i class="sicon-keyboard_arrow_left"></i>
                        </button>
                    {% endif %}
                </div>

                {% if has_many_images %}
                    <div thumbsSlider="" class="swiper slider-layout thumbs-slider mt-4 {{ product.images|length > 4 ? '!pe-10' : ''}}"
                         id="thumbs-slider-{{ product.id }}">
                        <div class="swiper-wrapper flex items-stretch">
                            {% for image in product.images %}
                                <div class="swiper-slide slide--one-fourth {{ image.video_url?'video-entry':'' }}">
                                    {% if loop.index < 5 %}
                                        <img src="{{ image.url }}"
                                            loading="eager"
                                            fetchpriority="high"
                                            class="object-cover w-full h-full bg-gray-100 rounded-md overflow-hidden"
                                            title="{{ image.alt }}"
                                            alt="{{ image.alt }}"/>
                                    {% else %}
                                        <img data-src="{{ image.url }}" src="{{ 'images/s-empty.png' | asset }}"
                                            class="object-cover w-full h-full lazy-load bg-gray-100 rounded-md overflow-hidden"
                                            title="{{ image.alt }}"
                                            alt="{{ image.alt }}"/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="main-content w-full md:w-2/4 md:pb-16">

                {% hook 'product:single.description.start' %}

                {% if product.brand %}
                    <div class="product-brand mb-5 w-12">
                        <a class="brand-logo" href="{{ product.brand.url }}" title="{{ product.brand.name }}">
                            <img width="100%" height="100%" class="max-h-full object-contain" src="{{ product.brand.logo }}"
                                 title="{{ product.brand.name }}"
                                 alt="{{ product.brand.name }}">
                        </a>
                    </div>
                {% endif %}

                {% if product.is_taxable %}
                    <small class="color-grey">{{ trans('pages.products.tax_included') }}</small>
                {% endif %}

                <h1 class="text-xl md:text-2xl leading-10 font-bold mb-6 text-gray-800">{{ product.name }}</h1>

                {% if product.subtitle %}
                    <h3 class="product-entry__sub-title text-sm text-gray-400 leading-6 mb-2.5">
                        {{ product.subtitle }}
                    </h3>
                {% endif %}

                {% if product.rating %}
                    <salla-rating-stars value="{{product.rating}}"></salla-rating-stars>
                {% endif %}

                <div class="mb-2 space-s-1">
                    <h4  class="total-price {{ product.is_on_sale ? 'text-red-400' : '' }} font-bold text-xl inline-block">
                        {{ product.price|money }}
                    </h4>
                    {% if product.is_on_sale %}
                        <span class="before-price text-gray-400 line-through">
                            {{ product.regular_price|money }}
                        </span>
                    {% endif %}
                </div>

                <div class="product__description leading-7 mb-3">
                    {% if product.has_read_more %}
                        <article class="article article--main relative overflow-hidden transition-all max-h-0 duration-300" id="more-content" style="max-height:5.25rem">
                            {{ product.description|raw }}
                        </article>

                        {# Read More Button #}
                        <a id="btn-show-more" class="link--primary inline-block mt-2 cursor-pointer">
                            {{ trans('pages.products.read_more') }}
                        </a>
                    {% else %}
                        <p class="pb-1">{{ product.description|raw }}</p>
                    {% endif %}
                </div>

                {% if product.tags|length and theme.settings.get('show_tags') %}
                    <div class="mb-3">
                        {% for tag in product.tags %}
                            <a href="{{ tag.url }}" class="me-2 inline-flex  text-gray-500 hover:text-primary underline text-sm mb-1">{{ tag.name }},</a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="flex space-s-3">
                    <salla-social-share class="hidden sm:inline-flex mb-5"></salla-social-share>

                    <salla-button
                      class="btn--wishlist animated hidden sm:inline-flex"
                      data-id="{{ product.id }}"
                      onclick="salla.wishlist.toggle({{ product.id }})"
                      shape="icon"
                      fill="outline"
                      color="light">
                        <i class="sicon-heart"></i>
                    </salla-button>
                </div>

                {% if product.sold_quantity or product.can_show_remained_quantity %}
                    <div class="bg-white py-2.5 mb-5 rounded-md inline-flex text-sm">
                        {% if product.sold_quantity %}
                            <div class="px-4 text-red-400">
                                <i class="sicon-fire me-1.5 "></i> {{ trans('pages.products.sold') }}
                                <span>{{ pluralize('pages.products.sold_times', product.sold_quantity)|raw }}</span>
                            </div>
                        {% endif %}
                        {% if product.can_show_remained_quantity %}
                            <div class="px-4 even:border-s even:border-gray-200">
                                <i class="text-red-400 sicon-box-bankers me-1.5 "></i>
                                {{ trans('pages.products.remained') }}
                                <span>{{ product.quantity }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if product.sku %}
                    <div class="mb-4 flex justify-between sm:grid sm:grid-cols-3 border rounded-md px-4 py-2">
                                <div class="flex items-center">
                                    <i class="sicon-barcode mx-1"></i>
                                    {{ trans('pages.products.sku') }}
                                </div>
                                <div class="text-unicode">{{ product.sku }}</div>
                    </div>
                {% endif %}
                {% hook 'product:single.description' %}

                {# Installment Methods #}
                <salla-installment price="{{product.price}}"></salla-installment>

                {% if product.show_availability %}
                    <section class="bg-white p-5 rounded-md mb-5 last:mb-0">
                        <div class="center-between">
                            <label class="flex items-center text-base">
                                <span class="sicon-location me-1"></span>
                                <span class="inline-block">{{ trans('pages.products.availability') }}</span>
                            </label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2 text-end">
                                <div class="flex space-s-3">
                                    <a href="#!" onclick="salla.event.dispatch('scopes::open', {mode: 'availability', product_id: {{ product.id }} })"
                                       class="group text-primary flex items-center justify-center">
                                        <span>{{ trans('pages.products.select_branch') }}</span>
                                        <span class="sicon-keyboard_arrow_left mr-2 transition-all group-hover:-translate-x-1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}

                <form class="form product-form" enctype="multipart/form-data" method="post"
                      onchange="salla.product.getPrice(new FormData(event.currentTarget))"
                      onsubmit="return salla.form.onSubmit('cart.addItem', event)" novalidate>
                    <input type="hidden" name="id" value="{{ product.id }}">

                    <salla-conditional-fields>
                        {% hook 'product:single.form.start' %}

                        {% include 'pages.partials.product.options' %}

                        {% hook 'product:single.form.end' %}
                    </salla-conditional-fields>


                    <section class="sticky-product-bar bg-white p-5 rounded-md rounded-b-none">
                        {# Quantity #}
                        {% if product.is_hidden_quantity %}
                            <input type="hidden" value="1" name="quantity"/>
                        {% else %}
                            <div class="sticky-product-bar__quantity center-between mb-5">
                                <label class="form-label font-bold">
                                    {{ trans('pages.products.quantity') }}
                                </label>
                                <salla-quantity-input max="{{ product.max_quantity }}" value="1" name="quantity"
                                                      class="border-gray-200 flex justify-end"></salla-quantity-input>
                            </div>
                        {% endif %}

                        {# Price #}
                        <div class="sticky-product-bar__price center-between">
                            <label class="form-label">
                                <b class="block">
                                    {{ trans('pages.products.price') }}
                                </b>
                            </label>
                            <div class="space-s-1">
                                <h4  class="total-price {{ product.is_on_sale ? 'text-red-400' : '' }} font-bold text-xl inline-block">
                                    {{ product.price|money }}
                                </h4>
                                {% if product.is_on_sale %}
                                    <span class="before-price text-gray-400 line-through">
                                        {{ product.regular_price|money }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        {# Add to cart #}
                        <salla-add-product-button type="submit" loader-position="end" width="wide"
                                                  class="mt-5 w-full sticky-product-bar__btn"
                                                  product-id="{{ product.id }}"
                                                  product-status="{{ product.status }}"
                                                  product-type="{{ product.type }}"
                                                  channels="{{ product.notify_availability.channels|join(',') }}"
                                {{ product.notify_availability.subscribed ? 'is-subscribed' : '' }}>
                            {{ product.add_to_cart_label }}
                        </salla-add-product-button>
                    </section>
                    {% if product.is_giftable %}
                        <div class="mt-5">
                            <salla-gifting product-id="{{ product.id }}"></salla-gifting>
                        </div>
                    {% endif %}
                </form>

                {% hook 'product:single.description.end' %}
            </div>
        </div>
        {% component 'product.offer' %}
    </div>

    {% component 'comments' %}
    {% component 'product.similar-products' %}
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'filepond.js' | asset }}"></script>
    <script defer src="{{ 'product.js' | asset }}"></script>
    {% if product.has_3d_image %}
        <script type="module" defer src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% endif %}
{% endblock %}
