<li class="text-sm font-bold" {{ menu.attrs }}>
    {% if not menu.has_children %}
        <a {{ menu.link_attrs }} href="{{ menu.url }}" class="text-dark">{{ menu.title }}</a>
    {% else %}
        <span>{{ menu.title }}</span>
        <ul>
            <li class="text-sm font-bold"><a href="{{ menu.url }}" class="text-dark">{{ menu.title }}</a></li>
            {% for submenu in menu.children %}
                {% include _self with {menu:submenu} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>