
<li class="{{ is_root_menu?'inline-block':'hover:bg-light-gray' }} {{ menu.mega_menu?'mega-menu': '' }}" {{ menu.attrs|raw }}>
    <a href="{{ menu.url }}"
       class="flex justify-between items-center transition duration-300 p-2 ps-3 text-dark text-sm hover:text-primary hover:no-underline	{{is_root_menu? 'font-bold py-8':''}}">
        <span>{{ menu.title }}</span>
        {% if menu.has_children %}
            <i class="{{ is_root_menu?'sicon-keyboard_arrow_down':'sicon-keyboard_arrow_left' }} inline-block transition-transform duration-300 self-end mx-0.5 text-lg opacity-50 leading-4"></i>
        {% endif %}
    </a>
    {% if menu.has_children %}
        <div class="sub-menu z-20 transition transition-delay-300 opacity-0 invisible absolute bg-white {{ menu.mega_menu?'w-full left-0 flex': 'w-56 pb-2'}} transform -translate-y-3 top-full shadow-default">
          <ul class="{{ menu.mega_menu?'w-56 flex-shrink-0 m-8 me-0': ''}}">
              {# <h2 class="pt-5 px-5 pb-2 font-bold text-base">{{ menu.title }}</h2> #}
              {% for submenu in menu.children %}
                  {% include _self with {menu:submenu, is_root_menu:false} %}
              {% endfor %}
          </ul>
          {% if menu.mega_menu %}
              <div class="flex-grow-1 p-8">
                <div class="grid gap-8 grid-cols-4">
                  {% for product in menu.mega_menu|slice(0, 4) %}
                      {# {% include 'pages.partials.product.card' with {block_classes:'anime-mega-item'} %} #}
                    <div id="" class='product-entry product-entry--vertical relative h-full transition-shadow duration-500 bg-white shadow-default
                      rounded-lg justify-around overflow-hidden flex flex-col'>
                      <a href="/single" class='product-entry__image relative overflow-hidden hover:opacity-90 w-full
                          h-40
                          '>
                          <img class="sm:h-full w-full object-cover" src="{{asset('images/products/product-3.jpg')}}" alt="product image" />
                          <div class="absolute top-4 start-0 z-20">
                            <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">عرض خاص</div>
                          </div>
                      </a>
                      <div class="flex-1 px-5 pt-5 pb-7 ">
                          <div class="flex  justify-between items-baseline">
                            <h3 class="product-entry__title  text-sm font-bold text-title-color leading-6 mb-2.5">
                                <a class="hover:text-primary" href="/single">وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة</a>
                            </h3>
                          </div>
                          <div class="w-full flex justify-between items-center mb-5">
                            <div class="space-s-1">
                                <h4 class="text-theme-red font-bold text-sm inline-block">‏600 ر.س</h4>
                                <span class="text-sm text-gray-text line-through">‏850 ر.س</span>
                            </div>
                            <div class="text-gray-text">
                                <div class="text-sm">
                                  <i class="sicon-star2 text-theme-yellow"></i>
                                  <span>4.5</span>
                                </div>
                            </div>
                          </div>
                          <div class="flex items-center">
                            <button x-data="initAddToCart()"  @click="addToCart('')"  class="add-to-cart-btn anime-btn transition duration-300 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">اضف للسلة</button>
                            <script>
                                function initAddToCart(){
                                    return{
                                        addToCart: function(id){
                                            let newId = id.replace(/product_/g,'');
                                            window.addTocartAnimation(newId);
                                        }
                                    }
                                }
                            </script>
                            <div class="text-gray-text">
                                <button x-data="initAddToFavorite()" @click="toggleFavorite()"
                                  class="w-10 h-10 ">
                                <i :class="inFavorite ? 'sicon-heart-off' : 'sicon-heart'"></i>
                                </button>
                                <script>
                                  function initAddToFavorite() {
                                      return {
                                          reminderModal: false,
                                          inFavorite: false,
                                          showMore: false,
                                          toggleFavorite: function () {
                                              this.inFavorite = !this.inFavorite;
                                          },
                                      }
                                  }
                                </script>
                            </div>
                          </div>
                      </div>
                    </div> 
                  {% endfor %}
                </div>
              </div>
          {% endif %}
          
        </div>
    {% endif %}
</li>