{#
| Variable                    | Type          | Description                                   | @see |
|-----------------------------|---------------|-----------------------------------------------|------|
| advertisement               | Advertisement |                                               | TODO |
| advertisement.id            | Integer       |                                               |      |
| advertisement.icon          | String        | Css class                                     |      |
| advertisement.title         | String        |                                               |      |
| advertisement.description   | String        |                                               |      |
| advertisement.url           | ?String       |                                               |      |
| advertisement.close_url     | String        | * Should be client side to avoid cache issues |      |
| advertisement.colors        | Object        |                                               |      |
| advertisement.colors.bg     | String        | Hex Color ex: #23d1b0                         |      |
| advertisement.colors.text   | String        | Hex Color ex: #ffffff                         |      |
| advertisement.is_new_window | Bool          | link should opens in a new window             |      |
#}
<div id="s-theme_preview_bar" class="s-theme-preview-bar py-2.5"  style="background-color:{{ advertisement.colors.bg }}; color:{{ advertisement.colors.text }}">
    <div class="container flex justify-between items-center">
        <h2 class="font-bold text-sm">
            {% if advertisement.icon %}
                <span class="{{ advertisement.icon }}"></span>
            {% endif %}
            {% if advertisement.url %}
                <a href="{{ advertisement.url }}"{% if advertisement.is_new_window %} target='_blank' {% endif %}>
                    {{ advertisement.description }}
                </a>
            {% else %}
                {{ advertisement.description }}
            {% endif %}
        </h2>
        <a href="#" class="px-1">
            <i class="sicon-cancel"></i>
        </a>
    </div>
</div>