{#
| Variable                    | Type          | Description                                   |
|-----------------------------|---------------|-----------------------------------------------|
| advertisement               | Advertisement |                                               |
| advertisement.id            | int           |                                               |
| advertisement.icon          | string        | Css class                                     |
| advertisement.title         | string        |                                               |
| advertisement.description   | string        |                                               |
| advertisement.url           | ?string       |                                               |
| advertisement.close_url     | string        | * Should be client side to avoid cache issues |
| advertisement.colors        | object        |                                               |
| advertisement.colors.bg     | string        | Hex Color ex: #23d1b0                         |
| advertisement.colors.text   | string        | Hex Color ex: #ffffff                         |
| advertisement.target        | string        | `_self`, `_blank`                             |
#}
<div id="s-theme_preview_bar" class="s-theme-preview-bar py-2.5" style="background-color:{{ advertisement.colors.bg }}; color:{{ advertisement.colors.text }}">
    <div class="container flex justify-between items-center">
        <h2 class="font-bold text-sm">
            {% if advertisement.icon %}
                <span class="{{ advertisement.icon }}"></span>
            {% endif %}
            {% if advertisement.url %}
                <a href="{{ advertisement.url }}" target='{{ advertisement.target }}'>
                    {{ advertisement.description }}
                </a>
            {% else %}
                {{ advertisement.description }}
            {% endif %}
        </h2>
        <a href="#" class="px-1">
            <i class="sicon-cancel"></i>
        </a>
    </div>
</div>