{#
| Variable            | Type                   | Description |
|---------------------|------------------------|-------------|
| current             | Currency               |             |
| current.code        | string                 |             |
| current.symbol      | string                 |             |
| current.name        | string                 |             |
| currencies          | Currency[] *Collection |             |
| currencies[].code   | string                 |             |
| currencies[].symbol | string                 |             |
| currencies[].name   | string                 |             |
#}

<div class="mb-8 last:mb-0">
  <label class="text-base font-medium text-gray-900">{{ trans('common.titles.currency') }}</label>
  {# <p class="text-sm leading-5 text-gray-500">{{ trans('blocks.header.change_currency') }}</p> #}
  <fieldset class="mt-4">
    <legend class="sr-only">{{ trans('blocks.header.change_currency') }}</legend>
    <div class="space-y-4">

      {% for currency in currencies %}
        <div class="flex items-center">
          <input id="currency-{{ currency.code }}" name="currency" type="radio" value="{{ currency.code }}" {{ current.code == currency.code ? 'checked':'' }} class="focus:ring-primary h-4 w-4 text-primary border-gray-300">
          <label for="currency-{{ currency.code }}" class="ms-3 flex items-center justify-between text-sm font-medium text-gray-700 flex-grow cursor-pointer">
            <span>{{ currency.name }}</span>
            <small class="text-gray-400">{{currency.code}}</small>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <select class="form-input appearance-none visibility_condition mt-6 hidden" name="currency">
      <option placeholder value="">{{ currency.name }}</option>
      {% for currency in currencies %}
          <option {{ current.code == currency.code ? "selected" : "" }} value="{{ currency.code }}">
            <div class="flag iti__flag iti__{{ currency.code|lower| slice(0, -1) }} me-1.5"></div> {{ currency.name }}
          </option>
      {% endfor %}
  </select>
</div>
