{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |

* It's important to put all Header components here, to be excluded in mobile apps
#}
{% component 'header.theme-preview-bar' %}

{# Top nav ------------------------------------ #}
<div class="{{ theme.topnav_is_dark ? 'dark':'' }}">
    <div id="top-nav" class="py-2 lg:py-0
    {{ theme.topnav_bg ? '!bg-[color:var(--topnav-bg)]' : '' }}
    {{ theme.topnav_bg_gradient ? 'bg-gradient-to-r !from-[color:var(--topnav-gradient-from)] !to-[color:var(--topnav-gradient-to)]' : '' }}
    {{ theme.topnav_text_color ? '!text-[color:var(--topnav-text-color)]' : '' }}
    {{ theme.topnav_is_dark ? 'dark:bg-gray-800 dark:text-gray-300': '' }}
    ">
        <div class="container">
            <div class="flex justify-center lg:justify-between">
                <div class="flex items-center">
                    {% component 'footer.pages' with {is_header:true} %}
                    {% component 'header.language-switcher' %}
                    {% component 'header.currency-switcher' %}
                    <salla-search-modal></salla-search-modal>
                </div>
                {% component 'footer.contacts' with {is_header:true} %}
            </div>
        </div>
    </div>
</div>


{# Main Nav --------------------------- #}
<div class="{{ theme.mainnav_is_dark ? 'dark': '' }}">
    <header id="site-header-outer" class="site-header-container shadow-default
    {{ theme.mainnav_bg ? '!bg-[color:var(--mainnav-bg)]' : '' }}
    {{ theme.mainnav_text_color ? '!text-[color:var(--mainnav-text-color)]' : '' }}
    {{ theme.mainnav_is_dark ? 'dark:bg-gray-700 dark:text-gray-300': 'bg-white' }}
    ">
        <div class="site-header bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse" href="#mobile-menu">
                            <span class="sicon-menu text-primary text-3xl me-2.5"></span>
                        </a>
                        <a class="site-logo theme-logo navbar-brand items-center flex my-2 lg:my-0"
                           href="{{ store.url }}">
                            <img src="{{ store.logo }}" alt="{{ store.name }}"
                                 class="max-h-14 sm:max-h-16 max-w-[170px]">
                            {# <h1 class="text-2xl text-primary font-bold mx-1.5 fix-align">{{store.name}}</h1> #}
                            <h1 class="hidden">{{ store.name }}</h1>
                        </a>

                        {% component 'header.main-menu' %}

                        <ul class="hidden lg:flex flex-wrap main-menu items-center mx-6">
                            {% for menu_id, menu in menus %}
                                {% include 'components.header._menu-item' with {is_root_menu:true} %}
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="flex items-center">

                        {# User Menu #}
                        {% if user %}

                            <div class="relative inline-flex items-center h-full w-10 mx-1 md:mx-2 text-gray-500"
                                 x-data="{toggleMenu: false}">
                                <button @click="toggleMenu = !toggleMenu" type="button"
                                        class="dropdown-trigger  border dark:border-gray-600 rounded-full overflow-hidden w-10 h-10 font-medium focus:ring-offset-transparent"
                                        id="menu-button" aria-expanded="true" aria-haspopup="true">
                                    <img class="h-10 w-10 object-cover" src="{{ user.avatar }}" alt="">
                                </button>
                                <div x-cloak x-show="toggleMenu" @click.away="toggleMenu = false"
                                     x-transition:enter="transition ease-out duration-100"
                                     x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100"
                                     x-transition:leave="transition ease-in duration-75"
                                     x-transition:leave-start="transform opacity-100 scale-100"
                                     x-transition:leave-end="transform opacity-0 scale-95"
                                     class="origin-top-right absolute z-30 w-56 rounded-b-md shadow-default bg-white dark:bg-gray-700  inset-top-shadow top-full after:border-t
                      {{ theme.mainnav_bg ? '!bg-[color:var(--mainnav-bg)]': 'bg-white ' }}
                      {{ theme.mainnav_is_dark ? 'dark:bg-gray-800 after:border-gray-300/10': 'after:border-gray-300/30' }}
                      "
                                     role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                     tabindex="-1">

                                    <ul class="py-2 space-y-px">
                                        {% component 'header.notifications' %}
                                        <li>
                                            <a href="{{ link('orders') }}"
                                               class="block px-4 py-2 text-sm transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/10 {{ is_link('orders') and not is_link('pending_orders') ?  'text-primary bg-gray-200/20':'hover:text-gray-600 ' }}">
                                                <i class="sicon-packed-box me-3"></i>
                                                <span>{{ trans('common.titles.orders') }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ link('wishlist') }}"
                                               class="block px-4 py-2 text-sm transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/10 {{ is_link('wishlist')?  'text-primary bg-gray-200/20':'hover:text-gray-600 ' }}">
                                                <i class="sicon-heart me-3"></i>
                                                {{ trans('common.titles.wishlist') }}
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ link('profile') }}"
                                               class="block px-4 py-2 text-sm transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/10 {{ is_link('profile')?  'text-primary bg-gray-200/20':'hover:text-gray-600' }}">
                                                <i class="sicon-settings me-3"></i>
                                                {{ trans('common.titles.profile') }}
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#"
                                               data-on-click="auth-logout"
                                               class="block px-4 py-2 text-sm text-red-500 transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/10">
                                                <i class="sicon-send-out me-3"></i>
                                                {{ trans('blocks.header.logout') }}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <salla-login></salla-login>
                        {% endif %}

                        <div class="flex items-center ms-4" id="main-cart-btn">
                            <a href="{{ link('cart') }}" class="me-1 relative ">
                                <i class="cart-icon block sicon-shopping-bag text-3xl"></i>
                                <div data-cart-badge
                                     class="opacity-0 anime-count absolute top-1 -start-2 bg-primary text-reverse w-6 h-6 rounded-full flex items-start justify-center font-bold text-sm">
                                    {{ cart.items_count }}</div>
                            </a>
                            <div class="whitespace-nowrap">
                                <p class="leading-3 opacity-60">{{ trans('blocks.header.cart') }}</p>
                                <b class="leading-3" data-cart-total>{{ cart.total }}</b>
                            </div>
                        </div>

                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                animateCount()
                            })

                            function animateCount() {
                                anime({
                                    targets : '.anime-count',
                                    opacity : [0, 1],
                                    duration: 2000,
                                    scale   : [0.5, 1],
                                    delay   : function (el, i) {
                                        return i * 100;
                                    },
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


{# Main Mobiel Menu --------------------------- #}
{% component 'header.main-menu' with {is_mobile:true} %}