{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |

* It's important to put all Header components here, to be excluded in mobile apps
#}
{# Top nav ------------------------------------ #}
<div class="{{ theme.topnav_is_dark ? 'dark':'' }}">
    <div id="top-nav" class="py-2 lg:py-0
    {{ theme.topnav_bg ? '!bg-[color:var(--topnav-bg)]' : '' }}
    {{ theme.topnav_bg_gradient ? 'bg-gradient-to-r !from-[color:var(--topnav-gradient-from)] !to-[color:var(--topnav-gradient-to)]' : '' }}
    {{ theme.topnav_text_color ? '!text-[color:var(--topnav-text-color)]' : '' }}
    {{ theme.topnav_is_dark ? 'dark:bg-gray-800 dark:text-gray-300': '' }}
    ">
        <div class="container">
            <div class="flex justify-center lg:justify-between">
                <div class="flex items-center">
                    {% component 'footer.pages' with {is_header:true} %}
                    {% component 'header.language-switcher' %}
                    {% component 'header.currency-switcher' %}
                    <salla-search-modal></salla-search-modal>
                </div>
                {% component 'footer.contacts' with {is_header:true} %}
            </div>
        </div>
    </div>
</div>


{# Main Nav --------------------------- #}
<div class="{{ theme.mainnav_is_dark ? 'dark': '' }}">
    <header id="site-header-outer" class="site-header-container shadow-default
    {{ theme.mainnav_bg ? '!bg-[color:var(--mainnav-bg)]' : '' }}
    {{ theme.mainnav_text_color ? '!text-[color:var(--mainnav-text-color)]' : '' }}
    {{ theme.mainnav_is_dark ? 'dark:bg-gray-700 dark:text-gray-300': 'bg-white' }}
    ">
        <div class="site-header bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse" href="#mobile-menu">
                            <span class="sicon-menu text-primary text-3xl me-2.5"></span>
                        </a>
                        <a class="site-logo theme-logo navbar-brand items-center flex my-2 lg:my-0"
                           href="{{ store.url }}">
                            <img src="{{ store.logo }}" alt="{{ store.name }}"
                                 class="max-h-14 sm:max-h-16 max-w-[170px]">
                            <h1 class="hidden">{{ store.name }}</h1>
                        </a>
                        {% component 'header.menu' %}
                    </div>
                    <div class="flex items-center justify-end min-w-[200px]">
                        {% component 'header.user-menu' %}
                        <div class="flex items-center ms-4" id="main-cart-btn">
                            <a href="{{ link('cart') }}" class="me-1 relative ">
                                <i class="cart-icon block sicon-shopping-bag text-3xl"></i>
                                <div data-cart-badge
                                     class="opacity-0 anime-count absolute top-1 -start-2 bg-primary text-reverse w-6 h-6 rounded-full flex items-start justify-center font-bold text-sm">
                                    {{ cart.items_count }}</div>
                            </a>
                            <div class="whitespace-nowrap">
                                <p class="leading-3 opacity-60">{{ trans('blocks.header.cart') }}</p>
                                <b class="leading-3" data-cart-total>{{ cart.total }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
{% component 'header.menu' with {is_mobile:true} %}