{#
| Variable             | Type       | Description                     |
|----------------------|------------|---------------------------------|
| current              | Language   | Current language                |
| current.name         | string     | Number of the items in the cart |
| current.is_rtl       | Bool       |                                 |
| current.code         | string     | ex: ar, en                      |
| current.url          | string     | Current url in this lang        |
| current.flag         | string     | Url of flag for the language    |
| current.country_code | string     | ex: Arabic=>sa, English=>gb     |
| current.order        | int        | Sort language in menu           |
| languages            | Language[] | List of the supported languages |
#}

<div class="mb-8">
  <label class="text-base font-medium text-gray-900">{{ trans('common.titles.language') }}</label>
  {# <p class="text-sm leading-5 text-gray-500">{{ trans('blocks.header.change_language') }}</p> #}
  <fieldset class="mt-4">
    <legend class="sr-only">{{ trans('blocks.header.change_language') }}</legend>
    <div class="space-y-4">
      {% for lang in languages %}
        <div class="flex items-center">
          <input id="lang-{{ lang.code|lower }}" name="lang" type="radio" value="{{ lang.code }}" {{ current.code == lang.code ? 'checked':'' }} class="focus:ring-primary h-4 w-4 text-primary border-gray-300">
          <label for="lang-{{ lang.code|lower }}" class="ms-3 flex items-center justify-between text-sm font-medium text-gray-700 flex-grow cursor-pointer">
            <span>{{ lang.name }}</span>
            <div class="flag iti__flag iti__{{ lang.country_code }} rounded-sm"></div>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <select class="form-input appearance-none visibility_condition mt-6 hidden" name="currency">
      <option placeholder value="">{{ lang.name }}</option>
      {% for lang in languages %}
          <option {{ current.code == lang.code ? "selected" : "" }} value="{{ lang.code }}">
            <div class="flag iti__flag iti__{{ lang.code|lower| slice(0, -1) }} me-1.5"></div> {{ lang.name }}
          </option>
      {% endfor %}
  </select>
</div>