<li class="{{ new_notifications_count ? 'has-badge' : '' }}">
    <a href="{{ link('notifications') }}">
        <span>
            <i class="sicon-school-bell"></i>
            <span>{{ trans('common.titles.notifications') }}</span>
        </span>
        {% if new_notifications_count %}
            <span id="notifications-count"
                  class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ new_notifications_count }}</span>
        {% endif %}
    </a>
</li>
<li class="{{ pending_orders_count ? 'has-badge' : '' }}">
    <a href="{{ link('pending_orders') }}">
        <span>
            <i class="sicon-cart"></i>
            <span>{{ trans('common.titles.pending_orders') }}</span>
        </span>
        {% if pending_orders_count %}
            <span id="pending-orders-count"
                  class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ pending_orders_count }}</span>
        {% endif %}
    </a>
</li>
