{#
| Variable                | Type    | Description |
|-------------------------|---------|-------------|
| new_notifications_count | Integer |             |
| pending_orders_count    | Integer |             |
#}
{% if is_profile_sidebar %}
    <a href="{{ link('notifications') }}"
       class="{% if is_link('notifications') %}active{% endif %} menu-item opacity-0 flex justify-between  items-center  px-6 py-2.5 text-sm hover:text-gray-500 transition-colors duration-300 hover:bg-gray-200/30 {{ is_link('notifications')? 'text-primary bg-gray-200/20':'text-gray-400' }}">
        <span>
            <i class="sicon-school-bell me-3 text-lg"></i>
            <span class="truncate"> {{ trans('common.titles.notifications') }}</span>
        </span>
        {% if new_notifications_count %}
            <span class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ new_notifications_count }}</span>
        {% endif %}
    </a>
    <a href="{{ link('pending_orders') }}"
       class="{% if is_link('pending_orders') %}active{% endif %} menu-item opacity-0 flex justify-between  items-center  px-6 py-2.5 text-sm hover:text-gray-500 transition-colors duration-300 hover:bg-gray-200/30 {{ is_link('pending_orders')? 'text-primary bg-gray-200/20':'text-gray-400' }}">
        <span>
        <i class="sicon-packed-box me-3 text-lg"></i>
        <span class="truncate"> {{ trans('common.titles.pending_orders') }}</span>
        </span>
        {% if pending_orders_count %}
            <span class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ pending_orders_count }}</span>
        {% endif %}
    </a>
{% else %}
    <li class="{{ new_notifications_count ? 'has-badge' : '' }}">
        <a href="{{ link('notifications') }}"
           class="flex justify-between  items-center px-4 py-2 text-sm transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/30 {{ is_link('notifications')? 'text-primary bg-gray-200/20':'hover:text-gray-500' }}">
           <span>
            <i class="sicon-bell-ring me-3"></i>
            <span>{{ trans('common.titles.notifications') }}</span>
            </span>
            {% if new_notifications_count %}
                <span id="notificationsCount"
                      class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ new_notifications_count }}</span>
            {% endif %}
        </a>
    </li>
    <li class="{{ pending_orders_count ? 'has-badge' : '' }}">
        <a href="{{ link('pending_orders') }}"
           class="flex items-center justify-between px-4 py-2 text-sm transition-colors duration-200 hover:bg-gray-200/30 dark:hover:bg-gray-200/30 {{ is_link('pending_orders')? 'text-primary bg-gray-200/20':'hover:text-gray-500' }}">
            <span>
                <i class="sicon-cart me-3"></i>
                <span> {{ trans('common.titles.pending_orders') }}</span>
            </span>
            {% if pending_orders_count %}
                <span class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ pending_orders_count }}</span>
            {% endif %}
        </a>
    </li>
{% endif %}