<li class="block px-4 py-2 text-sm transition-colors duration-200 hover:bg-light-gray hover:text-primary {{ new_notifications_count ? 'has-badge' : '' }}">
    <a href="{{ link('notifications') }}">
        <i class="sicon-bell-ring me-3"></i>
        <span>{{ trans('common.titles.notifications') }}</span>
        {% if new_notifications_count %}
            <span id="notifications-count"
                  class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ new_notifications_count }}</span>
        {% endif %}
    </a>
</li>
<li class="block px-4 py-2 text-sm transition-colors duration-200 hover:bg-light-gray hover:text-primary {{ pending_orders_count ? 'has-badge' : '' }}">
    <a href="{{ link('pending_orders') }}">
        <i class="sicon-cart me-3"></i>
        <span> {{ trans('common.titles.pending_orders') }}</span>
<li class="{{ pending_orders_count ? 'has-badge' : '' }}">
    <a href="{{ link('pending_orders') }}">
        <span>
            <i class="sicon-cart"></i>
            <span>{{ trans('common.titles.pending_orders') }}</span>
        </span>
        {% if pending_orders_count %}
            <span id="pending-orders-count"
                  class="bg-theme-red rounded-full inline-block text-center w-6 h-6 text-white pt-0.5 text-xs">{{ pending_orders_count }}</span>
        {% endif %}
    </a>
</li>
