<div class="{{ store.theme.settings.topnav_is_dark ? 'dark':''}}">
  <div id="top-nav" class="py-2 lg:py-0 
    {{ store.theme.settings.topnav_bg ? '!bg-[color:var(--topnav-bg)]' : ''}}
    {{ store.theme.settings.topnav_bg_gradient ? 'bg-gradient-to-r !from-[color:var(--topnav-gradient-from)] !to-[color:var(--topnav-gradient-to)]' : ''}}
    {{ store.theme.settings.topnav_text_color ? '!text-[color:var(--topnav-text-color)]' : ''}}
    {{ store.theme.settings.topnav_is_dark ? 'dark:bg-gray-800 dark:text-gray-300': ''}}
    ">
    <div class="container">
      <div class="flex justify-center lg:justify-between">
        <div class="flex items-center">
          {% component 'header.page-links' as pagesLinks %}
          {% component 'header.language-switcher' %}
          {% component 'header.currency-switcher' %}
          <salla-search-modal></salla-search-modal>

        </div>
        {% component 'header.contacts' as contacts %}
      </div>
    </div>
  </div>
</div>