<!DOCTYPE html>
<html lang="{{ language.code }}" dir="{{ language.dir }}">
<!-- بسم الله الرحمن الرحيم -->
<head>
    <script>
        var baseUrl = '{{ link('/') }}';
        var is_rtl = parseInt({{ is_rtl?1:0 }});
        window.locale = "{{ language.code }}";
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% hook 'head:start' %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="{{ theme.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.color }}">

    <!-- fav icon -->
    <link rel="icon" type="image/png" href="{{ store.fav_icon ?? store.logo }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ store.logo }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ store.logo }}">
    <meta name="_token" content="{{ csrf_token() }}">
    {% hook 'head' %}
    {# <link rel="preconnect" href="https://www.googletagmanager.com"/> #}
    {# <link rel="preconnect" href="https://assets.salla.sa"/> #}
    {% if is_rtl %}
        {% if is_home %}
        {% else %}
        {% endif %}

    {% else %}
        {% if is_home %}
        {% else %}
        {% endif %}
    {% endif %}
    {# {% set font_name=store.theme.font.name?:'DINNextLTArabic-Regular' %} #}

    {# <link rel="stylesheet" href="{{ asset(store.theme.font.path) }}"/> #}

    {# tracking services, custom css feature. #}
    {% hook 'head:end' %}
    {% block head %}{% endblock %}

    <script type="module" src="http://localhost:3333/build/salla-web-components.esm.js" data-stencil></script>
    <script nomodule="" src="http://localhost:3333/build/salla-web-components.js" data-stencil></script>

    <style>
      :root{
        {% if store.theme.topnav_bg %}
          --topnav-bg: {{store.theme.topnav_bg}};
        {% endif %}

        {% if store.theme.topnav_text_color %}
          --topnav-text-color: {{store.theme.topnav_text_color}};
        {% endif %}

        {% if store.theme.topnav_link_hover %}
          --topnav-link-hover: {{store.theme.topnav_link_hover}};
        {% endif %}

        {% if store.theme.topnav_bg_gradient %}
          --topnav-gradient-from: {{store.theme.topnav_bg_gradient_from}};
          --topnav-gradient-to: {{store.theme.topnav_bg_gradient_to}};
        {% endif %}
      }
    </style>
</head>

<body id="app" class="{% hook 'body:classes' %}">
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">To enable JavaScript on webpage</a>.
</noscript>
<div class="app-inner">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    {# {% component 'breadcrumbs' %} #}
    {% block content %}{% endblock %}
    {% hook 'body' %}
    {% component 'footer.footer' %}
</div>

<script defer src="{{ link("languages/assets/#{store.theme.translations_hash}.js") }}"></script>
<script defer src="{{ asset('dist/app.js') }}"></script>
{% if not is_home %}
    <script type="text/javascript" defer src="{{ asset('dist/inner.js') }}"></script>
{% endif %}

{% if not user %}
    <script type="module" defer src="{{ asset('dist/salla_login.js') }}"></script>
{% endif %}

{# <link rel="preload" href="{{ asset('dist/filepond.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
{# <script defer src="{{ asset('dist/filepond.js') }}"></script> #}
{# <script defer src="{{ asset('test/plugins/flatpickr.min.js') }}"></script> #}
{% hook 'body:end' %}
{% hook 'scripts' %}
{% block scripts %}{% endblock %}
{% if error %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            salla.error('{{ error }}');
        })
    </script>
{% endif %}
</body>
</html>