<!DOCTYPE html>
<!-- بسم الله الرحمن الرحيم -->
<html lang="{{ language.code }}" dir="{{ language.dir }}">
<head>
    <script>
        var baseUrl = '{{ link('/') }}';
        var is_rtl = parseInt({{ is_rtl?1:0 }});
        window.locale = "{{ language.code }}";
    </script>
    {% hook 'head:start' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- theme color -->
    <meta name="theme-color" content="{{ theme.color }}">
    <meta name="msapplication-navbutton-color" content="{{ theme.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.color }}">
    <!-- fav icon -->
    <link rel="icon" type="image/png" href="{{ store.favIcon ?? store.logo }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ store.logo }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ store.logo }}">
    <meta name="_token" content="{{ csrf_token() }}">
    {# SEO Meta Tags #}
    {% hook 'head' %}
    <link rel="preconnect" href="https://www.googletagmanager.com"/>
    <link rel="preconnect" href="https://assets.salla.sa"/>
    <link rel="stylesheet" href="https://assets.salla.cloud/sallaicons.css" />

    {% if is_rtl %}
        <link rel="stylesheet" href="{{ asset('dist/css/bootstrap-rtl-grid.min.css') }}">
        {% if is_home %}
            <link rel="stylesheet" href="{{ asset('dist/css/app-homepage.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/intl-tel-input.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('dist/css/choices.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/filepond.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/filepond-plugin-file-poster.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/flatpickr.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/intl-tel-input.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/fancybox.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/app.css') }}">
      {% endif %}

    {% else %}
        <link rel="stylesheet" href="{{ asset('dist/css/bootstrap-grid.min.css') }}">
        {% if is_home %}
            <link rel="stylesheet" href="{{ asset('dist/css/app-ltr-homepage.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/intl-tel-input.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('dist/css/choices.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/filepond.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/filepond-plugin-file-poster.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/flatpickr.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/intl-tel-input.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/fancybox.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/app-ltr.css') }}">
      {% endif %}
    {% endif %}
    {% set font_name=store.theme.font.name?:'DINNextLTArabic-Regular' %}

    <style>
        :root {
            /* main colors ---*/
            --color-main: {{ store.theme.color }};
            --color-main-d: {{ store.theme.darker_color(0.15) }};
            --color-main-l: {{ store.theme.lighter_color(0.15) }};
            --color-main-reverse: {{ store.theme.reverse_color }};
            --color-text: {{ store.theme.text_color }};
            --color-text-reverse: {{ store.theme.reverse_text_color }};
            --color-title: {{ store.theme.color }};
            /* new variables */
            --color-secondary: {{ store.theme.color }}; {#{{ store.theme.darker_color(0.8) }};#} /* may come from dashboard - for now let's make it darker version of main color */
            {# store.theme.font.name?:'DINNextLTArabic-Regular' #}
            --font-main: '{{font_name}}';
            {# Regular #}
            --font-light: '{{font_name}}';
            {# Light'; #}
            --font-regular: '{{font_name}}';
            {# Regular'; #}
            --font-medium: '{{font_name}}-Medium';
            {# Medium'; #}
            --font-bold: '{{font_name}}-Bold';
            {# Medium'; #}
        }

        .sf-dump {
            direction: ltr;
            text-align: left;
        }
    </style>
    <link rel="stylesheet" href="{{ asset(store.theme.font.path) }}" />
    {% block styles %}{% endblock %}

    {# tracking services, custom css feature. #}
    {% hook 'head:end' %}
    {% block head %}{% endblock %}
</head>
<body class="{% hook 'body:classes' %}">
<!-- body overlay -->
<div class="body-blackout"></div>
{% hook 'body:start' %}
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">To enable JavaScript on webpage</a>.
</noscript>
{% component 'header.header' %}
{% component 'breadcrumbs' %}
{% hook 'body' %}
{% block content %}{% endblock %}
{% component 'footer.footer' %}
{% hook 'body:end' %}
</body>
<script src="https://cdn.polyfill.io/v3/polyfill.min.js?flags=gated&features=Promise%2CObject.assign%2CObject.values%2CArray.prototype.find%2CArray.prototype.findIndex%2CArray.prototype.includes%2CString.prototype.includes%2CString.prototype.startsWith%2CString.prototype.endsWith%2Cdocument.getElementsByClassName%2CPromise.prototype.finally%2CString.prototype.includes%2CNumber.isNaN%2Ces6%2CEvent%2CCustomEvent"></script>
<script type="text/javascript" defer src="{{ asset('/dist/js/manifest.js') }}" ></script>
<script defer src="{{ link("languages/assets/#{store.theme.translations_hash}.js") }}"></script>

{% if is_home %}
    <script type="text/javascript" defer src="{{ asset('dist/js/vendor.home.js') }}"></script>
{% else %}
    <script type="text/javascript" defer src="{{ asset('dist/js/filepond.bundle.js') }}"></script>
    <script type="text/javascript" defer src="{{ asset('dist/js/vendor.bundle.js') }}"></script>
{% endif %}

{% hook 'scripts' %}
{% block scripts %}{% endblock %}
{% if error %}
    <script>
      document.addEventListener( 'DOMContentLoaded', function () {
        salla.error('{{ error }}');
      })
    </script>
{% endif %}
</html>
