<!DOCTYPE html>
<html lang="{{ language.code }}" dir="{{ language.dir }}">
<!-- بسم الله الرحمن الرحيم -->
<head>
    <script>
        var baseUrl = '{{ link('/') }}';
        var is_rtl = parseInt({{ is_rtl?1:0 }});
        window.locale = "{{ language.code }}";
    </script>

    {% hook 'head:inner' %}
    {# TopNav #}
    {{ store.theme.set('topnav_is_dark', true) }}
    {{ store.theme.set('topnav_bg', '') }}
    {{ store.theme.set('topnav_text_color', '') }}
    {{ store.theme.set('topnav_link_hover', '') }} 
    {{ store.theme.set('topnav_bg_gradient', false) }}
    {{ store.theme.set('topnav_bg_gradient_from', '#0093E9') }}
    {{ store.theme.set('topnav_bg_gradient_to', '#80D0C7') }}
    
    {# MainNav #}
    {{ store.theme.set('mainnav_is_dark', false) }}
    {{ store.theme.set('mainnav_bg', '') }}
    {{ store.theme.set('mainnav_text_color', '') }}
    {{ store.theme.set('mainnav_link_hover', '') }}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% hook 'head:start' %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="{{ theme.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.color }}">
    {{ store.theme.settings.custom_input }}
    <!-- fav icon -->
    <link rel="icon" type="image/png" href="{{ store.fav_icon ?? store.logo }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ store.logo }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ store.logo }}">
    <meta name="_token" content="{{ csrf_token() }}">
    {% hook 'head' %}
    {# <link rel="preconnect" href="https://www.googletagmanager.com"/> #}
    {# <link rel="preconnect" href="https://assets.salla.sa"/> #}
    {% if is_rtl %}
        {% if is_home %}
        {% else %}
        {% endif %}

    {% else %}
        {% if is_home %}
        {% else %}
        {% endif %}
    {% endif %}
    {# {% set font_name=store.theme.font.name?:'DINNextLTArabic-Regular' %} #}

    {# <link rel="stylesheet" href="{{ asset(store.theme.font.path) }}"/> #}

    {# tracking services, custom css feature. #}
    {% hook 'head:end' %}
    {% block head %}{% endblock %}

    <style>
        :root {

        /*Topnav*/
        {% if store.theme.settings.topnav_bg %} 
          --topnav-bg: {{store.theme.settings.topnav_bg}};
        {% endif %}
        {% if store.theme.settings.topnav_text_color %} 
          --topnav-text-color: {{store.theme.settings.topnav_text_color}};
        {% endif %}
        {% if store.theme.settings.topnav_link_hover %} 
          --topnav-link-hover: {{store.theme.settings.topnav_link_hover}};
        {% endif %}
        {% if store.theme.settings.topnav_bg_gradient %} 
          --topnav-gradient-from: {{store.theme.settings.topnav_bg_gradient_from}};
          --topnav-gradient-to: {{store.theme.settings.topnav_bg_gradient_to}};
        {% endif %}

        /*Mainnav*/
        {% if store.theme.settings.mainnav_bg %} 
          --mainnav-bg: {{store.theme.settings.mainnav_bg}};
        {% endif %}
        {% if store.theme.settings.mainnav_text_color %} 
          --mainnav-text-color: {{store.theme.settings.mainnav_text_color}};
        {% endif %}
        {% if store.theme.settings.mainnav_link_hover %} 
          --mainnav-link-hover: {{store.theme.settings.mainnav_link_hover}};
        {% endif %}
        {% if store.theme.settings.mainnav_bg_gradient %} 
          --mainnav-gradient-from: {{store.theme.settings.mainnav_bg_gradient_from}};
          --mainnav-gradient-to: {{store.theme.settings.mainnav_bg_gradient_to}};
        {% endif %}
        }
    </style>
</head>

<body id="app" class="{% hook 'body:classes' %} bg-gray-50">
{% hook 'head:end' %}
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">To enable JavaScript on webpage</a>.
</noscript>
<div class="app-inner flex flex-col min-h-screen">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    {% block content %}{% endblock %}
    {% component 'footer.footer' %}
</div>
<script defer src="{{ link("languages/assets/#{store.theme.translations_hash}.js") }}"></script>
<script defer src="{{ asset('dist/app.js') }}"></script>

{% if not user %}
    <script type="module" defer src="{{ asset('dist/salla_login.js') }}"></script>
{% endif %}

{# <link rel="preload" href="{{ asset('dist/filepond.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
{# <script defer src="{{ asset('dist/filepond.js') }}"></script> #}
{# <script defer src="{{ asset('test/plugins/flatpickr.min.js') }}"></script> #}
{% hook 'body:end' %}
{% hook 'scripts' %}

{% block scripts %}{% endblock %}
{% if error %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            salla.error('{{ error }}');
        })
    </script>
{% endif %}
</body>
</html>