{# ############## Shared Variables in all views ################
| Variable                                           | Type     | Description                                                                                              |
|----------------------------------------------------|----------|----------------------------------------------------------------------------------------------------------|
| is_home                                            | ?bool    |                                                                                                          |
| from_salla_app                                     | bool     |                                                                                                          |
| current_route_name                                 | string   |                                                                                                          |
| currency                                           | object   |                                                                                                          |
| country_code                                       | string   | ex: "SA" for user or guest                                                                               |
| currency.code                                      | string   | ex: "SAR"                                                                                                |
| currency.name                                      | string   | ex: "ريال سعودي"                                                                                           |
| currency.symbol                                    | string   | ex: "ر.س"                                                                                                |
| currency.amount                                    | string   | ex: "1.0"                                                                                                |
| currency.country_code                              | string   | lower first two letters from currency code ex: "sa"                                                      |
| is_rtl                                             | bool     |                                                                                                          |
| error                                              | ?string  |                                                                                                          |
|                                                    |          |                                                                                                          |
| store                                              | Store    |                                                                                                          |
| store.name                                         | string   |                                                                                                          |
| store.username                                     | string   |                                                                                                          |
| store.description                                  | string   |                                                                                                          |
| store.slogan                                       | ?string  | * if feature in theme.json                                                                               |
| store.logo                                         | string   |                                                                                                          |
| store.url                                          | string   |                                                                                                          |
| store.icon                                         | string   | *fav icon url                                                                                            |
| store.contacts                                     | object   | [mobile, phone, email, whatsapp, telegram], ex. store.contacts.email                                     |
| store.social                                       | object   | [instagram, snapchat, twitter, youtube, facebook, pinterest, maroof, whatsapp], ex. store.social.twitter |
| store.settings                                     | object   |                                                                                                          |
| store.settings.auth.email_allowed                  | bool     |                                                                                                          |
| store.settings.auth.mobile_allowed                 | bool     |                                                                                                          |
| store.settings.auth.is_email_required              | bool     |                                                                                                          |
| store.settings.cart.apply_coupon_enabled           | bool     | Does visitor allowed to applay coupon in cart page                                                       |
| store.settings.product.total_sold_enabled          | bool     |                                                                                                          |
| store.settings.product.fit_type                    | ?string  | null when equal product card size is off, or ['cover', 'contain']                                        |
| store.settings.category.testimonial_enabled        | bool     | Show random testimonials in category page                                                                |
| store.settings.tax.number                          | ?string  |                                                                                                          |
| store.settings.tax.certificate                     | ?string  | certificate image url                                                                                    |
| store.settings.tax.taxable_prices_enabled          | bool     | Does tax included in the prices ex product_price 100 & tax is 15, price will be 115                      |
| store.settings.rating.store                        | bool     | User is allowed to rate the store                                                                        |
| store.settings.rating.shipping                     | bool     | User is allowed to rate the shipping companies in his order                                              |
| store.settings.rating.products                     | bool     | User is allowed to rate the products in his order                                                        |
| store.settings.arabic_numbers_enabled              | bool     | Does the merchant wants the numbers to be shown as Arabic format                                         |
| store.settings.languages_enabled                   | bool     |                                                                                                          |
| store.settings.currencies_enabled                  | bool     |                                                                                                          |
|                                                    |          |                                                                                                          |
| theme                                              | Theme    |                                                                                                          |
| theme.color                                        | string   |                                                                                                          |
| theme.text_color                                   | string   | suitable text color comparing to theme.color, #000000, #FFFFFF                                           |
| theme.reverse_color                                | string   |                                                                                                          |
| theme.reverse_text_color                           | string   | if `theme.text_color=#000000` means that `theme.reverse_text_color=#FFFFFF`                              |
| theme.is_dark                                      | bool     | Does main store color `theme.color` considered as dim color?                                             |
| theme.font                                         | ?object  | Salla predefined font, null when the theme doesn't have `fonts` feature                                  |
| theme.font.id                                      | int      | 1-5                                                                                                      |
| theme.font.name                                    | string   | DINNextLTArabic-Regular, Amazon-Ember, Apple, Dubai, Estedad                                             |
| theme.font.path                                    | string   | css path ex: '/fonts/default.css'                                                                        |
| theme.font.url                                     | string   | css full url ex: 'https://my_store.test/dist/fonts/default.css'                                          |
| theme.translations_hash                            | number   | to be use in case merchant updated frontend store translations                                           |
| theme.settings                                     | object   | dynamic object with values of the `settings` in theme.json ex. theme.topnav_is_dark             |
| theme.darker_color(float alpha, ?string hexColor)  | string   | get darker color from `theme.color` or from passed color, `alpha` range from 0.0-1.0                     |
| theme.lighter_color(float alpha, ?string hexColor) | string   | get lighter color from `theme.color` or from passed color, `alpha` range from 0.0-1.0                    |
| theme.set(settingName, value)                      | string   | set global var, ex {{ theme.set(my_var, 'something') }}, then get it {{theme.my_var }}                   |
| theme.*                                            | mixed    | getting values for the dynamic settings that are defined in theme.json, under `settings` section         |
| language                                           | Language | see: views/components/header/language-switcher.twig                                                      |
| user                                               | User     | see: views/pages/customer/profile.twig                                                                   |
#}
<!DOCTYPE html>
<html lang="{{ language.code }}" dir="{{ language.dir }}">
<!-- بسم الله الرحمن الرحيم -->
<head>
    <script>
        var baseUrl = '{{ link('/') }}';
        var is_rtl = parseInt({{ is_rtl?1:0 }});
        window.locale = "{{ language.code }}";
    </script>
    {% hook 'head:inner' %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% hook 'head:start' %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    <!-- theme color -->
    <meta name="msapplication-navbutton-color" content="{{ theme.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.color }}">
    <!-- fav icon -->
    <link rel="icon" type="image/png" href="{{ store.icon }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ store.logo }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ store.logo }}">
    <meta name="_token" content="{{ csrf_token() }}">
    {% hook 'head' %}
    {# <link rel="preconnect" href="https://www.googletagmanager.com"/> #}
    {# <link rel="preconnect" href="https://assets.salla.sa"/> #}
    <link rel="stylesheet" href="{{ theme.font.url }}"/>

    {# tracking services, custom css feature. #}
    {% hook 'head:end' %}
    {% block head %}{% endblock %}

    <style>
        :root {

            --color-main: {{ theme.color }};
            --color-main-d: {{ theme.darker_color(0.25) }};
            --color-main-l: {{ theme.lighter_color(0.15) }};
            --color-main-reverse: {{ theme.reverse_text_color }};
            {# --color-text-reverse: {{ theme.reverse_text_color }}; #}
            {# --color-text: {{ theme.text_color }};
            --color-text-reverse: {{ theme.reverse_text_color }};
            --color-title: {{ theme.color }}; #}

            /*Topnav*/
        {% if theme.topnav_bg %} --topnav-bg: {{theme.topnav_bg}};
        {% endif %}{% if theme.topnav_text_color %} --topnav-text-color: {{theme.topnav_text_color}};
        {% endif %}{% if theme.topnav_link_hover %} --topnav-link-hover: {{theme.topnav_link_hover}};
        {% endif %}{% if theme.topnav_bg_gradient %} --topnav-gradient-from: {{theme.topnav_bg_gradient_from}};
            --topnav-gradient-to: {{theme.topnav_bg_gradient_to}};
        {% endif %}

            /*Mainnav*/
        {% if theme.mainnav_bg %} --mainnav-bg: {{theme.mainnav_bg}};
        {% endif %}{% if theme.mainnav_text_color %} --mainnav-text-color: {{theme.mainnav_text_color}};
        {% endif %}{% if theme.mainnav_link_hover %} --mainnav-link-hover: {{theme.mainnav_link_hover}};
        {% endif %}{% if theme.mainnav_bg_gradient %} --mainnav-gradient-from: {{theme.mainnav_bg_gradient_from}};
            --mainnav-gradient-to: {{theme.mainnav_bg_gradient_to}};
        {% endif %} --font-main: '{{theme.font.name}}';
        }
    </style>
</head>

<body id="app" class="{% hook 'body:classes' %} bg-gray-50">
{% hook 'head:end' %}
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">To enable JavaScript on webpage</a>.
</noscript>
<div class="app-inner flex flex-col min-h-screen">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    {% block content %}{% endblock %}
    {% component 'footer.footer' %}
</div>

{% hook 'body:end' %}
{% hook 'scripts' %}

<script defer src="{{ asset('dist/app.js') }}"></script>
{% block scripts %}{% endblock %}
{% if error %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            salla.error('{{ error }}');
        })
    </script>
{% endif %}
<salla-offer></salla-offer>
</body>
</html>
