{# partials/offers.twig #}
{% set visible_offers_count = 3 %}
{% set collapsed_id = 'offers_' ~ item.id %}
{% set list_id = 'offers_list_' ~ item.id %}
<div class="!mt-5" id="{{ list_id }}">
    {% if item.detailed_offers is not empty %}
        {# first 3 offers #}
        {% for offer in item.detailed_offers|slice(0, visible_offers_count) %}
            {% include 'pages.partials.cart.offer.twig' with {'offer': offer, item:item} %}
        {% endfor %}

        {% if offers|length > visible_offers_count %}
            <div class="mt-4">
                <button class="group btn--collapse text-sm !bg-transparent !px-0 !justify-start hover:text-dark" type="button" data-show="{{ collapsed_id }}">
                    <i class="sicon-discount is-opened rtl:ml-1.5 ltr:mr-1.5"></i>
                    <span class="flex items-center">
                        +
                        {{ offers|length - visible_offers_count }}
                        {{ trans('pages.cart.show_more_offers') }}
                        <i class="transition-transform duration-300 group-[.is-opened]:-rotate-180 mx-0.5 sicon-keyboard_arrow_down"></i>
                    </span>
                </button>
            </div>

            <div class="h-0 overflow-hidden opacity-0 is-closed" id="{{ collapsed_id }}">
                {% for offer in item.detailed_offers|slice(visible_offers_count) %}
                    {% include 'pages.partials.cart.offer.twig' with {'offer': offer, item:item } %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
