<section class="home-block home-block--logos-slider bg-gray-bg2 pb-20 {{ is_repeated?'repeated-block mt-8':'mt-16' }}">
    <div class="container">
        <div class="flex justify-between mb-8">
            <h2 class="font-bold text-lg text-text-dark">تصفح من خلال العلامات التجارية</h2>
            <div class="flex items-center">
                <a href="#" class="text-sm font-bold text-primary mx-3">عرض الكل</a>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-flow-row lg:grid-flow-col gap-4 md:gap-7">

            <!-- 2 rows -->
            <div
                    class="duration-500 hover:shadow-default sm:row-span-2 flex justify-center items-center   bg-white transition-opacity hover:opacity-95 h-40 sm:h-auto bg-cover  text-white text-center md:px-20 p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-1.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>

            <div
                    class="duration-500 hover:shadow-default flex justify-center items-center  bg-white transition-opacity hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10  p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-2.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>

            <div
                    class="duration-500 hover:shadow-default flex justify-center items-center   bg-white transition-opacity hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-3.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>

            <!-- 2 rows -->
            <div
                    class="duration-500 hover:shadow-default sm:row-span-2 flex justify-center items-center bg-white transition-opacity hover:opacity-95 h-40 sm:h-auto bg-cover  text-white text-center md:px-20  p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-4.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>

            <div
                    class="duration-500 hover:shadow-default flex justify-center items-center  bg-white transition-opacity hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10  p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-5.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>

            <div
                    class="duration-500 hover:shadow-default flex justify-center items-center bg-white transition-opacity hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
                <img class="max-h-full" src="{{ asset('images/logos/logo-6.png') }}" alt="">
                <a href="#" class="overlay h-full w-full bg-dark opacity-0 absolute top-0 left-0 z-10"></a>
            </div>
        </div>
    </div>
</section>