{% if store.settings.rating.is_enabled %}
	{% if store.settings.rating.store %}
		{# Store Rating #}
		<section class="rating-section bg-white my-10 p-5 rounded-md mb-5" data-type="store">
			<div class="{{ order.store_feedback?'':'rating-outer-form' }}" data-stars-error="{{ trans('pages.rating.rate_store_stars') }}">
				<input type="hidden" name="order_id" value="{{ order.order_id }}">
				<input type="hidden" name="type" value="store">
				<h2 class="section-title text-lg font-bold mb-5">{{ trans('pages.rating.rate_the_store') }}</h2>
				<div class="mb-2">
					{% if order.store_feedback %}
						<p>
							{{ order.store_feedback.content|raw }}
						</p>
					{% else %}
						<textarea id="storeReview" name="comment" class="form-input comment h-20" placeholder="{{ trans('pages.rating.write_store_rate') }}"></textarea>
						{# <small class="block text-red-400 text-tiny text-end"> التعليق  مطلوب</small> #}
					{% endif %}
				</div>
				<div class="rating-wrap flex items-center space-s-4">
					<form class="rate-element rate-element--has-label">
						{% include 'pages.partials.rating-stars' with {'stars':order.store_feedback.stars} %}
					</form>
					<p class="rate-label fix-align font-sm center mb-0">{{ (order.store_feedback.stars?trans('pages.rating.'~order.store_feedback.stars~'_stars'):'')|raw }}</p>
				</div>
				<small class="text-red-400 validation-message"></small>
			</div>
		</section>
	{% endif %}

	{% if order.has_shipping and store.settings.rating.shipping %}
		{# Shipping Rating #}
		<section class="rating-section bg-white my-10 p-5 rounded-md mb-5" data-type="shipping">
			<div class="{{ store.settings.rating.store?'':'rating-outer-form' }}" data-stars-error="{{ trans('pages.rating.rate_shipping_stars') }}">

				<input type="hidden" name="order_id" value="{{ order.order_id }}">
				<input type="hidden" name="shipping_company_id" value="{{ order.shipping.id }}">
				<input type="hidden" name="type" value="shipping">

				<h2 class="section-title text-lg font-bold mb-5">{{ trans('pages.rating.rate_shipping') }}</h2>
				<div class="mb-2">
					{% if order.shipping_feedback %}
						<p>
							{{ order.shipping_feedback.content|raw }}
						</p>
					{% else %}
						<textarea id="shippingReview" name="comment" class="form-input comment h-20 mb-2" placeholder="{{ trans('pages.rating.write_shipping_rate') }}"></textarea>
						{# <small class="block text-red-400 text-tiny text-end"> التعليق  مطلوب</small> #}
					{% endif %}
				</div>
				<div class="rating-wrap flex items-center space-s-4">
					<form class="rate-element ratFeedbackPresentere-element--has-label">
						{% include 'pages.partials.rating-stars' with {'stars':order.shipping_feedback.stars} %}
					</form>
					<p class="rate-label fix-align font-sm center mb-0">{{ (order.shipping_feedback.stars?trans('pages.rating.'~order.shipping_feedback.stars~'_stars'):'')|raw }}</p>
				</div>
				<small class="text-red-400 validation-message"></small>
			</div>
		</section>
	{% endif %}

	<button id="submitRating" class="btn btn-primary w-full">{{ trans('pages.rating.send_ratings') }}</button>
{% endif %}
