{% if not comment.is_replay %}
<div class="border-b last:border-0 mb-8 border-coolGray-300 comment-block">
    {% endif %}
    <div class="{% if comment.is_replay %} nested-comment reply md:ps-16 {% else %} comment {% endif %} flex text-sm space-s-3 pb-8 comment_id_{{ comment.id }} {% if comment.is_admin %} admin {% endif %}">
        {% if comment.is_replay %}
            <i class="sicon-reply text-lg text-gray-400"></i>
        {% endif %}
        <div class="flex-none">
            <img data-src="{{ comment.avatar }}" alt="{{ comment.name }}"
                 class="w-10 h-10 bg-gray-100 rounded-full lazy-load">
        </div>

        <div class="flex-1">
            <div class="flex flex-wrap md:items-center justify-between mb-3 md:mb-0">
                <div class="md:flex items-center">
                    <h3 class="font-bold text-base me-5 fix-align mb-1">{{ comment.name }}</h3>
                    <div class="flex">
                        {% if comment.order_id %}
                            <i class="sicon-check rounded-full bg-theme-yellow h-5 w-5 flex items-center justify-center text-xs "></i>
                            <span class="fix-align ms-1 text-sm text-gray-400">
                                {{ trans('blocks.comments.has_bought') }}
                            </span>
                        {% endif %}
                        {% if comment.stars %}
                            <span class="fix-align ms-1 text-sm text-gray-400">
                                {{ trans('pages.rating.rated') }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <p class="text-gray-400 text-sm">{{ comment.created_at|time_ago }}</p>
                {% if comment.stars %}
                    <div class="-mt-5 md:-mt-0 text-end md:text-start w-full comment__rating text-xs mb-2.5 space-x-1">
                        <i class="sicon-star2 text-theme-yellow"></i>
                        <i class="sicon-star2 {{ comment.stars >= 2 ? 'text-theme-yellow' : 'text-gray-400' }}"></i>
                        <i class="sicon-star2 {{ comment.stars >= 3 ? 'text-theme-yellow' : 'text-gray-400' }}"></i>
                        <i class="sicon-star2 {{ comment.stars >= 4 ? 'text-theme-yellow' : 'text-gray-400' }}"></i>
                        <i class="sicon-star2 {{ comment.stars >= 5 ? 'text-theme-yellow' : 'text-gray-400' }}"></i>
                    </div>
                {% endif %}
            </div>

            <div class="prose prose-sm max-w-none text-gray-500">
                <p>{{ comment.content|raw }}{% if comment.is_pending %} <span class="pending-comment">{{ trans('blocks.comments.waiting_approval') }}</span>{% endif %}
                </p>
                {% if comment.order_id != 0 %}
                    <i class="icon-cart user-buy" data-toggle="tooltip" data-placement="right"
                       title="{{ trans('blocks.comments.has_order') }}"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not comment.is_replay and comment.replies %}
    {% for replay in comment.replies %}
        {% include _self with {comment:replay} %}
    {% endfor %}
</div>
{% endif %}