<div class="view-comment__comment comment_id_{{ comment.id}} {% if comment.is_admin %} admin {% endif%}  {% if comment.is_replay %} replay_to_{{ comment.parent_id}} replays {% else %} comment-block view-comment__comment--has-replays {% endif %}">
        <img class="lazy-load" data-src="{{ comment.avatar }}" alt="avatar"/>
    <div class="comment-wrapper">
        <div class="comment-header d-flex justify-content-between">
            <div>
                <div>
                    <div class="d-flex name-rating-wrapper">
                        <h3 class="name">{{ comment.name }}</h3>
                        <div class="d-flex user-info">
                            {% if comment.order_id %}
                                <span class="badge">
                                    <span class="sicon-check icon"></span>
                                    <span>{{trans('blocks.comments.has_bought')}} </span>
                                </span>
                            {% endif %}
                            {% if comment.stars %}<span>{{trans('pages.rating.rated')}}</span>{% endif %}
                        </div>
                    </div>
                </div>
                {% if comment.stars %}
                    <div class="rating">
                        <span class="sicon-star2 checked"></span>
                        <span class="sicon-star2 {{ comment.stars >= 2 ? 'checked' : '' }}"></span>
                        <span class="sicon-star2 {{ comment.stars >= 3 ? 'checked' : '' }}"></span>
                        <span class="sicon-star2 {{ comment.stars >= 4 ? 'checked' : '' }}"></span>
                        <span class="sicon-star2 {{ comment.stars == 5 ? 'checked' : '' }}"></span>
                    </div>
                {% endif %}
            </div>
            <span class="comment-date">{{ time_diff_for_humans(comment.created_at) }}</span>
        </div>
        <p>{{ comment.content|raw }}{% if comment.status != 'approved' %} <span class="pending-comment">{{ trans('blocks.comments.waiting_approval') }}</span>{% endif %}</p>
        {% if comment.order_id != 0 %}
            <i class="icon-cart user-buy" data-toggle="tooltip" data-placement="right" title="{{ trans('blocks.comments.has_order') }}"></i>
        {% endif %}

        <div class="add-comment hide" id="comment_{{ comment.id }}">
            <div class="avatar-wrapper avatar-wrapper--medium avatar-wrapper--circular avatar-wrapper--bordered mr-2">
                <img class="lazy-load" data-src="{{ comment.avatar }}" alt="avatar"/>
            </div>
            <div>
                <textarea class="form-control" placeholder="{{trans('replay_placeholder')}}"></textarea>
            </div>
        </div>
        {% if not comment.is_replay and comment.replies %}
            {% for replay in comment.replies %}
                {% include _self with {'comment':replay} %}
            {% endfor %}
        {% endif %}
    </div>
</div>