<div class="ms-4 md:ms-20 flex items-center">
    <label class="hidden sm:block me-3" for="productFilter">{{trans('pages.categories.sorting')}}</label>
    <select id="productFilter" name="sort-opt"
            class="appearance-none form-input focus:ring-transparent focus:outline-none h-10 text-sm rounded-md  border border-border-color w-48 pt-0 pb-1">
        <option value="ourSuggest">{{trans('pages.categories.sort_by_suggestions')}}</option>
        <option value="bestSell">{{trans('pages.categories.sort_by_sales')}}</option>
        <option value="topRated">{{trans('pages.categories.sort_by_rating')}}</option>
        <option value="priceFromTopToLow">{{trans('pages.categories.sort_by_price_za')}}</option>
        <option value="priceFromLowToTop">{{trans('pages.categories.sort_by_price_az')}}</option>
    </select>
</div>