{#
| Variable            | Type               | Description                           | @see                                                   |
|---------------------|--------------------|---------------------------------------|--------------------------------------------------------|
| breadcrumbs         | BreadcrumbObject[] | A list of breadcrumb for current page | https://docs.salla.dev/themes/objects/BreadcrumbObject |
| breadcrumbs[].title | string             | A title of breadcrumb                 |                                                        |
| breadcrumbs[].url   | string             | A url of breadcrumb                   |                                                        |
#}
<nav class="w-full py-5">
    <ol class="list-reset flex items-center text-sm {{ is_dark ? 'text-reverse' : '' }}">
        {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
                <li><a href="{{ breadcrumb.url }}" class="fix-align text-primary {{ is_dark ? 'text-reverse' : '' }}">{{ breadcrumb.title }}</a></li>
                <li><i class="sicon-keyboard_arrow_left mx-2"></i></li>
            {% else %}
                <li><span class="fix-align">{{ breadcrumb.title }}</span></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
