{#
| Variable              | Type                       | Description         |
|-----------------------|----------------------------|---------------------|
| comments              | Feedback[] *Paginator      |                     |
| comments[].id         | int                        |                     |
| comments[].is_replay  | bool                       |                     |
| comments[].is_admin   | bool                       |                     |
| comments[].avatar     | string                     |                     |
| comments[].name       | string                     |                     |
| comments[].order_id   | ?int                       |                     |
| comments[].created_at | Date *Carbon               |                     |
| comments[].stars      | int                        |                     |
| comments[].content    | string                     |                     |
| comments[].status     | string "pending, approved" |                     |
| comments[].replies    | Feedback[] *Collection     |                     |
| can_comment           | bool                       |                     |
| type                  | string                     | page, product       |
| id                    | int                        | pageId or ProductId |
#}
<div class="{{ type=='page'?'pt-16':'bg-gray-100 mb-8 md:mb-20 py-12 md:py-20' }}">
    <div class="{{ type=='product'?'container':''}}">
        {% if can_comment %}
            <div class="form form--add-comment" salla-form-data>
                {% honeypot %}
                <h2 class="mb-5 text-lg font-bold text-dark">{{ trans('blocks.comments.title') }}</h2>
                <textarea placeholder="{{ trans('blocks.comments.placeholder') }}"
                          class="form-input form-textarea"
                          name="comment"
                          maxlength="500" cols="30"
                          rows="30"></textarea>

                <div class="text-end mb-4">
                    <button class="btn btn--primary btn--has-loading"
                            data-on-click="comment::send"
                            id="add-new-comment-btn"
                            data-id="{{ id }}"
                            data-type="{{ type }}"
                            type="button">
                        <span class="loader loader--small"></span>
                        <span class="btn__text"> {{ trans('blocks.comments.submit') }} </span>
                    </button>
                </div>
            </div>
        {% endif %}

        {% if comments.count %}
            <salla-infinite-scroll next-page="{{ comments.next_page }}">
                <h2 class="text-lg font-bold text-gray-500 mb-8"> {{ pluralize('blocks.comments.comment', comments.total|number)|raw }}</h2>
                {% for comment in comments %}
                    {% include 'pages.partials.single-comment' %}
                {% endfor %}
            </salla-infinite-scroll>
        {% else %}
            <div class="no-content-placeholder--comments">
                <i class="sicon-chat-bubbles text-5xl block mb-2.5 text-reverse-dark"></i>
                <p class="text-sm">{{ trans('blocks.comments.no_comments') }}</p>
            </div>
        {% endif %}
    </div>
</div>