{#
| Variable              | Type                         | Description         |
|-----------------------|------------------------------|---------------------|
| comments              | Comment[] *Paginator         |                     |
| comments[].id         | int                          |                     |
| comments[].avatar     | string                       |                     |
| comments[].name       | string                       |                     |
| comments[].has_order  | bool                         |                     |
| comments[].created_at | Date *Carbon                 |                     |
| comments[].stars      | int                          |                     |
| comments[].content    | string                       |                     |
| comments[].is_pending | bool                         | Is not approved yet |
| comments[].replies    | Comment[] *Collection        |                     |
| comments[].type       | string 'admin','customer'    |                     |
| type                  | string                       | page, product       |
| id                    | int                          | pageId or ProductId |
#}
<div class="s-comments s-comments-{{ type }}">
    <div class="s-comments-container">
        {% if user.can_comment %}
            <div class="form form--add-comment" salla-form-data>
                {% hook anti_spam %}
                <h2 class="mb-5 text-lg font-bold text-dark">{{ trans('blocks.comments.title') }}</h2>
                <textarea placeholder="{{ trans('blocks.comments.placeholder') }}"
                          class="form-input"
                          name="comment"
                          maxlength="500" cols="30"
                          rows="30"></textarea>

                <div class="text-end mb-4">
                    <salla-button 
                      class="w-36"
                      loader-position="end"
                      data-on-click="comment::send"
                      id="add-new-comment-btn"
                      data-id="{{ id }}"
                      data-type="{{ type }}">
                      {{ trans('blocks.comments.submit') }}
                    </salla-button>
                </div>
            </div>
        {% endif %}

        {% if comments|length %}
            <salla-infinite-scroll next-page="{{ comments.next_page }}">
                <h2 class="text-lg font-bold text-gray-500 mb-8"> {{ pluralize('blocks.comments.comment', comments.total|number)|raw }}</h2>
                {% for comment in comments %}
                    {% include 'pages.partials.single-comment' %}
                {% endfor %}
            </salla-infinite-scroll>
        {% else %}
            <div class="no-content-placeholder--comments">
                <i class="sicon-chat-bubbles text-5xl block mb-5 text-reverse-dark"></i>
                <p class="text-sm">{{ trans('blocks.comments.no_comments') }}</p>
            </div>
        {% endif %}
    </div>
</div>
