{#
| Variable              | Type                       | Description | @see |
|-----------------------|----------------------------|-------------|------|
| comments              | Feedback[] *Paginator      |             | TODO |
| comments[].id         | Integer                    |             |      |
| comments[].is_replay  | Bool                       |             |      |
| comments[].is_admin   | Bool                       |             |      |
| comments[].avatar     | String                     |             |      |
| comments[].name       | String                     |             |      |
| comments[].order_id   | ?Integer                   |             |      |
| comments[].created_at | Date *Carbon               |             |      |
| comments[].stars      | Integer                    |             |      |
| comments[].content    | String                     |             |      |
| comments[].status     | String "pending, approved" |             |      |
| comments[].replies    | Feedback[] *Collection     |             | TODO |
| can_comment           | Bool                       |             |      |
| id                    | Integer                    | PageId      |      |
#}
<div class="pt-16">
  {% if can_comment %}
      <div class="form form--add-comment" salla-form-data>
          {% honeypot %}
          <h2 class="mb-5 text-lg font-bold text-gray-500">{{trans('blocks.comments.title')}}</h2>
          <textarea placeholder="{{ trans('blocks.comments.placeholder') }}"
                    class="form-input h-24 mb-5"
                    name="ask_textarea"
                    maxlength="500" cols="30"
                    rows="30"></textarea>

          <div class="text-end mb-4">
              <button type="button" class="btn btn-primary inline-flex items-center justify-center"
                      id="add-new-comment-btn"
                      data-on-click="comment::page-add"
                      data-id="{{ id }}">
                <span class="loader loader--small"></span>
                <span class="fix-align transition-transform duration-500 inline-block btn--text pointer-events-none">{{ trans('blocks.comments.submit') }}</span>
              </button>
          </div>
      </div>
  {% endif %}

  {% if comments.count %}
      <div class="comments-container">
          <h2 class="text-lg font-bold text-gray-500 mb-8"> {{ pluralize('blocks.comments.comment', comments.total|number)|raw }}</h2>
          {% for comment in comments %}
              {% include 'pages.partials.single-comment' %}
          {% endfor %}
      </div>

      {% include 'pages.partials.loader-status' with {next_page:comments.next_page} %}
  {% endif %}
</div>

{% block scripts %}
    <script type="text/javascript" defer src="{{ asset('dist/comments.js') }}"></script>
{% endblock %}
