{% set is_admin = comment.type=='admin' %}
{% if not is_admin %}
<div class="border-b last:border-0 mb-8 pb-8 last:pb-0 border-gray-200 list-block">
    {% endif %}
    <div class="{% if is_admin %} nested-comment reply rtl:pr-8 ltr:pl-8 rtl:md:pr-16 ltr:md:pl-16 mt-8 admin {% else %} comment {% endif %} flex text-sm rtl:space-x-reverse space-x-3 comment_id_{{ comment.id }}">
        {% if is_admin %} <i class="sicon-reply text-lg text-gray-400"></i>{% endif %}
        <div class="flex-none">
            <img data-src="{{ comment.avatar|is_placeholder ? 'images/avatar.png' | cdn : comment.avatar }}"
                 alt="{{ comment.name|trim ? comment.name : 'comment-' ~ index }}" src="{{ 'images/s-empty.png' | cdn }}"
                 class="w-10 h-10 bg-gray-100 object-cover rounded-full lazy">
        </div>
        <div class="flex-1">
            <div class="flex flex-wrap md:items-center justify-between mb-2 md:mb-0">
                <div class="flex items-center mb-1">
                    <h2 class="font-bold text-base rtl:ml-10 ltr:mr-10 fix-align">{{ comment.name }}</h2>
                    {% if (comment.has_order or comment.stars) and not hide_bought %}
                        <div class="flex">
                            {% if comment.has_order %}
                                <i class="sicon-check rounded-full bg-amber-400 h-5 w-5 flex items-center justify-center text-xs"></i>
                                <span class="fix-align rtl:mr-1 ltr:ml-1 text-sm text-gray-600 mt-0.5">
                                  {{ trans('blocks.comments.has_bought') }}{{ comment.stars?', ':'' }}
                                </span>
                            {% endif %}
                            {% if comment.stars %}
                                <span class="fix-align rtl:mr-1 ltr:ml-1 text-sm text-gray-600 mt-0.5">{{ trans('pages.rating.rated') }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <p class="text-gray-500 text-sm">{{ comment.created_at|time_ago }}</p>
                {% if comment.stars %}
                    <div class="w-full comment__rating text-xs mb-2.5 rtl:space-x-reverse space-x-1">
                        {% for i in 1..5 %}
                            <i class="sicon-star2 inline-block {{ comment.stars>=i  ? 'text-amber-400' : 'text-gray-400' }}"></i>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="prose prose-sm max-w-none text-gray-500">
                <p>{{ comment.content|raw }}</p>
                {% if comment.is_pending %}
                    <span class="pending-comment pending-comment bg-gray-200 rounded-full px-2.5 py-0.5 inline-block mt-2">{{ trans('blocks.comments.waiting_approval') }}</span>
                {% endif %}
                {% if comment.has_order %}
                    <i class="icon-cart user-buy" data-toggle="tooltip" data-placement="right"
                       title="{{ trans('blocks.comments.has_order') }}"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not is_admin %}
    {% for replay in comment.replies %}
        {% include _self with {comment:replay} %}
    {% endfor %}
</div>
{% endif %}