<button @click="openReminderModal()" type="button" class="btn btn-primary">
    {{ trans('pages.products.notify_availability') }}
</button>

<button type="button"
   data-popup-trigger="notify-modal"
   id="show-notify-availability"
   class="btn btn--primary btn--large btn--oval btn--padded less popup-trigger no-m nowrap">
    <i class="sicon-bell"></i>
    {{ trans('pages.products.notify_availability') }}
</button>

{# modal #}
<div x-show="reminderModal" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

        <div x-show="reminderModal" x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100 "
             x-transition:leave-end="opacity-0"
             class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
             aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div x-show="reminderModal" @click.away="closeReminderModal"
             x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
             x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
             x-transition:leave="transition ease-in duration-200"
             x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
             x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
             class="inline-block align-bottom bg-white  p-8 rounded-md   shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full ">

            <div>
                <button @click="closeReminderModal"
                        class="close-modal text-gray-400 w-6 h-6 focus:outline-none text-lg absolute top-6 end-6">
                    <i class="sicon-cancel"></i>
                </button>

                <div class="flex justify-center mb-5">
                    <div
                            class="common-anime bg-white text-lg text-gray-500 border border-border-color rounded-icon ">
                        <i class="sicon-bell-ring"></i>
                    </div>
                </div>

                <h3 class="common-anime text-base leading-6 font-bold mb-2" id="modal-title">
                    {{ trans('pages.products.notify_availability_title') }}
                </h3>
                <div class="mb-10">
                    <p class="common-anime text-gray-400 text-sm leading-6">
                        {{ trans('pages.products.notify_availability_subtitle') }}
                    </p>
                </div>
                <div class="common-anime z-50 relative">
                    <input type="hidden" name="id" value="{{ product.product_id }}">
                    {% if email_notify %}
                        <label for="user-phone" class="block text-sm font-medium text-gray-700">
                            <b class="block text-start">
                                {{ trans('common.elements.email') }}
                            </b>
                        </label>
                        <div class="mt-2.5 mb-10">
                            <input type="email"
                                   name="email"
                                   class="email form-control intl-input"
                                   placeholder="{{ trans('common.elements.email_placeholder') }}"
                                   value="{{ user.email }}"
                                   id="notify-email"
                                   data-digits>
                        </div>
                    {% endif %}

                    {% if mobile_notify %}
                        <label for="user-phone" class="block text-sm font-medium text-gray-700">
                            <b class="block text-start">
                                {{ trans('common.elements.mobile') }}
                            </b>
                        </label>
                        <div class="mt-2.5 mb-10">
                            <input type="text"
                                   name="mobile"
                                   class="phone form-control intl-input phone"
                                   placeholder="{{ trans('common.elements.mobile_placeholder') }}"
                                   value="{{ user.mobile }}"
                                   id="notify-mobile"
                                   x-ref="userPhone"
                                   data-digits>
                            <input type="hidden"
                                   name="country_code"
                                   class="tel-input form-input"
                                   value="{{ country_code ?: 'SA' }}" />
                        </div>
                    {% endif %}
                </div>


                <div class="common-anime flex justify-between space-s-4">
                    <button type="button" class=" btn btn-primary"> {{ trans('common.elements.submit') }}</button>
                    <button @click="closeReminderModal()" type="button" class="btn btn-outline">{{ trans('common.elements.cancel') }}</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        salla.product.event.onAvailabilitySubscribed(function () {
            document.getElementById('show-notify-availability').remove();
            salla.success('{{ trans('pages.products.notify_availability_success') }}');
            document.getElementById('close-notify-availability').click();
        });
    });
</script>