{#
| Variable                      | Type                    | Description |
|-------------------------------|-------------------------|-------------|
| offer                         | Offer                   | TODO        |
| offer.id                      | Integer                 |             |
| offer.name                    | String                  |             |
| offer.description             | String *HTML            |             |
| offer.categories              | Category[] *Collection  |             |
| offer.products                | Product[] *Collection   |             |
| offer.steps(product_quantity) | Array                   |             |
#}
<section class="relative overflow-hidden bg-white p-5 pb-0 rounded-md mb-5">
	<p class="mb-5 pe-10 ">{{ offer.name }}:
		{{ offer.description|raw }}</p>

	{% if offer.products|length %}
		<div class="swiper offer-slider mb-8">
			<div class="swiper-wrapper">
				{% for product in offer.products %}
					<div class="swiper-slide h-auto offer-slider__slide w-10/12 md:w-auto">
						{% include 'pages.partials.product.card' with {block_classes:'product-block--small'} %}
					</div>
				{% endfor %}
			</div>

			<div class="hidden md:block">
				<button class="offer-prev swiper-button-prev"></button>
				<button class="offer-next swiper-button-next"></button>
			</div>
		</div>
		{# {% for product in offer.products %}
		            <a href="{{ product.url }}"
		               class="me-2.5 bg-gray-bg  py-2.5 px-4 rounded-large inline-flex items-center text-gray-500 justify-center text-sm mb-2.5">
		                <span class="fix-align">{{ product.name }}</span>
		            </a>
		        {% endfor %} #}
	{% else %}
		{% for category in offer.categories %}
			<a href="{{ category.url }}" class="me-2.5 bg-gray-bg  py-2.5 px-4 rounded-large inline-flex items-center text-gray-500 justify-center text-sm mb-2.5">
				<i class="font-medium sicon-tag me-1.5 text-md"></i>
				<span class="fix-align">{{ category.name }}</span>
			</a>
		{% endfor %}
	{% endif %}

	<div class="absolute z-10 top-5 w-40 end-0 transform -translate-x-12 -rotate-45 text-center">
		<div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ trans('pages.products.special_offer') }}
		</div>
	</div>
	{#    {% include 'components.offer.popup' with {product:product} %}#}
	<div class="mt-5 border-b-2 border-red-400"></div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.offer-slider', {


                spaceBetween : 20,
                slidesPerView: "auto",


                navigation: {
                    nextEl: '.offer-next',
                    prevEl: '.offer-prev',
                },

                breakpoints: {
                    640: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                    }
                }

            });

        });
    </script>