{#
| Variable                      | Type                    | Description |
|-------------------------------|-------------------------|-------------|
| offer                         | Offer                   | TODO        |
| offer.id                      | int                     |             |
| offer.name                    | string                  |             |
| offer.description             | string *HTML            |             |
| offer.categories              | Category[] *Collection  |             |
| offer.products                | Product[] *Collection   |             |
| offer.steps(product_quantity) | array                   |             |
#}

{% set discounts = {
 '1':{'text': 'اشتري <strong>ثلاث قطع</strong> من المنتج بـ', 'price': 1000, 'discount': 30},
 '2':{'text': 'اشتري <strong>ثلاث قطع</strong> من المنتج بـ', 'price': 1400, 'discount': 40},
 '3':{'text': 'اشتري <strong>اربع قطع</strong> من المنتج بـ', 'price': 1800, 'discount': 50},
 '4':{'text': 'اشتري <strong>خمس قطع</strong> من المنتج بـ', 'price': 2000, 'discount': 60},
 '5':{'text': 'اشتري <strong>ثلاث قطع</strong> من المنتج بـ', 'price': 1000, 'discount': 30}
} 
%}

<section id="offer-slider" class="relative lg:overflow-hidden mb-8 md:mb-16 pt-4">
  <div class="flex justify-between items-center mb-9">
    <span class="text-[200px] font-normal text-red-50 absolute leading-none -top-4 right-12 -z-1">%</span>
 
    <div>
      <h2 class="text-xl font-bold text-red-400">{{ offer.name }}</h2>
      <p class="pe-16 mt-2">{{ offer.description|raw }}</p>
    </div>

    {# Slider Nav btns && show all btn #}
    <div class="flex items-center">
      <div class="hidden sm:flex space-s-1" dir="rtl">
          <button aria-label="Previous Slide" class="slider-prev btn--sm-arrow">
            <i class="sicon-keyboard_arrow_right"></i>
          </button>
          <button aria-label="Next Slide" class="slider-next btn--sm-arrow">
            <i class="sicon-keyboard_arrow_left"></i>
          </button>
      </div>
    </div>
  </div>

  {# Swiper #}
  <div class="swiper default-slider slider-layout" data-id="offer-slider">
    <div class="swiper-wrapper flex">
      {% if offer.categories|length %} 
        {% for category in offer.categories %}
            <div class="swiper-slide slide--one-sixth">
              <a href="{{ category.url }}" class="cat-slide-entry"> 
                <i class="{{ category.icon}}"></i>
                <h4>{{ category.name }}</h4>
              </a>
            </div>
        {% endfor %}

      {% elseif offer.products|length %} 
        {% for product in offer.products %}
          <div class="swiper-slide h-auto slide--one-fourth">
              {% include 'pages.partials.product.card' %}
          </div>
        {% endfor %}

      {% elseif discounts|length %} 
        {% for discount in discounts %}
            {# TODO:: @Adel #enhance - reduce --- #}
            <div class="swiper-slide slide--one-fourth">
            <div class="bg-white rounded-md h-36 mb-8 text-center flex flex-col items-center justify-between text-gray-600 transition duration-500 hover:shadow-default border border-border-color">
              <div class="p-3 flex-grow flex flex-col justify-center w-full">
                <p class="mb-1">{{ discount.text|raw }}</p>
                <div class="text-sm text-gray-400"><span class="font-extrabold text-red-400 text-3xl">{{ discount.price }}</span> ر.س</div>
              </div>
              <p class="border-t bg-gray-50 border-border-color text-sm p-2 w-full">بخصم يصل إلى (<span class="font-bold">{{discount.discount}}%</span>)</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>