{# view options:
 1- is_horizontal = false  // display horizonal card
 2- is_special = false  // display special product with count down

*Notec: if marchent wants equal image, {{store.product_image_type}} will be (contain|cover) if not will be empty.
#}

<div id="{{ product.id }}"
     class='product-entry {{ block_classes ?? '' }}{{ is_special?'product-entry--special':'' }}  {{ is_horizontal?'product-entry--horizontal md:flex-row':'product-entry--vertical' }} relative h-full transition-shadow duration-500 bg-white hover:shadow-default rounded-lg justify-around overflow-hidden flex flex-col'>
    {# Equal image height option: add/remove "h-40" class #}
    {# image #}
    <a href="{{ product.url }}"
       class='product-entry__image relative overflow-hidden hover:opacity-90 w-full {{ is_special?'sm:h-500':'h-40' }} {{ is_horizontal?"md:h-full md:w-60":"" }}'>
        {# Equal image height option: object-cover/object-contain #}
        <img class="sm:h-full w-full object-{{ store.product_image_type }}" src="{{ product.image.url }}"
             alt="{{ product.image.alt }}"/>
        {% if product.promotion_title %}
            <div class="absolute top-4 start-0 z-20">
                <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ product.promotion_title }}</div>
            </div>
        {% endif %}
    </a>

    {# content #}
    <div class="flex-1 px-5 pt-5 pb-7 ">
        <div class="flex  justify-between items-baseline">
            <h3 class="product-entry__title  text-sm font-bold text-title-color leading-6 mb-2.5">
                <a href="{{ product.url }}">{{ product.name }}</a>
            </h3>
            {% if is_special %}
                <div class="flex-shrink-0 border-4 border-border-color rounded-full w-20 h-20 flex flex-col items-center justify-center text-sm">
                    <b class="font-bold text-primary leading-3">{{ product.quantity|number }}</b>
                    <h5>{{ trans('pages.products.remained') }}</h5>
                </div>
            {% endif %}
        </div>
        {# {% if show_wishlist %} #}
        {# <button type="button" #}
        {# class="btn btn--circular btn--like btn--product-like btn--wishlist liked" #}
        {# data-id="{{ product.product_id }}" #}
        {# data-on-click="wishlist-remove"> #}
        {# <i class="sicon-heart"></i> #}
        {# </button> #}
        {# {% endif %} #}
        {# description #}
        <p class="text-sm text-gray-text leading-6 mb-2.5">
            {{ product.subtitle }}
        </p>
        <div class="w-full flex justify-between items-center mb-5">
            {% if product.on_sale %}
                <div class="space-s-1">
                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price }}</h4>
                    <span class="text-sm text-gray-text line-through">{{ product.regular_price }}</span>
                </div>
            {% else %}
                <h4 class="text-primary font-bold text-sm">{{ product.price }}</h4>
            {% endif %}
            {% if product.rating %}
                <div class="text-gray-text">
                    <div class="text-sm">
                        <i class="sicon-star2 text-theme-yellow"></i>
                        <span>{{ product.rating|number }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="flex items-center">
            {# add to cart #}
            <button x-data="initAddToCart()" @click="addToCart('{{ product.id }}')"
                    {% if not product.is_available %} disabled {% endif %}
                    class="add-to-cart-btn anime-btn transition duration-300 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                {{ trans('pages.cart.add_to_cart') }}
            </button>
            {# add-to-favorite #}
            <div class="text-gray-text">
                <button x-data="initAddToFavorite()" @click="toggleFavorite()"
                        class="w-10 h-10 focus:outline-none">
                    <i :class="inFavorite ? 'sicon-heart-off' : 'sicon-heart'"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{# TODO:: Move scripts To js file #}
<script>
    function initAddToCart() {
        return {
            addToCart: function (id) {
                let newId = id.replace(/product_/g, '');
                window.addTocartAnimation(newId);
            }
        }
    }

    function initAddToFavorite() {
        return {
            reminderModal : false,
            inFavorite    : false,
            showMore      : false,
            toggleFavorite: function () {
                this.inFavorite = !this.inFavorite;
            },
        }
    }
</script>