<div class="product-block {{ store.product_image_type }} {{ block_classes ?? '' }}" id="product_{{ product.product_id }}">
    <div class="product-block__thumb">
        {% if product.promotion_title %}
            <span class="badge badge--ribbon badge--primary">
                {{ product.promotion_title }}
            </span>
        {% endif %}
        <a href="{{ product.url }}" class="thumb-wrapper" aria-label="{{ product.name }}">
            <img class="lazy-load" width="200" height="200" src="{{ asset('images/img_loader.png') }}" data-src="{{ product.image.url }}" alt="{{ product.image.alt }}" />
        </a>
    </div>
    {% if show_wishlist %}
        <button type="button"
                class="btn btn--circular btn--like btn--product-like btn--wishlist liked"
                data-id="{{ product.product_id }}"
                data-on-click="wishlist-remove">
            <i class="sicon-heart"></i>
        </button>
    {% endif %}
    <div class="product-block__info">
        <a href="{{ product.url }}" class="product-title">
            <h2 class="title title--primary title--small">{{ product.name }}</h2>
            <p>{{product.subtitle}}</p>
        </a>
        <div class="price-wrapper">
            {% if product.on_sale %}
                <span class="color-danger">{{ product.sale_price }}</span>
                <small>{{ product.regular_price }}</small>
            {% else %}
                <span>{{ product.price }}</span>
            {% endif %}
        </div>
    </div>
    <button class="btn btn--floated btn--add-to-cart {{ product.is_available?'':'disabled' }}"
            aria-label="Add To Cart"
            {% if not product.is_available %} disabled {% endif %}
            data-on-click="cart-quick-add" data-id="{{ product.product_id }}">
        <i class="sicon-shopping-bag"></i>
    </button>
</div>
