<div id="product_{{ product.id }}" class='product-entry product-entry--minimal h-full transition-shadow duration-500 bg-white hover:shadow-default
rounded-lg justify-around
overflow-hidden
flex flex-col md:flex-row'>
    <a href="{{ product.url }}"
       class='product-entry__image flex-shrink-0 relative overflow-hidden rounded-md hover:opacity-90 h-40  md:h-full md:w-28'>
        <img class="h-full w-full object-cover lazy-load" src="{{asset('images/s-empty.png')}}" data-src="{{product.image.url}}" alt="{{ product.image.alt }}" />
    </a>
    <div class="flex flex-col flex-1 overflow-hidden px-4 pt-3 pb-4">
        <h3 class="product-entry__title whitespace-nowrap overflow-ellipsis overflow-hidden leading-6 mb-2.5">
            <a href="{{ product.url }}" class="text-sm font-bold text-title-color hover:text-primary">{{ product.name }}</a>
        </h3>
        <div class="w-full flex justify-between items-center mb-4">
            {% if product.on_sale %}
                <div class="space-s-1">
                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                    <span class="text-sm text-gray-400 line-through">{{ product.regular_price|money }}</span>
                </div>
            {% else %}
                <h4 class="text-primary font-bold text-sm">{{ product.price|money }}</h4>
            {% endif %}
            {% if product.rating %}
                <div class="text-gray-400">
                    <div class="text-sm">
                        <i class="sicon-star2 text-theme-yellow"></i>
                        <span>{{ product.rating|number }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="flex items-center mt-auto">
            <button data-on-click="cart::quick.add" data-id="{{ product.id }}"
                    {% if not product.is_available %} disabled {% endif %}
                    class="add-to-cart-btn btn--has-loading anime-btn transition duration-300 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                {{ trans('pages.cart.add_to_cart') }}
            </button> 
            <div class="text-gray-400">
                <button  aria-label="Add or Remove To Wishlist" class="wishlist-btn animated"
                  {% if user %}
                      data-on-click="wishlist::add" data-id="{{ product.id }}"
                  {% else %}
                      onClick="salla.error('{{ trans('common.messages.must_login') }}')"
                  {% endif %}>
                  <i class="sicon-heart"></i>
                  <span class="loader loader--small absolute transition inset-x-0 inset-y-0 opacity-0 flex justify-center items-center"></span>
              </button>
            </div>
        </div>
    </div>
</div>