{#
view options:
 1- is_horizontal = false  // display horizonal card
 2- is_special = false  // display special product with count down

*Notice: if marchent wants equal image, {{store.settings.product.fit_type}} will be (contain|cover) if not, it will be empty.
#}
<div id="product_{{ product.id }}"
     class='product-entry {{ block_classes ?? '' }} {{ is_special?'product-entry--special':'' }} {{ is_horizontal?'product-entry--horizontal lg:flex-row':'product-entry--vertical' }} relative h-full transition-shadow duration-500 bg-white hover:shadow-default rounded-lg justify-around overflow-hidden flex flex-col'>
    <a href="{{ product.url }}"
       class='product-entry__image relative overflow-hidden hover:opacity-90 w-full {{ is_special?(store.settings.product.fit_type?'sm:h-500': ''):(store.settings.product.fit_type?'h-40':'') }} {{ is_horizontal?"lg:h-full lg:w-60":"" }}'>
        <img class="sm:h-full w-full object-{{ store.settings.product.fit_type ? :'cover' }} lazy-load"
             src="{{ asset('images/s-empty.png') }}" data-src="{{ product.image.url }}" alt="{{ product.image.alt }}"/>
        {% if product.promotion_title %}
            <div class="absolute top-4 start-0 z-1">
                <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ product.promotion_title }}</div>
            </div>
        {% endif %}
    </a>

    {# content #}
    <div class="flex-1 px-5 pt-5 pb-7 flex flex-col">
        <div class="flex  justify-between items-baseline">
            <h3 class="product-entry__title mb-2.5 leading-6">
                <a href="{{ product.url }}"
                   class="text-sm font-bold text-title-color hover:text-primary ">{{ product.name }}</a>
            </h3>
            {% if is_special %}
                <div class="flex-shrink-0 border-4 border-border-color rounded-full w-20 h-20 flex flex-col items-center justify-center text-sm">
                    <b class="font-bold text-primary leading-3">{{ product.quantity|number }}</b>
                    <h5>{{ trans('pages.products.remained') }}</h5>
                </div>
            {% endif %}
        </div>

        {% if product.is_donation %}
            <div>
                {% component 'product.donation-progress-bar' with {product:product} %}
                <div class="border-color py-5 mt-5 mb-2.5">
                    <label for="donationAmount" class="block text-sm ">{{ trans('pages.products.donation_amount') }} <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-2.5 relative">
                        <input type="number" id="donationAmount" name="donation-amount" class="pe-24 h-9 form-input">
                        {# <button type="button" class="absolute top-0 h-full end-0 rounded-s-none rounded-e-md flex-shrink-0 btn px-4 btn-danger">
                            <!-- <span>تفعيل</span> -->
                            <i class="sicon-cancel text-xl w-8"></i>
                        </button> #}
                        <!-- error msg -->
                        {# <p  class="absolute -bottom-5 text-xs text-red-700" id="validationHelp">مثال لرسالةالخطأ.</p> #}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if product.subtitle %}
            <p class="text-sm text-gray-400 leading-6 mb-2.5">{{ product.subtitle }}</p>
        {% endif %}
        <div class="w-full flex justify-between items-center mb-5">
            {% if product.on_sale %}
                <div class="space-s-1">
                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                    <span class="text-sm text-gray-400 line-through">{{ product.regular_price|money }}</span>
                </div>
            {% else %}
                <h4 class="text-primary font-bold text-sm">{{ product.price|money }}</h4>
            {% endif %}
            {% if product.rating %}
                <div class="text-gray-400">
                    <div class="text-sm">
                        <i class="sicon-star2 text-theme-yellow"></i>
                        <span>{{ product.rating|number }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="flex items-center mt-auto">
            <button data-on-click="cart::quick.add"
                    data-id="{{ product.id }}" {% if not product.is_available %} disabled {% endif %}
                    class="btn btn--has-loading {{ product.is_available ? 'btn-outline-primary': 'btn-outline' }}">
                <span class="loader loader--small"></span>
                <span class="btn__text">{{ trans('pages.cart.add_to_cart') }}</span>
            </button>
            <div class="text-gray-400">
                <button aria-label="Add or Remove To Wishlist" class="wishlist-btn animated"
                        {% if user %}
                    data-on-click="wishlist::add" data-id="{{ product.id }}"
                {% else %}
                    onClick="salla.error('{{ trans('common.messages.must_login') }}')"
                        {% endif %}>
                    <i class="sicon-heart"></i>
                    <span class="loader loader--small absolute transition inset-x-0 inset-y-0 opacity-0 flex justify-center items-center"></span>
                </button>
            </div>
        </div>
    </div>
</div>