<div id="product_{{ product.id }}" class='product-entry product-entry--minimal {{ product.is_out_of_stock ? 'out-of-stock':'' }}'>
    <a href="{{ product.url }}" class='product-entry__image'>
        <img class="h-full w-full object-{{product.image.url|is_placeholder ? 'contain':'cover'}} lazy-load" src="{{asset('images/s-empty.png')}}" data-src="{{product.image.url}}" alt="{{ product.image.alt }}" />
        {# todo:: salla.error should be handling in the `wishlist::add` event, so check if the user.type === user in js side #}
        {# todo:: because you already have this value now in js level and keep it simple here just one on click #}
        {# todo:: use salla-button #}
        <button  aria-label="Add or remove to wishlist" class="btn--wishlist animated"
            {% if user.type=='user' %}
                data-on-click="wishlist::add" data-id="{{ product.id }}"
            {% else %}
                onClick="salla.error('{{ trans('common.messages.must_login') }}')"
            {% endif %}>
            <i class="sicon-heart"></i>
            <span class="loader loader--small"></span>
        </button>
    </a>
    <div class="flex flex-col flex-1 overflow-hidden p-5">
        <h3 class="product-entry__title leading-6 mb-2.5 max-w-full">
            <a href="{{ product.url }}">{{ product.name }}</a>
        </h3>
        <div class="w-full center-between mb-4">
            {% if product.on_sale %}
                <div class="space-s-1">
                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                    <span class="text-sm text-gray-400 line-through">{{ product.regular_price|money }}</span>
                </div>
            {% else %}
                <h4 class="font-bold text-sm">{{ product.price|money }}</h4>
            {% endif %}
            {% if product.rating %}
                <div class="text-sm text-gray-400">
                  <i class="sicon-star2 text-amber-400"></i>
                  <span>{{ product.rating|number }}</span>
                </div>
            {% endif %}
        </div>
        <div class="flex items-center mt-auto">
            {# todo:: use salla-button #}
            <button data-on-click="cart::quick.add" data-id="{{ product.id }}"
                    {% if not product.is_available %} disabled {% endif %}
                    class="btn btn--has-loading btn--outline-primary">
                <span class="btn__text">
                  {% if product.is_available %}
                      {{ trans('pages.cart.add_to_cart') }}
                  {% elseif product.is_donation %}
                      {{ trans('pages.products.donation_exceed') }}
                  {% else %}
                      {{ trans('pages.products.out_of_stock') }}
                  {% endif %}
                </span>
            </button>
        </div>
    </div>
</div>
