{#
view options:
 1- is_horizontal = false  // display horizonal card
 2- is_special = false  // display special product with count down

*Notice: if marchent wants equal image, {{store.settings.product.fit_type}} will be (contain|cover) if not, it will be empty.
#}
<div id="product-{{ product.id }}" class='product-entry {{ block_classes ?: '' }}
  {{ is_horizontal ? 'product-entry--horizontal': 'product-entry--vertical' }}
  {{ is_special ? 'product-entry--special':'' }}
  {{ store.settings.product.fit_type ? 'product-entry--fit-type':'' }}
  {{ product.is_out_of_stock ? 'out-of-stock':'' }}'>

    {# Image #}
    <a href="{{ product.url }}" class='product-entry__image'>
        <img class="h-full w-full object-{{ product.image.url|is_placeholder ? 'contain' : store.settings.product.fit_type ? :'cover' }} lazy-load"
             src="{{ asset('images/s-empty.png') }}" data-src="{{ product.image.url }}" alt="{{ product.image.alt }}"/>
        {% if product.promotion_title %}
            <div class="absolute top-4 start-0 z-1 font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ product.promotion_title }}</div>
        {% endif %}
    </a>

    {# content #}
    <div class="flex-1 p-5 flex flex-col">
        <div class="flex justify-between items-baseline">
            <h3 class="product-entry__title mb-2.5 leading-6 max-w-full">
                <a href="{{ product.url }}">{{ product.name }}</a>
            </h3>
            {% if is_special %}
                <div class="flex-shrink-0 border-4 border-border-color rounded-full w-20 h-20 flex flex-col items-center justify-center text-sm">
                    <b class="font-bold text-primary leading-3">{{ product.quantity|number }}</b>
                    <h5>{{ trans('pages.products.remained') }}</h5>
                </div>
            {% endif %}
        </div>

        {% if product.is_donation %}
            <div>
                {% component 'product.donation-progress-bar' with {product:product} %}
                <div class="border-color py-5 mt-5 mb-2.5">
                    <label for="donation-amount" class="block text-sm">{{ trans('pages.products.donation_amount') }}
                        <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-2.5 relative">
                        <input type="number" id="donation-amount" name="donating_amount" class="pe-24 h-9 form-input">
                    </div>
                </div>
            </div>
        {% endif %}

        {% if product.subtitle %}
            <p class="text-sm text-gray-400 leading-6 mb-2.5">{{ product.subtitle }}</p>
        {% endif %}

        <div class="w-full center-between mb-5">
            {% if product.on_sale %}
                <div class="space-s-1">
                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                    <span class="text-sm text-gray-400 line-through">{{ product.regular_price|money }}</span>
                </div>
            {% else %}
                <h4 class="font-bold text-sm">{{ product.price|money }}</h4>
            {% endif %}
            {% if product.rating %}
                <div class="text-sm text-gray-400">
                    <i class="sicon-star2 text-amber-400"></i>
                    <span>{{ product.rating|number }}</span>
                </div>
            {% endif %}
        </div>


        <div class="flex items-center mt-auto">
            <salla-button onclick="salla.cart.addItem({id: {{ product.id }}, donating_amount: document.querySelector('#product-{{  product.id }} #donation-amount')?.value})"
                          loader-position="center" class="btn--add-to-cart" width="wide" fill="outline"
                    {{ not product.is_available ? 'disabled' : '' }}>
                {% if product.is_available %}
                    {{ trans('pages.cart.add_to_cart') }}
                {% elseif product.is_donation %}
                    {{ trans('pages.products.donation_exceed') }}
                {% else %}
                    {{ trans('pages.products.out_of_stock') }}
                {% endif %}
            </salla-button>

            <salla-button button-type="icon" fill="none" color="light" aria-label="Add or remove to wishlist"
              class="btn--wishlist animated" onclick="salla.wishlist.api.add({{ product.id }})">
                <i class="sicon-heart"></i>
            </salla-button>
        </div>
    </div>
</div>
