{% if product.type in ['service', 'food'] %}
    {% include 'pages.partials.product.options.advanced' %}
{% elseif product.type == 'donating' %}
    {% include 'pages.partials.product.options.donation' %}
{% else %}
    {% include 'pages.partials.product.options.basic' %}
{% endif %}

{% if product.can_add_note or product.can_upload_file %}
    <section class="bg-white p-5 rounded-md mb-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start mb-5">
                <label class="form-label">
                    <b class="block">
                        {{ trans('pages.products.attachments') }}
                    </b>
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2 text-end" x-data="{ tab: '' }">
                    <div class="flex space-s-3 mb-1">
                        {% if product.can_add_note %}
                            <button type="button" @click="tab = 'showNote'" data-show="#note_{{ product.id }}"
                                    class="w-full focus:outline-none  bg-gray-bg  py-2.5 xs:ps-7 xs:pe-5 rounded-md flex items-center text-gray-500 justify-center text-sm mb-2.5">
                                <i class="font-medium sicon-chat-conversation-alt me-1.5 text-md"></i>
                                <span class="fix-align">{{ trans('pages.products.add_note') }} </span>
                            </button>
                        {% endif %}
                        {% if product.can_upload_file %}
                            <button @click="tab = 'showUpload' " type="button" data-show="#upload_file_{{ product.id }}"
                                    class="w-full  focus:outline-none bg-gray-bg  py-2.5 xs:ps-7 xs:pe-5 rounded-md flex items-center text-gray-500 justify-center text-sm mb-2.5">
                                <i class="font-medium sicon-paperclip me-1.5 text-md"></i>
                                <span class="fix-align">{{ trans('pages.products.add_file') }}</span>
                            </button>
                        {% endif %}
                    </div>

                    {% if product.can_add_note %}
                        <div x-show="tab === 'showNote'" data-show-content
                             id="note_{{ product.id }}">
                            <textarea placeholder="{{ trans('pages.products.notes_placeholder') }}"
                                      name="notes"
                                      class="animated animatedfadeInDown fadeInDown form-input h-16 bg-coolGray-50"
                                      cols="30" rows="10">{{ product.notes }}</textarea>
                        </div>
                    {% endif %}
                    {% if product.can_upload_file %}
                        <div x-show="tab === 'showUpload'">

                            <div class="animated animatedfadeInDown fadeInDown">
                                 <input type="file"
                                    class="filepond form-control filepond--option-multiple"
                                    id="attached_file_{{ product.id }}"
                                    name="{{ is_cart?'image_file':'file' }}"
                                    multiple
                                    {% if is_cart %}
                                        {# "product" here is presenter for cart_item, so {product.id} id {cart_item.id} #}
                                        data-url="{{ link('cart/image') }}"
                                        data-instant-upload
                                        data-files="{{ product.attached_files }}"
                                        data-item-id="{{ product.id }}"
                                        data-product-id="{{ product.product_id }}"
                                    {% endif %}
                                    data-max-file-size="3MB"
                                 />
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>
{% endif %}
