<div class="product-block product-block--mini">
    <div class="product-block__thumb">
        <a href="{{ product.url }}"
           class="thumb-wrapper lazy-background"
           aria-label="{{ product.name }}"
           style="background-image: url('{{ asset("images/img_loader.png") }}')"
           data-src="{{ product.image.url }}"
           title="{{ product.image.alt }}"></a>
    </div>
    <div class="product-block__info">
        <a href="{{ product.url }}" class="product-title">
            <h2 class="title title--primary title--x-small">
                {{ product.name|length > 20 ? product.name|slice(0, 20) ~ '...' : product.name }}
            </h2>
        </a>
        <div class="price-wrapper price-wrapper--small">
            {% if product.on_sale %}
                <span class="color-danger">{{ product.sale_price }}</span>
                <small>{{ product.regular_price }}</small>
            {% else %}
                <span>{{ product.price }}</span>
            {% endif %}
        </div>
    </div>
    <button class="btn btn--floated btn--add-to-cart {{ product.is_available?'':'disabled' }}"
            {% if not product.is_available %} disabled {% endif %}
            aria-label="Add To Cart"
            data-cart-quick-add='{{ product.product_id }}'
            data-id='{{product.product_id}}'
            data-on-click="cart-quick-add">
        <i class="sicon-shopping-bag"></i>
    </button>
</div>
