{% if products is not empty %}
  <div class="flex justify-between items-center mb-9">
    {# Block Title #}
    <div>
      <h2 class="text-xl font-bold {{type == 'offer' ? 'text-red-400': 'text-gray-500'}}">{{ title }}</h2>
      {% if subTitle %} <p class="pe-16 mt-2">{{ subTitle|raw }}</p> {% endif %}
    </div>

    {# Slider Nav btns && show all btn #}
    <div class="flex items-center">
      {% if display_all_url %}
          <a href="{{ display_all_url }}" class="text-sm font-bold text-primary hover:opacity-80 me-3">{{ trans('blocks.home.display_all') }}</a>
      {% endif %}
      <div class="hidden sm:flex space-s-1" dir="rtl">
          <button aria-label="Previous Slide" class="slider-prev btn--sm-arrow">
            <i class="sicon-keyboard_arrow_right"></i>
          </button>
          <button aria-label="Next Slide" class="slider-next btn--sm-arrow">
            <i class="sicon-keyboard_arrow_left"></i>
          </button>
      </div>
    </div>
  </div>

  {# Swiper #}
  <div class="swiper default-slider -mx-5 lg:-mx-3.75 lg:w-[calc(100%+30px)] pe-12 sm:pe-16 lg:pe-0 ps-3 lg:ps-0" data-id="{{type}}-slider">
    <div class="swiper-wrapper flex"> 
      {% for product in products %}
        <div class="swiper-slide h-auto similar-products__slide w-full sm:w-1/2 md:w-4/12 lg:w-1/4 px-2 lg:px-3.75">
            {% include 'pages.partials.product.card' %}
        </div>
      {% endfor %} 
    </div>
  </div>
{% endif %}