{% extends "layouts.master" %}

{% block content %}
    <section class="page-wrapper page--user-profile">
        <div class="container">
            <div class="user-profile-wrapper">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="user-profile__actions">
                            <div class="user-profile__avatar">
                                <div class="user-avatar-container">
                                    <input type="file"
                                           class="filepond profile-img file-pond--circular"
                                           name="filepond"
                                           id="profile_img"
                                           data-default="{{ user.avatar }}"
                                           data-max-file-size="3MB"/>
                                </div>
                                <div class="user-name-container">
                                    <h3 class="title title--medium">
                                        {{ user.full_name }}
                                    </h3>
                                    <ul class="list user-gender">
                                        {% if user.gender %}
                                        <li>
                                            <small class="font-regular nowrap font-sm color-muted">{{ trans('pages.profile.'~user.gender) }}</small>
                                        </li>
                                        -
                                        {% endif %}
                                        <li>
                                            <small class="font-regular nowrap font-sm color-muted">{{ user.formatted_birthday }}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="user-profile__tabs">
                                <ul class="tabs-heads center no-js">
                                    <li class="tab-head {% if is_link('profile') %}active{% endif %}">
                                        <a href="{{ link('profile') }}"
                                           data-profile="#profile_info">
                                            {{ trans('pages.profile.info') }}
                                        </a>
                                    </li>
                                    {% component 'header.profile_notifications' as notifications %}
                                    <li class="tab-head {% if is_link('wishlist') %}active{% endif %}">
                                        <a href="{{ link('wishlist') }}"
                                           data-profile="#wishlist">
                                            {{ trans('common.titles.wishlist') }}
                                        </a>
                                    </li>
                                    <li class="tab-head">
                                        <a href="{{ link('logout') }}" class="btn btn--oval btn--padded btn--logout">
                                            <i class="sicon-send-out d-inline-block"></i>
                                            {{ trans('blocks.header.logout') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="user-profile__information">
                            {% block tab_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
