{% extends "layouts.master" %}
{% block content %}
    {# missing assets #}
    <link rel="stylesheet" href="{{ asset('/dist/filepond.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/dist/filepond-plugin-image-preview.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/dist/mmenu-light.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/main.min.585d6d35c0b4638b35eb56b632cd0c56bcff2e18cb7e23233134a216759f9f1e.css') }}">
    <script defer src="{{ asset('/dist/filepond.js') }}"></script>

    {# <pre dir="ltr"> #}
    {# {{ dd(_context) }} #}

    <main id="main">
        <div class="relative profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-20 flex justify-between h-full items-center">
                <div class="self-start">
                    <nav class="w-full py-5">
                        <ol class="list-reset flex items-center text-sm  text-reverse ">
                            <li><a href="#" class="fix-align text-primary  text-reverse ">الرئيسية</a></li>
                            <li><i class="sicon-keyboard_arrow_left mx-2"></i></li>
                            <li><span class="fix-align">الملف الشخصي</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex flex-col lg:flex-row ">
                {% component 'header.profile_sidebar' as userMenu %}
                <div class="main-content flex-1 pb-10 pt-10 ">
                    <h1 class="font-bold text-lg mb-10">الملف الشخصي</h1>
                    <div class="lg:hidden">
                        <div class="text-center mb-9">
                            <div class=" h-24 w-24 m-auto">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <form action="">
                        <label for="user-name" class="block text-sm font-medium text-gray-700">
                            <b class="block">
                                اسم المستخدم
                            </b>
                        </label>
                        <div class="mt-2.5 mb-5">
                            <input type="text" name="user-name" value="{{ customer.full_name }}" id="user-name" autocomplete="given-name" class="form-input">
                        </div>
                        <div class="sm:flex w-full sm:space-s-8">
                            <div class="flex-1">
                                <label for="user-email" class="block text-sm font-medium text-gray-700">
                                    <b class="block">
                                        البريد الإلكتروني
                                    </b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="email" name="user-email" value="{{ customer.email }}" id="user-email"
                                           class="form-input ">
                                </div>
                            </div>

                            <div class="flex-1">
                                <label for="user-phone" class="block text-sm font-medium text-gray-700">
                                    <b class="block">
                                        رقم الهاتف
                                    </b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="tel" name="user-phone" value="{{ customer.mobile }}" id="user-phone"
                                           class="tel-input form-input">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary w-full">حفظ التعديلات</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
