{#
| Variable     | Type     | Description                  | @see |
|--------------|----------|------------------------------|------|
| customer     | Customer |                              | TODO |
| country_code | String   | Customer country code ex. SA |      |
#}
{% extends "layouts.master" %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('/dist/flatpickr.css') }}">
{% endblock %}

{% block content %}
    <main id="main">
        <div class="relative profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-10 flex justify-between h-full items-center">
                <div class="self-start">
                    {% component breadcrumbs with{is_dark:true} %}
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex flex-col lg:flex-row ">
                {% include 'pages.customer.partials.sidebar' %}
                <div class="main-content flex-1 pt-10">
                    <h1 class="font-bold text-lg mb-10">{{ trans('pages.profile.edit') }}</h1>
                    <div class="lg:hidden">
                        <div class="text-center mb-9">
                            <div class=" h-24 w-24 m-auto">
                                <input type="file">
                            </div>
                        </div>
                    </div>

                    <form class="form form--user-profile ajax"
                        method="POST"
                        novalidate
                        action="{{ link('profile') }}"
                        data-filter-before-submit="update_profile_form">

                        <div class="sm:flex w-full sm:space-s-8">
                            <div class="flex-1">
                                <label for="first-name" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{trans('pages.profile.first_name')}}</b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="text" name="first_name" value="{{ customer.first_name }}" id="first-name" autocomplete="first_name" class="form-input">
                                </div>
                            </div>
                            <div class="flex-1">
                                <label for="last-name" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{trans('pages.profile.last_name')}}</b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="text" name="last_name" value="{{ customer.last_name }}" id="last-name" autocomplete="last-name" class="form-input">
                                </div>
                            </div>
                        </div>

                        <div class="sm:flex w-full sm:space-s-8">
                            <div class="flex-1">
                                <label for="birthday" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{ trans('pages.profile.birthday') }}</b>
                                </label>
    
                                <div class="mt-2.5 mb-5">
                                    <input type="email" id="birthday" name="birthday" value="{{ user.birthday }}" class="form-input date-element" placeholder="{{ trans('pages.profile.birthday_placeholder') }}">
                                </div>
                            </div>

                            <div class="flex-1">
                                <label for="gender" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{ trans('pages.profile.gender') }}</b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <select class="form-input appearance-none" name="gender">
                                        <option placeholder value="">{{ trans('pages.profile.gender_placeholder') }}</option>
                                        <option value="male" {{ user.gender=='male'?'selected':'' }}>
                                            {{ trans('pages.profile.male') }}
                                        </option>
                                        <option value="female" {{ user.gender=='female'?'selected':'' }}>
                                            {{ trans('pages.profile.female') }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sm:flex w-full sm:space-s-8">
                            <div class="flex-1">
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{trans('common.elements.email')}}</b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="email" name="email" value="{{ customer.email }}" id="email"
                                           class="form-input ">
                                </div>
                            </div>

                            <div class="flex-1">
                                <label for="international-mobile" class="block text-sm font-medium text-gray-700">
                                    <b class="block">{{trans('common.elements.mobile')}}</b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="text" name="international_mobile" value="{{ customer.mobile }}" id="international-mobile" class="tel-input form-input" data-code="{{ country_code }}" data-digits="true">

                                    <input type="hidden" name="_country_iso2" class="country_code" value="{{ country_code }}">
                                </div>
                            </div>
                        </div>

                        <button id="update-profile-btn" class="btn btn-primary w-full mt-6">
                          <span class="loader loader--small"></span>
                          <span class="transition-transform duration-500 inline-block btn--text">{{trans('common.elements.save')}}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script defer src="{{ asset('/dist/flatpickr.js') }}"></script>
    <script>
      window.update_profile_form = function handleFile(form_data, that, event) {          
        let fileInput = window.fileponds ? window.fileponds.profile_img : undefined;
        if (!fileInput) {
            return form_data;
        }
        fileInput.getFiles()
          .forEach(function (filepondFile) {
              form_data.append('image_file', filepondFile.file);
          })
        return form_data;
      };

      document.addEventListener('DOMContentLoaded', () => {
        flatpickr('.date-element', {
            "dateFormat": "Y-m-d",
        });

        salla.document.event.onKeyup('#verify-mobile-field', function (event) {
            salla.helpers.digitsOnly('verify-mobile-field');
            var btn = document.querySelector('#verify-mobile-btn');
            if (event.target.value.length == 4) {
                btn.removeAttribute('disabled');
            } else {
                btn.setAttribute('disabled', '');
            }
        });
        

        // loading state
        const saveBtn = document.getElementById('update-profile-btn');
        saveBtn.addEventListener('click', function(){
          saveBtn.classList.add('btn--is-loading');
        })

        salla.event.on("stores::profile.updated", function () {
            //window.location.reload();
            saveBtn.classList.remove('btn--is-loading');
        }) 
      });
    </Script>
{% endblock %}
