{% extends "layouts.master" %}
{% block content %}
    {# missing assets #}
    <link rel="stylesheet" href="{{ asset('/dist/filepond_styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/dist/filepond-plugin-image-preview.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/dist/mmenu-light.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/main.min.585d6d35c0b4638b35eb56b632cd0c56bcff2e18cb7e23233134a216759f9f1e.css') }}">
    <script defer src="{{ asset('/dist/filepond.js') }}"></script>

    {# <pre dir="ltr"> #}
    {# {{ dd(_context) }} #}

    <main id="main">
        <div class="relative profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-20 flex justify-between h-full items-center">
                <div class="self-start">
                    <nav class="w-full py-5">
                        <ol class="list-reset flex items-center text-sm  text-reverse ">
                            <li><a href="#" class="fix-align text-primary  text-reverse ">الرئيسية</a></li>
                            <li><i class="sicon-keyboard_arrow_left mx-2"></i></li>
                            <li><span class="fix-align">الملف الشخصي</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex flex-col lg:flex-row ">
                <nav aria-label="Sidebar"
                     class="hidden lg:block lg:sticky top-24 -mt-28 z-20 shadow-default rounded-md bg-white w-full lg:w-72  lg:me-8 pt-8 pb-11">
                    <div class="text-center mb-9">
                        <div class="text-center mb-9">
                            <div class=" h-24 w-24 m-auto">
                                <input type="file">
                            </div>
                        </div>
                        <script>
                          document.addEventListener('DOMContentLoaded', () => {

                            FilePond.registerPlugin(
                              FilePondPluginImagePreview,
                            );

                            const inputElement = document.querySelector('input[type="file"]');

                            const pond = FilePond.create(inputElement, {
                              labelIdle: `<div class="rounded-icon bg-primary h-10 w-10 text-white"> <span class="sicon-camera"></span></div>`,
                              imagePreviewHeight: 170,
                              imageCropAspectRatio: '1:1',
                              imageResizeTargetWidth: 200,
                              imageResizeTargetHeight: 200,
                              stylePanelLayout: 'compact circle',
                              styleLoadIndicatorPosition: 'center bottom',
                              styleProgressIndicatorPosition: 'left bottom',
                              styleButtonRemoveItemPosition: 'center bottom',
                              styleButtonProcessItemPosition: 'right bottom',
                            });
                          });
                        </Script>
                    </div>
                    <a href="/profile"
                       class="group menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm text-gray-text hover:text-dark transition-colors duration-300 hover:bg-gray-bg"
                       aria-current="page">
                        <i class=" sicon-settings me-3 text-lg"></i>
                        <span class="truncate">
                    الملف الشخصي
                    </span>
                    </a>
                    <a href="/orders"
                       class="group menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm text-gray-text hover:text-dark transition-colors duration-300 hover:bg-gray-bg"
                       aria-current="page">
                        <i class=" sicon-packed-box me-3 text-lg"></i>
                        <span class="truncate">
            قائمة الطلبات
          </span>
                    </a>
                    <a href="/orders"
                       class="group menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm text-gray-text hover:text-dark transition-colors duration-300 hover:bg-gray-bg"
                       aria-current="page">
                        <i class=" sicon-debit-card-back me-3 text-lg"></i>
                        <span class="truncate">
            طلبات بانتظار الدفع
          </span>
                    </a>
                    <a href="/favorites"
                       class="group menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm text-gray-text hover:text-dark transition-colors duration-300 hover:bg-gray-bg"
                       aria-current="page">
                        <i class=" sicon-heart me-3 text-lg"></i>
                        <span class="truncate">
            الأمنيات
          </span>
                    </a>
                    <a href="/"
                       class="group menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm text-gray-text hover:text-dark transition-colors duration-300 hover:bg-gray-bg"
                       aria-current="page">
                        <i class=" sicon-send-out me-3 text-lg"></i>
                        <span class="truncate">
            تسجيل خروج
          </span>
                    </a>
                </nav>
                <script>
                  document.addEventListener('DOMContentLoaded', () => {

                    FilePond.registerPlugin(
                      FilePondPluginImagePreview,
                    );

                    const inputElement = document.querySelector('input[type="file"]');

                    const pond = FilePond.create(inputElement, {
                      labelIdle: `<div class="rounded-icon bg-primary h-10 w-10 text-white"> <span class="sicon-camera"></span></div>`,
                      imagePreviewHeight: 170,
                      imageCropAspectRatio: '1:1',
                      imageResizeTargetWidth: 200,
                      imageResizeTargetHeight: 200,
                      stylePanelLayout: 'compact circle',
                      styleLoadIndicatorPosition: 'center bottom',
                      styleProgressIndicatorPosition: 'left bottom',
                      styleButtonRemoveItemPosition: 'center bottom',
                      styleButtonProcessItemPosition: 'right bottom',
                    });


                    anime({
                      targets: '.menu-item',
                      opacity: [0, 1],
                      translateY: [20, 0],
                      delay: function (el, i) {
                        return i * 100;
                      },
                    })
                  });
                </Script>
                <div class="main-content flex-1 pb-10 pt-10 ">
                    <h1 class="font-bold text-lg mb-10">الملف الشخصي</h1>
                    <div class="lg:hidden">
                        <div class="text-center mb-9">
                            <div class=" h-24 w-24 m-auto">
                                <input type="file">
                            </div>

                        </div>

                        <script>
                          document.addEventListener('DOMContentLoaded', () => {

                            FilePond.registerPlugin(
                              FilePondPluginImagePreview,
                            );

                            const inputElement = document.querySelector('input[type="file"]');

                            const pond = FilePond.create(inputElement, {
                              labelIdle: `<div class="rounded-icon bg-primary h-10 w-10 text-white"> <span class="sicon-camera"></span></div>`,
                              imagePreviewHeight: 170,
                              imageCropAspectRatio: '1:1',
                              imageResizeTargetWidth: 200,
                              imageResizeTargetHeight: 200,
                              stylePanelLayout: 'compact circle',
                              styleLoadIndicatorPosition: 'center bottom',
                              styleProgressIndicatorPosition: 'left bottom',
                              styleButtonRemoveItemPosition: 'center bottom',
                              styleButtonProcessItemPosition: 'right bottom',
                            });
                          });
                        </Script>
                    </div>

                    <form action="">
                        <label for="user-name" class="block text-sm font-medium text-gray-700">
                            <b class="block">
                                اسم المستخدم
                            </b>
                        </label>
                        <div class="mt-2.5 mb-5">
                            <input type="text" name="user-name" value="{{ customer.full_name }}" id="user-name"
                                   autocomplete="given-name" class="form-input">
                        </div>
                        <div class="sm:flex w-full sm:space-s-8">
                            <div class="flex-1">
                                <label for="user-email" class="block text-sm font-medium text-gray-700">
                                    <b class="block">
                                        البريد الإلكتروني
                                    </b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="email" name="user-email" value="{{ customer.email }}" id="user-email"
                                           class="form-input ">
                                </div>
                            </div>

                            <div class="flex-1">
                                <label for="user-phone" class="block text-sm font-medium text-gray-700">
                                    <b class="block">
                                        رقم الهاتف
                                    </b>
                                </label>
                                <div class="mt-2.5 mb-5">
                                    <input type="tel" name="user-phone" value="{{ customer.mobile }}" id="user-phone"
                                           class="tel-input form-input">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary w-full">حفظ التعديلات</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
