<div class="verify-mobile fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-light-gray">

	<div class="verify-mobile__body login-container relative p-8 max-h-80 w-80 box-content  shadow-default max-w-3xl  mx-auto  bg-white rounded">
		
        {# <div class="verify-mobile__heading">
			<h5 class="panel-title verify-mobile__title">
				<i class="sicon-key icon"></i>
				<span>{{ trans('pages.profile.verify_title') }}</span>
			</h5>
		</div>
		<form class="ajax form form--lg-fields" method="POST" action="{{ link('profile/verify-mobile') }}" enctype="multipart/form-data">
			{{ csrf_field() }}
			<input type="hidden" name="_country_iso2" value="{{ _country_iso2 }}">
			<input type="hidden" name="international_mobile" value="{{ international_mobile }}">

			<div class="form-group verify-mobile__message">
				{{ trans('pages.profile.verify_message')|raw }}
			</div>

			<div class="form-group">
				<label for="verify-mobile-field">{{ trans('pages.profile.verify_placeholder') }}</label>
				<input type="text" id="verify-mobile-field" name="code" maxlength="4" data-digits class="form-control center verify input-verify_code" required>
			</div>
			<div class="form-group align-center">
				<button type="submit" disabled id="verify-mobile-btn" class="btn btn--rounded btn--large btn--wide btn--secondary submit-btn">
					{{ trans('pages.profile.verify') }}
				</button>
			</div>
		</form> #}


        <!-- otp -->
         <div x-ref="modalContent" class="box-inner ">
        <h5 class="text-black max-w-none text-lg font-bold mb-8 leading-3">سجل دخول إلي الموقع</h5>

        <button @click="closeModal"
          class="close-modal text-gray-text w-6 h-6 focus:outline-none text-lg absolute top-6 end-6">
          <i class="sicon-cancel"></i>
        </button>
          <form x-data="initOtp()" action="#" method="POST" class="anime-item">
            <p for="email" class="block text-sm font-medium text-gray-700 mb-2">
              <span class="block">
                ادخل رمز التحقق
                <span class="text-red-500">*</span>
              </span>
            </p>
            <div class="flex justify-between mb-5 space-s-2" dir="ltr">
              <!-- <template x-for="(input, index) in length" :key="index"> -->
              {% for i in [1,2,3,4] %}
                <input type="text" maxlength="1" class="otp-input appearance-none form-input h-10 rounded-md text-center"/>
              {% endfor %}
             
              <!-- </template> -->
            </div>
            <input type="hidden" name="otp" x-model="value">
            <button type="button" class="w-full btn btn-primary mb-5 h-10">
              إرسال
            </button>
            <p class="mb-5 text-center text-sm text-gray-text">إعادة الارسال بعد <b  class="text-dark" x-text="'0' + remainTime + ':00'"></b>
            </p>
           
            <a href="#" class="text-sm text-primary block text-center"> إعادة إرسال
            </a>
          </form>
          </div>

	</div>
</div>