{#
| Variable   | Type                 | Description |
|------------|----------------------|-------------|
| page       | object               |             |
| page.title | string               |             |
| page.name  | string               |             |
| products[] | Product[] *Paginator |             |
#}
{% extends "layouts.master" %}
{% block content %}
    {% include 'pages.partials.customer.breadcrumbs' %}

    <div class="container mb-24">
        <div class="flex items-start flex-col lg:flex-row ">
            {% include 'pages.partials.customer.sidebar' %}
            <div class="main-content w-full flex-1 pt-10 ">
                <h1 class="font-bold text-lg mb-5">{{ trans('common.titles.wishlist') }}</h1>
                <div class="space-y-5 mb-10" id="wishlist">
                    {% for product in products %}
                        <div class='product-entry rounded-md p-5 bg-white h-full justify-between overflow-hidden flex flex-col md:flex-row'
                             id="product_{{ product.id }}">
                            <div class="flex items-center">
                                <a href="{{ product.url }}"
                                   class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                    <img class="h-full w-full object-cover" src="{{ product.image.url }}"
                                         alt="{{ product.image.alt }}"/>
                                </a>
                                <div class="flex-1 ps-5">
                                    <div class="flex flex-col justify-start items-baseline">
                                        <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                            <a href="{{ product.url }}">{{ product.name }}</a>
                                        </h3>
                                    </div>
                                    <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                        {% if product.on_sale %}
                                            <div class="space-s-1">
                                                <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                                                <span class="text-sm text-gray-text line-through">{{ product.regular_price|money }}</span>
                                            </div>
                                        {% else %}
                                            <h4 class="text-primary font-bold text-sm">{{ product.price|money }}</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-between w-full md:w-auto space-s-4 mt-4 md:mt-0">

                                <button data-on-click="cart::quick-add" data-id="{{ product.product_id }}"
                                        class="btn add-to-cart-btn btn--has-loading flex items-center justify-center transition duration-300 btn-outline-primary w-28 md:w-64">
                                    <span class="loader loader--small"></span>
                                    <span class="transition-transform duration-500 inline-block btn--text pointer-events-none">{{ trans('pages.cart.add_to_cart') }}</span>
                                </button>

                                <button class="relative rounded-icon bg-red-500 text-white w-6 h-6 btn-remove cursor-pointer"
                                        data-id="{{ product.product_id }}"
                                        data-on-click="wishlist::remove">
                                    <i class="sicon-cancel text-base"></i>
                                    <span style="display: none"
                                          class="absolute spinner-loader reverse w-4 h-4 animate-spin border-2 border-white rounded-full"></span>
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="h-full content-placeholder content-placeholder--cart text-gray-400 pt-14 pb-20 flex items-center flex-col justify-center">
                                <span class="rounded-icon w-36 h-36 bg-gray-bg mb-6">
                                    <i class="sicon-heart text-6xl block text-reverse-dark"></i>
                                </span>
                            <p class="text-sm mb-5">{{ trans('pages.profile.wishlist_placeholder') }}</p>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ asset('dist/customer.js') }}"></script>
{% endblock %}
