{#
| Variable   | Type                 | Description |
|------------|----------------------|-------------|
| page       | object               |             |
| page.title | string               |             |
| page.slug  | string               |             |
| products[] | Product[] *Paginator |             |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    <div class="space-y-5 mb-10" id="wishlist">
        {% hook 'customer:wishlist.items.start' %}

        {% for product in products %}
            <div class='product-entry product-entry--wishlist' id="product_{{ product.id }}">
                <div class="flex items-center mb-4 sm:mb-0">
                    <a href="{{ product.url }}"
                       class='product-entry__image'>
                        <img class="h-full w-full object-cover" src="{{ product.image.url }}"
                             alt="{{ product.image.alt }}"/>
                    </a>
                    <div class="flex-1 ps-5">
                        <h3 class="text-sm text-title-color leading-6 mb-1.5 pe-4 md:pe-8 line-clamp-1">
                            <a href="{{ product.url }}">{{ product.name }}</a>
                        </h3>
                        <div class="w-full center-between">
                            {% if product.on_sale %}
                                <div class="space-s-1">
                                    <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price|money }}</h4>
                                    <span class="text-sm text-gray-500 line-through">{{ product.regular_price|money }}</span>
                                </div>
                            {% else %}
                                <h4 class="font-bold text-sm">{{ product.price|money }}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-s-4">
                    <salla-button loader-position="center" class="flex-grow-0 md:w-40 btn--add-to-cart"
                                  btn-style="outline-primary"
                                  trigger-on-click="cart::quick.add"
                                  data-id="{{ product.id }}">
                      {{ trans('pages.cart.add_to_cart') }}
                    </salla-button>

                    <salla-button icon mini-icon btn-style="danger" onclick="salla.wishlist.api.remove({{ product.id }})" class="btn--delete">
                      <i class="sicon-cancel"></i>
                    </salla-button>
                </div>
            </div>
        {% else %}
            <div class="no-content-placeholder">
                <span class="rounded-icon !w-36 !h-36 bg-gray-bg mb-6">
                    <i class="sicon-heart text-6xl block text-reverse-dark"></i>
                </span>
                <p class="text-sm mb-5">{{ trans('pages.profile.wishlist_placeholder') }}</p>
            </div>
        {% endfor %}

        {% hook 'customer:wishlist.items.end' %}
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ asset('dist/customer.js') }}"></script>
{% endblock %}
