{#
| Variable     | Type                  | Description |
|--------------|-----------------------|-------------|
| page         | Page                  |             |
| page.title   | string                |             |
| page.content | string                |             |
| page.url     | string                |             |
| page.slug    | string                |             |
#}
{% extends "layouts.master" %}
{% block content %}
    {# ======================== Landing Page ======================== #}
    {% if not landing %}
        <div class="landing-page notfound">
            <header>
                <div class="header-content container">
                    <img src="{{ store.logo }}" alt="logo" class="logo">
                    <div class="header-content-inner">
                        <h1> {{trans('common.errors.404')}}</h1>
                        <div class="text-center mt-6">
                            <salla-button href="{{ link('/') }}" color="primary" class="btn--rounded-full !text-white">
                                {{trans('common.elements.back_home')}}
                            </salla-button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    {% elseif landing.is_expired %}
        <div class="landing-page expired">
            <header>
                <div class="header-content container">
                    <img src="{{ store.logo }}" alt="logo" class="logo">
                    <div class="header-content-inner">
                        <h1> {{trans('pages.offer.offer_finished')}}</h1>
                        <p>{{ trans('pages.offer.offer_expired_message') }}</p>
                        <div class="text-center mt-6">
                            <salla-button href="{{ link('/') }}" color="primary" class="btn--rounded-full !text-white">
                                {{trans('common.elements.back_home')}}
                            </salla-button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    {% else %}
        <div class="landing-page">
            <header>
                <div class="header-content container">
                    <img src="{{ store.logo }}" alt="logo" class="logo">
                    <div class="header-content-inner">
                        <h1>{{ landing.title }}</h1>
                        <p>{{ landing.content|raw }}</p>
                    </div>
                    {% if landing.offer_ends_at %}
                        <div class="header-content-offer">
                            {% if landing.offer_ends_at %}
                                <h3>{{trans('pages.offer.offer_remaining_time')}}</h3>
                                <ul id="countdown_id" class="timer countdown-timer mt-30"
                                    data-dunixtime="{{ landing.offer_ends_at }}"></ul>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </header>

            <section class="s-block container overflow-hidden">
                {% if landing.is_slider %}
                    {% include 'components.home.products-slider' with{products:landing.products, hide_add_btn:true, show_quantity:landing.show_quantity, title:trans('pages.offer.included_products')} %}
                {% else %}
                    {% include 'components.home.fixed-products' with{products:landing.products, hide_add_btn:true, show_quantity:landing.show_quantity, title:trans('pages.offer.included_products')} %}
                {% endif %}

                <div class="text-center mt-6">
                    <salla-button onclick="salla.landing.createCartFromPage({{ landing.id }})" color="primary" class="btn--rounded-full !text-white">
                        {{ trans('pages.products.buy_now') }}
                    </salla-button>
                </div>
            </section>

            {% if landing.show_store_features %}
                <section class="s-block container overflow-hidden pb-16">
                    {% component 'home.store-features' %}
                </section>
            {% endif %}

            {% if landing.testimonials_type %}
                <section class="s-block overflow-hidden bg-gray-50 pb-16">
                    <div class="container">
                        {% component 'home.testimonials' with{type:landing.testimonials_type} %}
                    </div>
                </section>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script defer src="{{ 'landing.js' | asset }}"></script>
{% endblock %}