{#
| Variable              | Type                         | Description         |
|-----------------------|------------------------------|---------------------|
| comments              | Comment[] *Paginator         |                     |
| comments[].id         | int                          |                     |
| comments[].avatar     | string                       |                     |
| comments[].name       | string                       |                     |
| comments[].has_order  | bool                         |                     |
| comments[].created_at | Date *Carbon                 |                     |
| comments[].stars      | int                          |                     |
| comments[].content    | string                       |                     |
| comments[].is_pending | bool                         | Is not approved yet |
| comments[].replies    | Comment[] *Collection        |                     |
| comments[].type       | string 'admin','customer'    |                     |
| type                  | string                       | page, product       |
| id                    | int                          | pageId or ProductId |
#}

{% extends "layouts.master" %}
{% block content %}
    <div class="container">

        {# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
        <nav class="breadcrumbs w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>

        <div class="flex justify-center">
            <div class="content content--single-page w-full lg:w-10/12 bg-white rounded p-6 lg:p-8 mt-4 lg:mt-12">
                <div class="mb-4 sm:mb-6 flex justify-between items-center">
                    <h1 class="font-bold text-2xl">{{ page.title }}</h1>
                    <div class="flex items-center">
                        <label class="hidden sm:block rtl:ml-3 ltr:mr-3 whitespace-nowrap" for="testimonials-filter">{{ trans('pages.categories.sorting') }}</label>
                        <select id="testimonials-filter" class="form-input pt-0 pb-1 rtl:pl-10 ltr:pr-10">
                        {# TODO: add translations #}
                            <option value="desc">الأحدث</option>
                            <option value="asc">الأقدم</option>
                            <option value="rating-desc">الأعلى تقييما</option>
                            <option value="rating-asc">الأقل تقييما</option>
                        </select>
                    </div>
                </div>
                
                <div class="content-entry">
                    <div class="s-comments s-comments-{{ type }}">
                        <div class="container {{ type == 'page' ? 'px-0':'' }}">
                            {% if items|length %}
                                <salla-infinite-scroll next-page="{{ items.next_page }}">
                                    {% for comment in items %}
                                        {% include 'pages.partials.single-comment' %}
                                    {% endfor %}
                                </salla-infinite-scroll>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'testimonials.js' | asset }}"></script>
{% endblock %}