{% block styles %}
    <link rel="stylesheet" href="{{ asset('/dist/filepond.css') }}">
{% endblock %}

<nav aria-label="Sidebar"
     class="hidden lg:block z-10 flex-shrink-0 lg:sticky top-24 -mt-28 shadow-default rounded-md bg-white w-full lg:w-72 lg:me-8 pt-8 pb-11 sidebar opacity-0 space-y-px">

    <div class="text-center mb-9">
        <div class="text-center mb-9">
            <div class="h-24 w-24 m-auto avatar-wrap opacity-0">
                <input type="file"
                       class="filepond profile-img file-pond--circular"
                       name="filepond"
                       data-instantUpload="true"
                       id="profile_img"
                       data-default="{{ user.avatar }}"
                       data-max-file-size="3MB"/>
            </div>
        </div>
    </div>

    {% component 'header.notifications' with{is_profile_sidebar:true} %}

    <a href="{{ link('orders') }}"
       aria-current="page"
       class="menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm transition-colors duration-300 hover:bg-gray-200/30 {{ is_link('orders') and not is_link('pending_orders') ?  'text-primary bg-gray-200/20':'text-gray-400 hover:text-gray-500' }}">
        <i class="sicon-packed-box me-3 text-lg"></i>
        <span class="truncate">{{ trans('common.titles.orders') }}</span>
    </a>

    <a href="{{ link('wishlist') }}"
       aria-current="page"
       class="menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm transition-colors duration-300 hover:bg-gray-200/30 {{ is_link('wishlist')?  'text-primary bg-gray-200/20':'text-gray-400 hover:text-gray-500' }}">
        <i class="sicon-heart me-3 text-lg"></i>
        {{ trans('common.titles.wishlist') }}
    </a>

    <a href="{{ link('profile') }}"
       class="menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm transition-colors duration-300 hover:bg-gray-200/30 {{ is_link('profile')?  'text-primary bg-gray-200/20':'text-gray-400 hover:text-gray-500' }}">
        <i class="sicon-settings me-3 text-lg"></i>
        {{ trans('common.titles.profile') }}
    </a>

    <a href="#"
       data-on-click="auth-logout"
       class="text-theme-red  menu-item opacity-0 flex items-center  px-6 py-2.5 text-sm transition-colors duration-300 hover:bg-gray-200/30">
        <i class="sicon-send-out me-3 text-lg"></i>
        {{ trans('blocks.header.logout') }}
    </a>
</nav>

{% block scripts %}
    <script defer src="{{ asset('/dist/filepond.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
           
            let sidebarAnime = anime.timeline();
            sidebarAnime
                .add({
                    targets   : '.sidebar',
                    opacity   : [0, 1],
                    translateY: [30, 0],
                }, '+=200')
                .add({
                    targets: '.avatar-wrap',
                    opacity: [0, 1],
                    scale  : [0, 1],
                }, '-=900')
                .add({
                    targets   : '.menu-item',
                    opacity   : [0, 1],
                    translateY: [20, 0],
                    delay     : function (el, i) {
                        return i * 100;
                    },
                }, '-=700')
        });
    </Script>
{% endblock %}