{#
| Variable    | Type    | Description                                                      |
|-------------|---------|------------------------------------------------------------------|
| url         | string  |                                                                  |
| image.url   | string  |                                                                  |
| image.alt   | ?string |                                                                  |
| position    | Int     | Sorting number start from zero                                   |
#}
<section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container">
        <a href="{{ url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
            <img width="100%" class="lazy" src="{{'images/s-empty-wide.png' | asset}}" data-src="{{ image.url }}" alt="{{ image.alt }}"/>
        </a>
    </div>
</section>
