{#
| Variable        | Type    | Description                                                      |
|-----------------|---------|------------------------------------------------------------------|
| url             | string  |                                                                  |
| image.url       | string  |                                                                  |
| image.alt       | ?string |                                                                  |
| image.small_url | ?string |                                                                  |
| position        | Int     | Sorting number start from zero                                   |

#}
<section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container">
        {% set alt_text = image.alt|trim ? image.alt : 'fixed banner' %}
        <a href="{{ url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ alt_text }}">
            <picture>
                {% if image.small_url %}
                    <source
                        media="(max-width: 767px)"
                        srcset="{{ image.small_url }}"
                    />
                {% endif %}
                <img
                    width="1200"
                    height="300"
                    src="{{ image.url }}"
                    loading="lazy"
                    alt="{{ alt_text }}"
                    style="height:auto;max-width:100%;object-fit: contain;"
                    fetchpriority="high"
                />
            </picture>
        </a>
    </div>
</section>
