{#
| Variable    | Type    | Description                                                      |
|-------------|---------|------------------------------------------------------------------|
| url         | string  |                                                                  |
| image.url   | string  |                                                                  |
| image.alt   | ?string |                                                                  |
| position    | Int     | Sorting number start from zero                                   |
#}
<section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container">
        <a href="{{ url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
			{% if position == 0 %}
				<img width="1200" height="300" src="{{ image.url }}" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}" fetchpriority="high"/>
			{% else %}
				<img width="1200" height="300"
					src="{{ 'images/s-empty-wide.png' | asset }}"
					data-src="{{ image.url }}"
					class="lazy"
					alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/>
			{% endif %}
        </a>
    </div>
</section>
