{#
| Variable                           | Type     | Description                                                                  |
|------------------------------------|----------|------------------------------------------------------------------------------|
| component                          | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.merge_with_top_component | bool     |                                                                              |
| component.title                    | ?string  |                                                                              |
| component.links                    | object[] | list of links                                                                |
| component.links[].icon             | string   |                                                                              |
| component.links[].title            | string   |                                                                              |
| component.links[].url              | string   |                                                                              |
| position                           | int      | Sorting number start from zero                                               |
#}
<section class="s-block s-block--categories {{ component.merge_with_top_component and position?'merge-with-top-component':'' }}">
    <div class="container">
        {% if(component.title) or (component.merge_with_top_component) %}
            <h2 class="s-block--categories__title">{{ component.title }}</h2>
        {% endif %}
        <div class="swiper default-slider slider-layout" id="main-links-{{ position }}">
            <div class="swiper-wrapper py-3 lg:py-4">
                {% for link in component.links %}
                    <div class="swiper-slide slide--one-sixth">
                        <a href="{{ link.url }}" class="slide--cat-entry">
                            <i class="{{ link.icon }}"></i>
                            <h4>{{ link.title }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>