{#
| Variable              | Type                  | Description                                                                  |
|-----------------------|-----------------------|------------------------------------------------------------------------------|
| component             | object                | Contains merchant settings for fields from twilight.json `component` section |
| component.background  | string                |                                                                              |
| component.title       | ?string               |                                                                              |
| component.description | ?string               |                                                                              |
| component.products    | Product[] *Collection | @see views/pages/product.twig                                                |
| position              | int                   | Sorting number start from zero                                               |
#}
<section class="s-block s-block--slider-with-bg s-block--full-bg">
    <div class="slider-bg" style="background-image: url('{{ component.background }}');">
        <div class="container pt-8 sm:pt-20 relative">
            <div>
                <h3 class="text-lg font-bold leading-12">
                    {{ component.title }}
                </h3>
                <p class="text-sm mb-8 line-clamp-2 max-w-lg">
                    {{ component.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="container -mt-62 relative overflow-hidden">
        <salla-slider 
          type="carousel"
          block-title=" "
          display-all-url="{{component.display_all_url}}"
          id="slider-with-bg-{{ position }}">
            <div slot="items">
                {% for product in component.products %}
                    <div class="slide--one-fourth">
                        {% include 'pages.partials.product.card' %}
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section>
 
