{#
| Variable              | Type                  | Description                                                                  |
|-----------------------|-----------------------|------------------------------------------------------------------------------|
| component             | object                | Contains merchant settings for fields from twilight.json `component` section |
| component.background  | string                |                                                                              |
| component.title       | ?string               |                                                                              |
| component.description | ?string               |                                                                              |
| component.products    | Product[] *Collection | @see views/pages/product.twig                                                |
| position              | int                   | Sorting number start from zero                                               |
#}
<section id="slider-with-bg-{{ position }}" class="s-block s-block--slider-with-bg s-block--full-bg">
    <div class="slider-bg" style="background-image: url('{{ component.background }}');">
        <div class="container pt-8 sm:pt-20 relative">
            <div>
                <h3 class="text-lg font-bold leading-12">
                    {{ component.title }}
                </h3>
                <p class="text-sm mb-8 line-clamp-2 max-w-lg">
                    {{ component.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="container -mt-62 relative">
        <div class="center-between mb-6 sm:mb-8 pe-5 md:px-0">
            <a href="{{ link('latest-products') }}" class="btn btn--outline btn--rounded-full light grow-0">
                {{ trans('blocks.home.display_all') }}
            </a>

            <div class="hidden md:block text-center space-s-3" dir="rtl">
                <button class="slider-prev btn--md-arrow light">
                    <i class="sicon-keyboard_arrow_right"></i>
                </button>
                <button class="slider-next btn--md-arrow light">
                    <i class="sicon-keyboard_arrow_left"></i>
                </button>
            </div>
        </div> 

        <div class="lg:overflow-hidden">
            <div class="swiper default-slider slider-layout" data-id="slider-with-bg-{{ position }}">
              <div class="swiper-wrapper flex items-stretch">
                {% for product in component.products %}
                  <div class="swiper-slide slide--one-fourth">
                      {% include 'pages.partials.product.card' %}
                  </div>
                {% endfor %} 
              </div>
            </div>
        </div>
    </div>
</section>
