{#
| Variable           | Type                      | Description                         |
|--------------------|---------------------------|-------------------------------------|
| limit              | string                    | Maximum number of the testimonials  |
| type               | string                    | `default:store` all, product, store |
| sort               | string                    |                                     |
| without_customer   | bool                      | show info customers                 |
#}
<section class="s-block s-block--testimonials container overflow-hidden">
    <salla-reviews {{ display_all_url ? "display-all-link" : "" }} limit="{{ limit }}" sort="{{ sort }}" {{ without_customer ? 'without-customer' : '' }} type="{{type}}"></salla-reviews>
</section> 
