{#
| Variable           | Type                      | Description                         |
|--------------------|---------------------------|-------------------------------------|
| limit              | string                    | Maximum number of the testimonials  |
| type               | string                    | `default:store` all, product, store |
| sort               | string                    |                                     |
| hide_customer_info | bool                      | show/hide info customers            |
#}
<section class="s-block s-block--testimonials container overflow-hidden">
    <salla-reviews {{ display_all_url ? "display-all-link" : "" }} limit="{{ limit }}" sort="{{ sort }}" {{ hide_customer_info ? 'hide-customer-info' : '' }} type="{{type}}"></salla-reviews>
</section> 
