{#
| Variable           | Type                      | Description                         |
|--------------------|---------------------------|-------------------------------------|
| limit              | string                    | Maximum number of the testimonials  |
| items[]            | Testimonial[]  *Paginator |                                     |
| items[].id         | int                       |                                     |
| items[].avatar     | string                    |                                     |
| items[].name       | string                    |                                     |
| items[].has_order  | bool                      |                                     |
| items[].created_at | Date *Carbon              |                                     |
| items[].stars      | int                       |                                     |
| items[].content    | string                    |                                     |
| type               | string                    | `default:store` all, product, store |
| position           | string                    | Sorting number start from zero      |
#}

<section class="s-block s-block--testimonials overflow-hidden">
    {# block header #}
    <div class="s-block__title">
      <div class="right-side">
        <h2>{{ trans('blocks.home.testimonials') }}</h2>
        {# <p>عنوان فرعي توصيفي صغير</p> #}
      </div> 

      {# Slider Nav btns #}
      <div class="s-block__title-nav" dir="rtl">
        <button aria-label="{{ trans('blocks.common.prevSlide') }}" class="slider-prev btn--nav-arrow">
          <i class="sicon-keyboard_arrow_right"></i>
        </button>
        <button aria-label="{{ trans('blocks.common.nextSlide') }}" class="slider-next btn--nav-arrow">
          <i class="sicon-keyboard_arrow_left"></i>
        </button>
      </div>
    </div>

    <div class="container lg:overflow-hidden">
        <salla-slider type="testimonials" class="testimonials-slider" show-controls="true">
            <div slot="items">
                {% for item in items %}
                    <div class="swiper-slide">
                        <div class="testimonial">
                            <div class="testimonial__inner">
                                <div class="testimonial__avatar">
                                    <img src="{{ 'images/s-empty.png' | asset }}" data-src="{{ item.avatar }}"
                                         alt="{{ item.name }}"
                                         class="lazy w-full h-full object-cover">
                                </div>
                                <div class="flex-1 testimonial__text">
                                    <p class="leading-6 mb-2 mt-4 sm:mt-0">{{ item.text }}</p>
                                    <div class="flex flex-col lg:flex-row justify-center lg:justify-between items-center">
                                        <div class="testimonial__info">
                                            <h4 class="font-bold text-xs xs:text-sm">{{ item.name }}</h4>
                                        </div>
                                        <div class="testimonial__rating text-sm">
                                            <salla-rating-stars size="small"
                                                                value="{{ item.stars }}"></salla-rating-stars>
                                        </div>
                                    </div>
                                </div>
                                <i class="testimonial__icon sicon-quote-open"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section> 
