{#
| Variable          | Type                 | Description |
|-------------------|----------------------|-------------|
| page              | object               |             |
| page.title        | string               |             |
| page.slug         | string               |             |
| orders[]          | Orders[] *Collection |             |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    {% if orders|length %}
        {% hook 'customer:orders.index.items.start' %}

        <salla-infinite-scroll next-page="{{ orders.next_page }}" container=".list-container" item=".s-table__tr">
            <table class="s-table">
                <thead>
                  <tr>
                      <th scope="col">
                          {{ trans('pages.thank_you.order_id') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.total') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.date') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.status') }}
                      </th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <span class="mobile-title">{{ trans('pages.thank_you.order_id') }}:</span>
                            #{{ order.reference_id }}
                            <a href="{{ order.url }}" class="w-full block absolute top-0 bottom-0 start-0"></a>
                        </td>

                        <td>
                            <span class="mobile-title">{{ trans('pages.orders.total') }}:</span>
                            {{ order.total|money }}
                        </td>

                        <td>
                            <span class="mobile-title">{{ trans('pages.orders.date') }}:</span>
                            {{ order.created_at|date("l j F Y") }}
                        </td>

                        <td>
                            <span class="mobile-title">{{ trans('pages.orders.status') }}:</span>
                            <span class="tag tag--primary"
                                  style="border-color: {{ theme.color.lighter(0.2, order.status.color) }}; color: {{ order.status.color }}">
                              <i class="mt-1 {{ order.status.icon }}"></i>
                              <span>{{ order.status.name }}</span>
                            </span>
                            <i class="sicon-star2 text-lg ms-5 {{ order.is_rated?'text-amber-400':'text-gray-200' }}"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </salla-infinite-scroll>

        {% hook 'customer:orders.index.items.end' %}
    {% else %}
        <div class="no-content-placeholder">
            <i class="sicon-packed-box icon"></i>
            <p>{{ trans('pages.orders.non_orders') }}</p>
        </div>
    {% endif %}
{% endblock %}
