{% extends "layouts.master" %}
{% block styles %}
{#    <link rel="stylesheet" href="{{ asset('/dist/filepond_styles.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('/dist/filepond-plugin-image-preview.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('/dist/mmenu-light.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/main.min.585d6d35c0b4638b35eb56b632cd0c56bcff2e18cb7e23233134a216759f9f1e.css') }}">
{% endblock %}
{% block content %}
{#     <pre dir="ltr">#}
{#     {{ dd(_context) }}#}
    <main id="main">
        <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-10 flex justify-between h-full items-center">
                <div class="self-start">
                    <nav class="w-full py-5">
                        <ol class="list-reset flex items-center text-sm text-reverse ">
                            <li><a href="#" class="fix-align text-primary text-reverse ">الرئيسية</a></li>
                            <li><i class="sicon-keyboard_arrow_left mx-2"></i></li>
                            <li><span class="fix-align">{{ trans('common.titles.orders') }}</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex items-start flex-col lg:flex-row ">
                {% include 'pages.customer.partials.sidebar.twig' %}
                <div class="main-content w-full flex-1 pt-6 md:pt-10 ">
                    <h1 class="font-bold text-lg md:mb-5">{{trans('pages.orders.details')}}</h1>
                    <div class=" overflow-hidden">
                        <table class="min-w-full border-separate" style="border-spacing: 0 20px;">
                            <thead class="bg-gray-50 mb-5 hidden md:table-header-group">
                                <tr>
                                    <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                        {{trans('pages.thank_you.order_id')}}
                                    </th>
                                    <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                        {{trans('pages.orders.total')}}
                                    </th>
                                    <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                        {{trans('pages.orders.date')}}
                                    </th>
                                    <th scope="col" class="px-6 text-start text-sm font-medium  uppercase tracking-wider">
                                        {{trans('pages.orders.status')}}
                                    </th>
                                    <th scope="col" class="px-6 relative">
                                        <span class="sr-only">--</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in orders.items %}
                                <tr class="border-b-8 border-t-8 border-light-gray bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                                <td class="w-full md:w-auto md:rounded-s-md px-6 py-6 md:py-6 md:h-20 whitespace-nowrap text-sm font-bold">
                                    <a href="/order-details">#{{ order.id }}</a>
                                </td>
                                <td class="w-full md:w-auto px-6 py-2 md:py-6 md:h-20 whitespace-nowrap text-sm ">
                                    {{ order.total_price }}
                                </td>
                                <td class="w-full md:w-auto px-6 py-2 md:py-6 md:h-20 whitespace-nowrap text-sm ">
                                    {# TODO: parse the date based on the static design #}
                                    {{ order.created_at }}
                                </td>
                                <td class="w-full md:w-auto  px-6 py-2 md:py-6 md:h-20 whitespace-nowrap text-sm ">
                                    <span class="text-primary bg-primary-light px-4 pt-0.5 pb-1.5 inline-block rounded-2xl">
                                        {#{{ order.status.icon }} TODO: HOW TO AD THE ICON?#}
                                        {{ order.status.name }}
                                    </span>
                                </td>
                                <td class="w-full md:w-auto md:rounded-e-md px-6 py-2 md:py-6 md:h-20 whitespace-nowrap text-lg font-medium md:text-end">
                                    <span class="md:hidden w-32 inline-block font-normal text-sm"></span>
                                    <a href="#" class="text-red-500 hover:text-red-600 mx-2">
                                        <i class="sicon-trash-2"></i>
                                    </a>
                                    <a href="{{ order.url }}" class="text-gray-text hover:text-gray-500 mx-2">
                                        <i class="sicon-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="button" class="w-full md:w-auto btn btn-outline-dark">
                                {{ trans('common.elements.load_more') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}