{#
| Variable                         | Type                              | Description                                                                              |
|----------------------------------|-----------------------------------|------------------------------------------------------------------------------------------|
| page                             | object                            |                                                                                          |
| page.title                       | string                            |                                                                                          |
| page.name                        | string                            |                                                                                          |
| order                            | Order                             | TODO                                                                                     |
| order.id                         | integer                           |                                                                                          |
| order.order_id                   | integer                           |                                                                                          |
| order.created_at                 |                                   |                                                                                          |
| order.sub_total                  | Money                             |                                                                                          |
| order.total                      | Money                             |                                                                                          |
| order.cod_cost                   | ?Money                            | * Cash On Delivery (null when payment method not cod)                                    |
| order.can_reorder                | bool                              |                                                                                          |
| order.can_cancel                 | bool                              |                                                                                          |
| order.cancel_url                 | string                            |                                                                                          |
| order.shipping                   | ?object                           |                                                                                          |
| order.shipping.id                | integer                           |                                                                                          |
| order.shipping.name              | string                            |                                                                                          |
| order.shipping.number            | string                            | number/string/link (..) for shipment number (tracking number)                            |
| order.shipping.logo              | ?string                           |                                                                                          |
| order.shipping.cost              | ?Money                            |                                                                                          |
| order.tax                        | ?object                           |                                                                                          |
| order.tax.amount                 | Money                             |                                                                                          |
| order.tax.percent                | float                             |                                                                                          |
| order.status                     | object                            |                                                                                          |
| order.status.name                | string                            |                                                                                          |
| order.status.icon                | string                            |                                                                                          |
| order.status.color               | string                            |                                                                                          |
| order.items                      | OrderItem[]                       | TODO                                                                                     |
| order.items[].name               |                                   |                                                                                          |
| order.items[].image              |                                   |                                                                                          |
| order.items[].price              | TaxableMoney                      |                                                                                          |
| order.items[].quantity           |                                   |                                                                                          |
| order.items[].total              | TaxableMoney                      |                                                                                          |
| order.items[].product            | ?Product                          | There are cases product is null, when merchant adds special product to the order         |
| order.items[].sub_products       | ?Product[] *Collection            |                                                                                          |
| order.items[].note               |                                   |                                                                                          |
| order.items[].attachments        | OrderItemAttachment[] *Collection | if it's empty will be empty array so you can use it as check `{% if item.attachments %}` |
| order.items[].attachments[].type | string                            |                                                                                          |
| order.items[].attachments[].url  | string                            |                                                                                          |
| order.items[].files              | array                             |                                                                                          |
| order.items[].files[].name       |                                   |                                                                                          |
| order.items[].files[].url        |                                   |                                                                                          |
| order.items[].codes              | array                             | list of codes for item                                                                   |
| order.items[].options            | OrderItemOption[] *Collection     |                                                                                          |
| order.items[].options[].name     |                                   |                                                                                          |
| order.items[].options[].value    |                                   |                                                                                          |
| order.items[].options[].is_image |                                   |                                                                                          |
| order.discounts                  | array                             |                                                                                          |
| order.discounts[].name           | string                            |                                                                                          |
| order.discounts[].discount       | float                             | minus number                                                                             |
| order.has_feedback               | bool                              | minus number                                                                             |
#}
{% extends "layouts.master" %}
{% block content %}
    {% include 'pages.partials.customer.breadcrumbs' %}

    <div class="container mb-24">
        <div class="flex items-start flex-col lg:flex-row ">
            {% include 'pages.partials.customer.sidebar' %}
            <div class="main-content w-full flex-1 pt-10">
                <order-rating> </order-rating>

                <h1 class="font-bold text-lg mb-5">{{ trans('pages.orders.details') }} <span
                            class="unicode">(#{{ order.order_id }})</span></h1>
                <table class="min-w-full mb-10">
                    <tbody>

                    <tr class="bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                        <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <div class="me-2 font-normal text-gray-400">{{ trans('pages.orders.date') }}</div>
                            <b>{{ order.created_at|date }}</b>
                        </td>
                        {% if order.shipping %}
                            <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <div class="me-2  font-normal text-gray-400">{{ trans('pages.orders.shipment_details') }}</div>
                                <div>
                                    {% if order.shipping.logo %}
                                        <div class="inline-block h-6 w-8">
                                            <img class="inline-block w-full h-full object-contain"
                                                 src="{{ order.shipping.logo }}">
                                        </div>
                                    {% endif %}
                                    <b>{{ order.shipping.name }}</b>
                                </div>
                            </td>
                        {% endif %}

                        {% if order.shipping.number %}
                            <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <div class="me-2 font-normal text-gray-400">{{ trans('pages.orders.shipment_no') }}</div>
                                <b>{{ order.shipping.number|raw }}</b>
                            </td>
                        {% endif %}

                        <td class="w-full md:w-auto text-end px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="text-primary px-4 pt-0.5 pb-1.5 inline-flex items-center space-s-1  border rounded-2xl"
                                  style="border-color: {{ order.status.color }} !important; color: {{ order.status.color }}">
                                <i class="mt-1 {{ order.status.icon }}"></i>
                                <span class=""> {{ order.status.name }}</span>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% if not order.has_feedback %}
                    <div class="relative  profile-header bg-gradient-to-r from-primary to-primary-d p-5 text-white rounded-md mb-10">
                        <h2 class="font-bold mb-1">{{ trans('pages.order.order_rating_title') }}</h2>
                        <p class="text-sm">{{ trans('pages.order.order_rating_message') }}</p>
                    </div>
                {% endif %}

                <div class="overflow-hidden mb-10">
                    <section class="rating-section products-section" data-type="product">
                        {% for item in order.items %}
                            <div data-order-item-id="{{ item.id }}" data-order-item-product-id="{{ item.product.id }}"
                                 class="order-item bg-white mb-5 p-5 rounded-md">
                                <div class="mb-5">
                                    {% if item.product %}
                                        <div class="flex space-s-5 mb-4">
                                            <a href="{{ item.product.url }}">
                                                <img src="{{ item.image ?? asset('images/img_placeholder.png') }}"
                                                     alt="{{ item.name }}"
                                                     class="w-18 h-14 object-cover rounded-md">
                                            </a>
                                            <div>
                                                <a href="{{ item.product.url }}">
                                                    <h3 class="leading-5 mb-1.5 md:text-base">{{ item.name }}</h3>
                                                </a>
                                                <b>{{ item.price|money }}</b>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="w-full  flex  justify-between text-sm py-2.5">
                                            <span class="w-40 inline-block font-normal">{{ item.name }}</span>
                                            <b>{{ item.price|money }}</b>
                                        </div>
                                    {% endif %}

                                    <div class="w-full flex justify-between text-sm py-2.5">
                                        <span class="w-40 inline-block font-normal">{{ trans('pages.products.quantity') }}</span>
                                        <b>{{ item.quantity }}</b>
                                    </div>
                                    <div class="flex justify-between text-sm py-2.5">
                                        <span class=" w-40 inline-block font-normal">{{ trans('pages.products.price') }}</span>
                                        <b>{{ item.price|money }}</b>
                                    </div>
                                    <div class="flex justify-between  text-sm py-2.5">
                                        <span class="w-40 inline-block font-normal">{{ trans('pages.orders.total') }}</span>
                                        <b>{{ item.total|money }}</b>
                                    </div>
                                </div>
                                {% if item.options %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.cart.item_options') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for option in item.options %}
                                                <div class="py-3.5 flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ option.name }}:
                                                    </dt>
                                                    <dd class="font-medium {{ option.is_image ? 'text-gray-900' : 'text-xs' }}">
                                                        {% if option.is_image %}
                                                            <div class="flex space-s-2.5">
                                                                <a href="{{ option.value }}" target="_blank">
                                                                    <img class="h-7 w-7 object-cover rounded-md"
                                                                         src="{{ option.value ?? asset('images/img_loader.png') }}"
                                                                         alt="{{ option.name }}"/>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            {{ option.value }}
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                                {% if item.sub_products %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.sub_products') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for product in item.sub_products %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        <a href="{{ product.url }}">
                                                            {{ product.name }}
                                                        </a>
                                                    </dt>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                                {% if item.files %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.files') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for file in item.files %}
                                                <div class="py-3.5 flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ file.name }}
                                                    </dt>
                                                    <dd class="font-medium text-xs">
                                                        <a href="{{ file.url }}" target="_blank"
                                                           class="font-bold text-gray-600 hover:text-black">
                                                            <i class="sicon-download"></i> {{ trans('pages.thank_you.download') }}
                                                        </a>
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% elseif item.codes %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.codes') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for code in item.codes %}
                                                <div x-data="{}" class="py-3.5 flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0" id="order_code_{{ code }}">
                                                        {{ code }}
                                                    </dt>
                                                    <button title="Copy to clipboard"
                                                            class="opacity-80 hover:opacity-100"
                                                            @click="copyToClipboard('order_code_{{ code }}')">
                                                        <i class="copy-icon sicon-swap-stroke text-primary"></i>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                                {% if item.note %}
                                    <p class="mt-3 text-sm text-gray-500">
                                        <span>{{ trans('common.note') }} : </span>{{ item.note }} </p>
                                {% endif %}
                                {% if item.attachments %}
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for attachment in item.attachments %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ trans('pages.products.attachments') }}
                                                    </dt>
                                                    <dd class="font-medium {{ attachment.type == 'image' ? 'text-gray-900' : 'text-xs' }}">
                                                        <a href="{{ attachment.url }}">
                                                            {% if attachment.type == 'image' %}
                                                                <div class="flex space-s-2.5">
                                                                    <a href="{{ attachment.url }}" target="_blank">
                                                                        <img class="h-7 w-7 object-cover rounded-md"
                                                                             src="{{ attachment.url }}"
                                                                             alt="{{ item.name }}"/>
                                                                    </a>
                                                                </div>
                                                            {% else %}
                                                                {{ trans('pages.orders.file_url') }}
                                                            {% endif %}
                                                        </a>
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                                {# =================== Start Rating Product =================== #}
                                <section class="border-t mt-10 pt-8">
                                    <div class="{{ item.feedback?'':'rating-outer-form' }}"
                                         data-stars-error="{{ trans('pages.rating.rate_product_stars', {'item':item.name}) }}">
                                        {% if item.feedback %}
                                            <p>
                                                {{ item.feedback.content|raw }}
                                            </p>
                                            {% if item.feedback.is_pending %}
                                                <span>{{ trans('pages.rating.pending') }}</span>
                                            {% endif %}
                                        {% else %}
                                            <input type="hidden" name="order_id" value="{{ order.order_id }}">
                                            <input type="hidden" name="products[{{ loop.index0 }}][product_id]"
                                                   value="{{ item.product.getOptimusRouteKey() }}">
                                            <input type="hidden" name="type" value="products">
                                            <h2 class="section-title mb-3 text-sm font-bold">{{ trans('pages.rating.rate_products') }}</h2>
                                            <textarea data-product-id="{{ item.id }}"
                                                      name="products[{{ loop.index0 }}][comment]"
                                                      id="productReview_{{ item.id }}"
                                                      class="comment form-input h-20 product-review"
                                                      placeholder="{{ trans('pages.rating.write_product_rate') }} ({{ item.name|length > 50 ? item.name|slice(0, 50) ~ '...' : item.name }})"></textarea>
                                        {% endif %}
                                        <div class="rw-product-entry__rate">
                                            <div class="rating-wrap flex items-center space-s-4">
                                                <form class="rate-element rate-element--has-label">
                                                    {% include 'pages.partials.customer.rating-stars' with {'stars':item.feedback.stars, 'rating_name':'products['~loop.index0~'][rating]'} %}
                                                </form>
                                                <p class="rate-label fix-align font-xsm my-0">{{ (item.feedback.stars?trans('pages.rating.'~item.feedback.stars~'_stars'):'')|raw }}</p>
                                            </div>
                                            <small class="text-red-400 validation-message"></small>
                                        </div>
                                    </div>
                                </section>
                                {# =================== End Rating Product =================== #}
                            </div>
                        {% endfor %}
                    </section> {# end products section #}

                    <div class="bg-white rounded-md px-6">
                        <h2 id="summary-heading" class="sr-only">Order summary</h2>
                        <div class="flow-root">
                            <dl class="text-sm text-gray-500 divide-y divide-border-color">
                                <div class="py-5 flex items-center justify-between">
                                    <dt class="text-gray-600">
                                        {{ trans('pages.cart.items_total') }}
                                    </dt>
                                    <dd class="font-medium">
                                        {{ order.sub_total|money }}
                                    </dd>
                                </div>

                                {% for discount in order.discounts %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="discount">
                                            {{ discount.name }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ discount.discount }}
                                        </dd>
                                    </div>
                                {% endfor %}
                                {# Cash On Delivery #}
                                {% if order.cod_cost %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.orders.cod_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.cod_cost|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.shipping_cost %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="shipping">
                                            {{ trans('pages.orders.shipping_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.shipping_cost|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.tax %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.cart.tax') }} ({{ order.tax.percent }}%)
                                        </dt>
                                        <dd class="font-medium text-gray-900">
                                            {{ order.tax.amount|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                <div class="bg-border-color rounded-md py-5 -mx-6 px-6 flex items-center justify-between">
                                    <dt class="text-base font-medium">
                                        {{ trans('pages.orders.final_total') }}
                                    </dt>
                                    <dd class="text-base font-medium ">
                                        <b>{{ order.total|money }}</b>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                {# ==================== Start Cancel && reorder ==================== #}
                {% if order.can_reorder or order.can_cancel %}
                    <div class="bg-white my-10 p-5 divide-y divide-border-color space-y-5 rounded-md">
                        {% if order.can_reorder %}
                            <div class="flex justify-between">
                                <div class="text-sm">
                                    <h3 class="font-bold">{{ trans('pages.orders.reorder') }}</h3>
                                    <p class="text-gray-text">{{ trans('pages.orders.reorder_description') }}</p>
                                </div>
                                {% if order.is_pending_payment %}
                                    <a href="{{ order.payment_url }}"
                                       class="text-sm font-bold text-primary flex items-center">
                                        <i class="sicon sicon-wallet me-2"></i>
                                        <span class="fix-align">{{ trans('pages.orders.finish_payment') }}</span>
                                    </a>
                                {% else %}
                                    <button type="button" class="text-sm font-bold text-primary cursor-pointer"
                                            data-modal-trigger="modal-reorder">
                                        <i class="sicon sicon-rotate me-2"></i>
                                        <span class="fix-align">{{ trans('pages.orders.reorder') }}</span>
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if order.can_cancel %}
                            <div class="flex justify-between pt-2">
                                <div class="text-sm">
                                    <h3 class="font-bold">{{ trans('pages.orders.cancel') }}</h3>
                                    <p class="text-gray-text">{{ trans('pages.order.order_cancelation_desc') }}</p>
                                </div>
                                <button type="button" class="text-sm font-bold text-theme-red cursor-pointer"
                                        data-modal-trigger="modal-cancel">
                                    <i class="sicon sicon-cancel-circle me-2"></i>
                                    <span class="fix-align">{{ trans('pages.orders.cancel') }}</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>

                    {# Reorder Popup #}
                    {% if order.can_reorder and not order.is_pending_payment %}
                        <div class="modal__wrap fixed z-50 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title"
                             role="dialog" aria-modal="true" id="modal-reorder">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                <div class="modal__overlay fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity ease-in duration-200 opacity-0"
                                     aria-hidden="true" data-close-modal="modal-reorder"></div>
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
                                      aria-hidden="true">&#8203;</span>
                                <div class="modal__body relative inline-block align-bottom bg-white rounded-lg px-4 pt-12 pb-4 text-start overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle max-w-full w-96 sm:p-8 sm:pt-16 ease-in duration-200 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                    <button class="absolute end-6 top-6 text-gray-400 hover:text-gray-500 transition cursor-pointer"
                                            data-close-modal="modal-reorder"
                                            type="button">
                                        <span class="sicon-cancel"></span>
                                    </button>
                                    <div>
                                        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                                            <i class="sicon sicon-rotate text-green-600"></i>
                                        </div>
                                        <div class="mt-3 text-center sm:mt-5">
                                            <h3 class="title title--medium text-lg leading-6 font-medium text-gray-900"
                                                id="modal-title">
                                                {{ trans('pages.orders.reorder') }}
                                            </h3>
                                            <div class="mt-2">
                                                <p class="text-sm text-gray-500">{{ trans('pages.orders.reorder_confirmation')|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 sm:mt-8 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                                        <a href="{{ order.reorder_url }}"
                                           class="btn btn-primary w-full inline-flex justify-center ajax">
                                            {{ trans('common.elements.ok') }}
                                        </a>
                                        <button type="button"
                                                class=" w-full inline-flex justify-center btn btn-outline">
                                            {{ trans('common.elements.cancel') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# End Reorder Popup #}

                    {# Cancel order Popup #}
                    {% if order.can_cancel %}
                        <div class="modal__wrap fixed z-50 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title"
                             role="dialog" aria-modal="true" id="modal-cancel">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                <div class="modal__overlay fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity ease-in duration-200 opacity-0"
                                     aria-hidden="true" data-close-modal="modal-cancel"></div>
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
                                      aria-hidden="true">&#8203;</span>
                                <div class="modal__body relative inline-block align-bottom bg-white rounded-lg px-4 pt-12 pb-4 text-start overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle max-w-full w-96 sm:p-8 sm:pt-16 ease-in duration-200 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                    <button type="button"
                                            class="absolute end-6 top-6 text-gray-400 hover:text-gray-500 transition cursor-pointer"
                                            data-close-modal="modal-cancel">
                                        <span class="sicon-cancel"></span>
                                    </button>
                                    <div>
                                        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                                            <i class="sicon sicon-cancel text-red-600"></i>
                                        </div>
                                        <div class="mt-3 text-center sm:mt-5">
                                            <h3 class="title title--medium text-lg leading-6 font-medium text-gray-900"
                                                id="modal-title">
                                                {{ trans('common.elements.warning') }}
                                            </h3>
                                            <div class="mt-2">
                                                <p class="text-sm text-gray-500">{{ trans('pages.orders.cancel_confirmation') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 sm:mt-8 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                                        <button type="button" id="confirm-cancel"
                                                class="btn btn-danger w-full inline-flex justify-center">
                                            {{ trans('common.elements.ok') }}
                                        </button>
                                        <button class=" w-full inline-flex justify-center btn btn-outline"
                                                data-close-modal="modal-cancel">
                                            {{ trans('common.elements.cancel') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# End Cancel order Popup #}
                {% endif %}
                {# ==================== End cancel && reorder ==================== #}

                {# ==================== Start Rating ==================== #}

                {% if store.settings.rating.store %}
                    {# Store Rating #}
                    <section class="rating-section bg-white my-10 p-5 rounded-md mb-5" data-type="store">
                        <div class="{{ order.feedback.store.stars?'':'rating-outer-form' }}"
                             data-stars-error="{{ trans('pages.rating.rate_store_stars') }}">
                            <input type="hidden" name="order_id" value="{{ order.order_id }}">
                            <input type="hidden" name="type" value="store">
                            <h2 class="section-title text-lg font-bold mb-5">{{ trans('pages.rating.rate_the_store') }}</h2>
                            <div class="mb-2">
                                {% if order.feedback.store.content %}
                                    <p>
                                        {{ order.feedback.store.content|raw }}
                                    </p>
                                {% else %}
                                    <textarea id="storeReview" name="comment" class="form-input comment h-20"
                                              placeholder="{{ trans('pages.rating.write_store_rate') }}"></textarea>
                                    {# <small class="block text-red-400 text-tiny text-end"> التعليق  مطلوب</small> #}
                                {% endif %}
                            </div>
                            <div class="rating-wrap flex items-center space-s-4">
                                <form class="rate-element rate-element--has-label">
                                    {% include 'pages.partials.customer.rating-stars' with {'stars':order.feedback.store.stars} %}
                                </form>
                                <p class="rate-label fix-align font-sm center mb-0">{{ (order.feedback.store.stars?trans('pages.rating.'~order.feedback.store.stars~'_stars'):'')|raw }}</p>
                            </div>
                            <small class="text-red-400 validation-message"></small>
                        </div>
                    </section>
                {% endif %}
                {% if order.has_shipping and store.settings.rating.shipping %}
                    {# Shipping Rating #}
                    <section class="rating-section bg-white my-10 p-5 rounded-md mb-5" data-type="shipping">
                        <div class="{{ order.feedback.shipping.stars?'':'rating-outer-form' }}"
                             data-stars-error="{{ trans('pages.rating.rate_shipping_stars') }}">
                            <input type="hidden" name="order_id" value="{{ order.order_id }}">
                            <input type="hidden" name="shipping_company_id" value="{{ order.shipping.id }}">
                            <input type="hidden" name="type" value="shipping">

                            <h2 class="section-title text-lg font-bold mb-5">{{ trans('pages.rating.rate_shipping') }}</h2>
                            <div class="mb-2">
                                {% if order.feedback.shipping.content %}
                                    <p>
                                        {{ order.feedback.shipping.content|raw }}
                                    </p>
                                {% else %}
                                    <textarea id="shippingReview" name="comment"
                                              class="form-input comment h-20 mb-2"
                                              placeholder="{{ trans('pages.rating.write_shipping_rate') }}"></textarea>
                                {% endif %}
                            </div>
                            <div class="rating-wrap flex items-center space-s-4">
                                <form class="rate-element ratFeedbackPresentere-element--has-label">
                                    {% include 'pages.partials.customer.rating-stars' with {'stars':order.feedback.shipping.stars} %}
                                </form>
                                <p class="rate-label fix-align font-sm center mb-0">{{ (order.feedback.shipping.stars?trans('pages.rating.'~order.feedback.shipping.stars~'_stars'):'')|raw }}</p>
                            </div>
                            <small class="text-red-400 validation-message"></small>
                        </div>
                    </section>
                {% endif %}
                <button id="submitRating" class="btn btn-primary w-full hidden">
                    <span class="loader loader--small"></span>
                    <span class="btn__text">{{ trans('pages.rating.send_ratings') }}</span>
                </button>                
                {# ==================== EN Rating ==================== #}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('dist/customer.js') }}"></script>
{% endblock %}
