{#
| Variable                         | Type                              | Description                                                                              |
|----------------------------------|-----------------------------------|------------------------------------------------------------------------------------------|
| order                            | Order                             | TODO                                                                                     |
| order.id                         | integer                           |                                                                                          |
| order.order_id                   | integer                           |                                                                                          |
| order.created_at                 |                                   |                                                                                          |
| order.sub_total                  | Money                             |                                                                                          |
| order.total_price                | Money                             |                                                                                          |
| order.cod_cost                   | ?Money                            | * Cash On Delivery (null when payment method not cod)                                    |
| order.shipping                   | ?object                           |                                                                                          |
| order.shipping.id                | integer                           |                                                                                          |
| order.shipping.name              | string                            |                                                                                          |
| order.shipping.number            | string                            | number/string/link (..) for shipment number (tracking number)                            |
| order.shipping.logo              | ?string                           |                                                                                          |
| order.shipping.cost              | ?Money                            |                                                                                          |
| order.tax                        | ?object                           |                                                                                          |
| order.tax.amount                 | Money                             |                                                                                          |
| order.tax.percent                | float                             |                                                                                          |
| order.status                     | object                            |                                                                                          |
| order.status.name                | string                            |                                                                                          |
| order.status.icon                | string                            |                                                                                          |
| order.status.color               | string                            |                                                                                          |
| order.items                      | OrderItem[]                       | TODO                                                                                     |
| order.items[].name               |                                   |                                                                                          |
| order.items[].image              |                                   |                                                                                          |
| order.items[].price              | TaxableMoney                      |                                                                                          |
| order.items[].quantity           |                                   |                                                                                          |
| order.items[].total              | TaxableMoney                      |                                                                                          |
| order.items[].product            | ?Product                          | There are cases product is null, when merchant adds special product to the order         |
| order.items[].sub_products       | ?Product[] *Collection            |                                                                                          |
| order.items[].note               |                                   |                                                                                          |
| order.items[].attachments        | OrderItemAttachment[] *Collection | if it's empty will be empty array so you can use it as check `{% if item.attachments %}` |
| order.items[].attachments[].type | string                            |                                                                                          |
| order.items[].attachments[].url  | string                            |                                                                                          |
| order.items[].files              | array                             |                                                                                          |
| order.items[].files[].name       |                                   |                                                                                          |
| order.items[].files[].url        |                                   |                                                                                          |
| order.items[].codes              | array                             | list of codes for item                                                                   |
| order.items[].options            | OrderItemOption[] *Collection     |                                                                                          |
| order.items[].options[].name     |                                   |                                                                                          |
| order.items[].options[].value    |                                   |                                                                                          |
| order.items[].options[].is_image |                                   |                                                                                          |
| order.discounts                  | array                             |                                                                                          |
| order.discounts[].name           | string                            |                                                                                          |
| order.discounts[].discount       | float                             | minus number                                                                             |
#}
{% extends "layouts.master" %}
{% block content %}
<main id="main">
    <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
        <div class="container relative z-10 flex justify-between h-full items-center">
            <div class="self-start">
                {% component 'header.breadcrumbs' with{is_dark:true} %}
            </div>
        </div>
    </div>
    <div class="container mb-24">
        <div class="flex items-start flex-col lg:flex-row ">
            {% include 'pages.partials.customer.sidebar' %}
            <div class="main-content w-full flex-1 pt-10 ">
                <h1 class="font-bold text-lg mb-5">{{ trans('pages.orders.details') }}</h1>
                <table class="min-w-full mb-10">
                    <tbody>

                    <tr class="bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                        <td class="w-full md:w-auto  md:rounded-s-md px-6 pt-4 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="me-2 inline-block font-normal text-gray-400">{{trans('pages.thank_you.order_id')}}</span>
                            <b>#{{ order.order_id }}</b>
                        </td>
                        <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.date') }}</span>
                            <b>{{ order.created_at }}</b>
                        </td>
                        {% if order.shipping %}
                            <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.shipment_details') }}</span>
                                <b>{{ order.shipping.name }}</b>
                                {# order.shipping.logo #}
                            </td>
                        {% endif %}

                        <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span style="color: {{ order.status.color }}" class="text-primary bg-primary-light px-4 pt-0.5 pb-1.5 inline-block rounded-2xl">
                                {{ order.status.name }}
                            </span>
                        </td>
                        <td class="w-full md:w-auto  px-6 pb-4 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            {% component reorder with {order:order} %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="overflow-hidden mb-10">

                    {% for item in order.items %}
                        <div class="bg-white mb-5 p-5 rounded-md">
                            <div class="mb-5">
                                {% if item.product %}
                                    <div class="flex space-s-5 mb-4">
                                        <img src="{{ item.image ?? asset('images/img_placeholder.png') }}" alt="{{ item.name }}"
                                             class="w-18 h-14 object-cover rounded-md">
                                        <div>
                                            <h3 class="leading-5 mb-1.5 md:text-base">{{ item.name }}</h3>
                                            <b>{{ item.price|money }}</b>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="w-full  flex  justify-between text-sm py-2.5">
                                        <span class="w-40 inline-block font-normal">{{ item.name }}</span>
                                        <b>{{ item.price|money }}</b>
                                    </div>
                                {% endif %}

                                <div class="w-full flex justify-between text-sm py-2.5">
                                    <span class="w-40 inline-block font-normal">{{ trans('pages.products.quantity') }}</span>
                                    <b>{{ item.quantity }}</b>
                                </div>
                                <div class="flex justify-between text-sm py-2.5">
                                    <span class=" w-40 inline-block font-normal">{{ trans('pages.products.price') }}</span>
                                    <b>{{ item.price|money }}</b>
                                </div>
                                <div class="flex justify-between  text-sm py-2.5">
                                    <span class="w-40 inline-block font-normal">{{ trans('pages.orders.total') }}</span>
                                    <b>{{ item.total_price|money }}</b>
                                </div>
                            </div>
                            {% if item.options %}
                                <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.cart.item_options') }}</h2>
                                <div class="flow-root rounded-md px-4 border border-border-color">
                                    <dl class="text-sm text-dark divide-y divide-border-color">
                                        {% for option in item.options %}
                                            <div class="py-3.5 md:flex items-center justify-between">
                                                <dt class="mb-2 md:mb-0">
                                                    {{ option.name }}:
                                                </dt>
                                                <dd class="font-medium {{ option.is_image ? 'text-gray-900' : 'text-xs' }}">
                                                    {% if option.is_image %}
                                                        <div class="flex space-s-2.5">
                                                            <img class="h-7 w-7 object-cover rounded-md"
                                                                 src="{{ option.value ?? asset('images/img_loader.png') }}" alt="{{ option.name }}"/>
                                                        </div>
                                                    {% else %}
                                                        {{ option.value }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}

                            {% if item.sub_products %}
                                <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.sub_products') }}</h2>
                                <div class="flow-root rounded-md px-4 border border-border-color">
                                    <dl class="text-sm text-dark divide-y divide-border-color">
                                        {% for product in item.sub_products %}
                                            <div class="py-3.5 md:flex items-center justify-between">
                                                <dt class="mb-2 md:mb-0">
                                                    {{ product.name }}
                                                </dt>
                                                <dd class="font-medium text-xs">
                                                    {{ product.total_price|money }}
                                                </dd>
                                            </div>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}

                            {% if item.attachments or item.note %}
                                <h2 class="mb-3.5 text-sm font-bold">{{ item.note }}</h2>
                                <div class="flow-root rounded-md px-4 border border-border-color">
                                    <dl class="text-sm text-dark divide-y divide-border-color">
                                        {% for attachment in item.attachments %}
                                            <div class="py-3.5 md:flex items-center justify-between">
                                                <dt class="mb-2 md:mb-0">
                                                    {{ item.note }}
                                                </dt>
                                                <dd class="font-medium {{ attachment.type == 'image' ? 'text-gray-900' : 'text-xs' }}">
                                                    <a href="{{ attachment.url }}">
                                                        {% if attachment.type == 'image' %}
                                                            <div class="flex space-s-2.5">
                                                                <img class="h-7 w-7 object-cover rounded-md"
                                                                     src="{{ attachment.url }}" alt="{{ item.name }}"/>
                                                            </div>
                                                        {% else %}
                                                            {{ trans('pages.orders.file_url') }}
                                                        {% endif %}
                                                    </a>
                                                </dd>
                                            </div>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                            {% if item.files %}
                                <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.files') }}</h2>
                                <div class="flow-root rounded-md px-4 border border-border-color">
                                    <dl class="text-sm text-dark divide-y divide-border-color">
                                        {% for file in item.files %}
                                            <div class="py-3.5 md:flex items-center justify-between">
                                                <dt class="mb-2 md:mb-0">
                                                    {{ file.name }}
                                                </dt>
                                                <dd class="font-medium text-xs">
                                                    <a href="{{ file.url }}" target="_blank">
                                                        {{ trans('pages.thank_you.download') }}
                                                    </a>
                                                </dd>
                                            </div>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% elseif item.codes %}
                                <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.codes') }}</h2>
                                <div class="flow-root rounded-md px-4 border border-border-color">
                                    <dl class="text-sm text-dark divide-y divide-border-color">
                                        {% for code in item.codes %}
                                            <div class="py-3.5 md:flex items-center justify-between">
                                                <dt class="mb-2 md:mb-0">
                                                    {{ code }}
                                                </dt>
                                            </div>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="bg-white rounded-md px-6">
                        <h2 id="summary-heading" class="sr-only">Order summary</h2>
                        <div class="flow-root">
                            <dl class="text-sm text-gray-500 divide-y divide-border-color">
                                <div class="py-5 flex items-center justify-between">
                                    <dt class="text-gray-600">
                                        {{ trans('pages.cart.items_total') }}
                                    </dt>
                                    <dd class="font-medium">
                                        {{ order.sub_total|money }}
                                    </dd>
                                </div>

                                {% for discount in order.discounts %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="discount">
                                            {{ discount.name }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ discount.discount }}
                                        </dd>
                                    </div>
                                {% endfor %}
                                {# Cash On Delivery#}
                                {% if order.cod_cost %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.orders.cod_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.cod_cost|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.shipping_cost %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="shipping">
                                            {{ trans('pages.orders.shipping_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.shipping_cost|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.tax %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.cart.tax') }} ({{ order.tax.percent }}%)
                                        </dt>
                                        <dd class="font-medium text-gray-900">
                                            {{ order.tax.amount|money }}
                                        </dd>
                                    </div>
                                {% endif %}
                                <div class="bg-border-color rounded-md py-5 -mx-6 px-6 flex items-center justify-between">
                                    <dt class="text-base font-medium">
                                        {{ trans('pages.orders.final_total') }}
                                    </dt>
                                    <dd class="text-base font-medium ">
                                        <b>{{ order.total_price|money }}</b>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                {# todo:: add settings.rating.is_enabled in it these three conditions, & they stay#}
                {% if store.settings.rating.store or store.settings.rating.products or store.settings.rating.shipping %}
                    {% include 'pages.customer.orders.partials.rating' with {'order':order} %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}