{% extends "layouts.master" %}
{% block content %}
<main id="main">
    <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
        <div class="container relative z-10 flex justify-between h-full items-center">
            <div class="self-start">
                {% component breadcrumbs with{is_dark:true} %}
            </div>
        </div>
    </div>
    <div class="container mb-24">
        <div class="flex items-start flex-col lg:flex-row ">
            {% include 'pages.partials.customer.sidebar' %}
            <div class="main-content w-full flex-1 pt-10 ">
                <h1 class="font-bold text-lg mb-5">{{ trans('pages.orders.details') }}</h1>
                <table class="min-w-full mb-10">
                    <tbody>

                    <tr class="bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                        <td class="w-full md:w-auto  md:rounded-s-md px-6 pt-4 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="me-2 inline-block font-normal text-gray-400">{{trans('pages.thank_you.order_id')}}</span>
                            <b>#{{ order.order_id }}</b>
                        </td>
                        <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.date') }}</span>
                            <b>{{ order.created_at }}</b>
                        </td>
                        {% if order.shipping %}
                            <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.shipment_details') }}</span>
                                <b>{{ order.shipping.name }}</b>
                            </td>
                        {% endif %}


                        <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span style="color: {{ order.status.color }}" class="text-primary bg-primary-light px-4 pt-0.5 pb-1.5 inline-block rounded-2xl">
                                {{ order.status.name }}
                            </span>
                        </td>
                        <td class="w-full md:w-auto  px-6 pb-4 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            {% component 'reorder' with {order:order} %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="overflow-hidden mb-10">
                    <table class="min-w-full border-separate mb-9" style="border-spacing: 0 10px;">
                        <thead class="bg-gray-50 mb-5 hidden md:table-header-group">
                        <tr>
                            <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                {{ trans('pages.orders.item') }}
                            </th>
                            <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                {{ trans('pages.products.quantity') }}
                            </th>
                            <th scope="col" class="px-6 text-start text-sm font-medium uppercase tracking-wider">
                                {{ trans('pages.products.price') }}
                            </th>
                            <th scope="col" class="px-6 relative text-sm font-normal uppercase tracking-wider">
                                {{ trans('pages.orders.total') }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.items %}
                            <tr @click="" class="border-b-8 border-t-8 md:border-0 border-light-gray  bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                                <td class="w-full md:w-auto  md:rounded-s-md px-5 py-5 md:py-5 md:h-20  text-sm">
                                    <div class="flex space-s-5">
                                        {% if item.product %}
                                            <img src="{{ item.image ?? (asset('images/img_placeholder.png')) }}" alt="{{ item.name }}"
                                                 class="w-18 h-14 object-cover rounded-md">
                                            <div>
                                                <h3 class="leading-5 mb-1.5 md:text-base">{{ item.name }}</h3>
                                                <b>{{ item.price }}</b>
                                            </div>

                                            {#{% if item.options %}
                                                <div class="product-options-wrapper">
                                                    <h4 class="font-regular font-sm mb-10">{{trans('pages.cart.item_options')}}</h4>
                                                    <ul class="list list--vertical product-options">
                                                        {% for option in item.options %}
                                                            <li class="borderless">
                                                                <span>{{ option.name }}:</span>
                                                                <span>
                                                        {% if option.is_image %}
                                                            <a href="{{ option.value }}"
                                                               class="avatar-wrapper avatar-wrapper--circular avatar-wrapper--tiny"
                                                               data-fslightbox="lightbox"
                                                               target="_blank" rel="noopener noreferrer">
                                                                <img src="{{ option.value ?? asset('images/img_loader.png') }}" alt="{{ option.name }}"/>
                                                            </a>
                                                        {% else %}
                                                            ({{ option.value }})
                                                        {% endif %}
                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if item.has_sub_products %}
                                                <div class="product-options-wrapper">
                                                    <h4 class="font-regular font-sm mb-10">{{ trans('pages.orders.sub_products') }}</h4>
                                                    <ul class="list list--vertical product-options">
                                                        {% for product in item.sub_products %}
                                                            <li class="borderless">
                                                                <span><a href="{{ product.url }}">{{ product.name }}</a></span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if item.has_attachments %}
                                                <div class="font-xsm font-color-grey padded-10 bg-grey b-radius--min">
                                                    {{ item.note }}
                                                    <div class="mt-5">
                                                        {% for image in item.images %}
                                                            <a href="{{ image.image_url }}" class="color-grey"
                                                               data-fslightbox="lightbox_{{ item.id }}">
                                                                {% if image.type=='image' %}
                                                                    <span class="avatar-wrapper avatar-wrapper--bordered avatar-wrapper--circular avatar-wrapper--tiny no-m">
                                                        <img class="lazy-load"
                                                             data-src="{{ image.image_url }}"
                                                             alt="{{ item.name }}"/>
                                                    </span>
                                                                {% else %}
                                                                    {{ trans('pages.orders.file_url') }}
                                                                {% endif %}
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if order.is_complete %}
                                                {% if item.has_files %}
                                                    <div class="product-options-wrapper">
                                                        <h4 class="font-regular font-sm mb-10">{{ trans('pages.orders.files') }}</h4>
                                                        <ul class="list list--vertical product-options">
                                                            {% for file in item.files %}
                                                                <li>
                                                    <span>
                                                        <a href="{{ file.url_for_order(order) }}"
                                                           target="_blank">{{ file.name }}</a>
                                                    </span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}

                                                {% if item.has_codes %}
                                                    <div class="product-options-wrapper">
                                                        <h4 class="font-regular font-sm mb-10">{{ trans('pages.orders.codes') }}</h4>
                                                        <ul class="list list--vertical product-options">
                                                            {% for code in item.codes %}
                                                                <li><span>{{ code.code }}</span></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            {% endif %}#}
                                        {% else %}
                                            <h3 class="leading-5 mb-1.5 md:text-base">{{ item.name }}</h3>
                                            <b>{{ item.price }}</b>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="w-full md:w-auto flex sm:table-cell justify-between  px-5 py-2 md:py-5 md:h-20 whitespace-nowrap text-sm ">
                                    <span class="md:hidden w-40 inline-block font-normal">{{ trans('pages.products.quantity') }}:</span>
                                    <b>{{ item.quantity }}</b>
                                </td>
                                <td class="w-full md:w-auto  flex sm:table-cell justify-between px-5 py-2 md:py-5 md:h-20 whitespace-nowrap text-sm ">
                                    <span class="md:hidden w-40 inline-block font-normal">{{ trans('pages.products.price') }}:</span>
                                    <b>{{ item.price }}</b>
                                </td>
                                <td class="w-full md:w-auto flex sm:table-cell justify-between md:rounded-e-md px-5 pb-5 pt-2 md:py-5 md:h-20 whitespace-nowrap text-sm font-medium md:text-end">
                                    <span class="md:hidden w-40 inline-block font-normal text-sm">{{ trans('pages.orders.total') }}:</span>
                                    <b>{{ item.total_price }}</b>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="bg-white rounded-md px-6">
                        <h2 id="summary-heading" class="sr-only">Order summary</h2>
                        <div class="flow-root">
                            <dl class="text-sm text-dark divide-y divide-border-color">
                                <div class="py-5 flex items-center justify-between">
                                    <dt class="text-gray-600">
                                        {{ trans('pages.cart.items_total') }}
                                    </dt>
                                    <dd class="font-medium">
                                        {{ order.amount_price }}
                                    </dd>
                                </div>

                                {% for discount in order.discounts %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="discount">
                                            {{ discount.name }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ discount.discount }}
                                        </dd>
                                    </div>
                                {% endfor %}
                                {% if order.cod_cost %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.orders.cod_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.cod_cost }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.shipping_price %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="shipping">
                                            {{ trans('pages.orders.shipping_cost') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.shipping_price }}
                                        </dd>
                                    </div>
                                {% endif %}
                                {% if order.tax %}
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="">
                                            {{ trans('pages.cart.tax') }} ({{ order.tax.percent }}%)
                                        </dt>
                                        <dd class="font-medium text-gray-900">
                                            {{ order.tax.amount }}
                                        </dd>
                                    </div>
                                {% endif %}
                                <div class="bg-border-color rounded-md py-5 -mx-6 px-6 flex items-center justify-between">
                                    <dt class="text-base font-medium">
                                        {{ trans('pages.orders.final_total') }}
                                    </dt>
                                    <dd class="text-base font-medium ">
                                        <b>{{ order.total_price }}</b>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                {% if store.ratings.store_enabled or store.ratings.products_enabled or store.ratings.shipping_enabled %}
                    {% include 'pages.customer.orders.partials.rating' with {'order':order} %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}