{#
| Variable                         | Type                              | Description                                                                              |
|----------------------------------|-----------------------------------|------------------------------------------------------------------------------------------|
| order                            | Order                             | TODO                                                                                     |
| order.id                         | integer                           |                                                                                          |
| order.order_id                   | integer                           |                                                                                          |
| order.created_at                 |                                   |                                                                                          |
| order.sub_total                  | Money                             |                                                                                          |
| order.total                      | Money                             |                                                                                          |
| order.cod_cost                   | ?Money                            | * Cash On Delivery (null when payment method not cod)                                    |
| order.can_reorder                | bool                              |                                                                                          |
| order.can_cancel                 | bool                              |                                                                                          |
| order.cancel_url                 | string                            |                                                                                          |
| order.shipping                   | ?object                           |                                                                                          |
| order.shipping.id                | integer                           |                                                                                          |
| order.shipping.name              | string                            |                                                                                          |
| order.shipping.number            | string                            | number/string/link (..) for shipment number (tracking number)                            |
| order.shipping.logo              | ?string                           |                                                                                          |
| order.shipping.cost              | ?Money                            |                                                                                          |
| order.tax                        | ?object                           |                                                                                          |
| order.tax.amount                 | Money                             |                                                                                          |
| order.tax.percent                | float                             |                                                                                          |
| order.status                     | object                            |                                                                                          |
| order.status.name                | string                            |                                                                                          |
| order.status.icon                | string                            |                                                                                          |
| order.status.color               | string                            |                                                                                          |
| order.items                      | OrderItem[]                       | TODO                                                                                     |
| order.items[].name               |                                   |                                                                                          |
| order.items[].image              |                                   |                                                                                          |
| order.items[].price              | TaxableMoney                      |                                                                                          |
| order.items[].quantity           |                                   |                                                                                          |
| order.items[].total              | TaxableMoney                      |                                                                                          |
| order.items[].product            | ?Product                          | There are cases product is null, when merchant adds special product to the order         |
| order.items[].sub_products       | ?Product[] *Collection            |                                                                                          |
| order.items[].note               |                                   |                                                                                          |
| order.items[].attachments        | OrderItemAttachment[] *Collection | if it's empty will be empty array so you can use it as check `{% if item.attachments %}` |
| order.items[].attachments[].type | string                            |                                                                                          |
| order.items[].attachments[].url  | string                            |                                                                                          |
| order.items[].files              | array                             |                                                                                          |
| order.items[].files[].name       |                                   |                                                                                          |
| order.items[].files[].url        |                                   |                                                                                          |
| order.items[].codes              | array                             | list of codes for item                                                                   |
| order.items[].options            | OrderItemOption[] *Collection     |                                                                                          |
| order.items[].options[].name     |                                   |                                                                                          |
| order.items[].options[].value    |                                   |                                                                                          |
| order.items[].options[].is_image |                                   |                                                                                          |
| order.discounts                  | array                             |                                                                                          |
| order.discounts[].name           | string                            |                                                                                          |
| order.discounts[].discount       | float                             | minus number                                                                             |
#}
{% extends "layouts.master" %}
{% block content %}
    <main id="main">
        <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-10 flex justify-between h-full items-center">
                <div class="self-start">
                    <nav class="w-full py-5">
                        {% component 'header.breadcrumbs' with{is_dark:true} %}
                    </nav>
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex items-start flex-col lg:flex-row ">
                {% include 'pages.partials.customer.sidebar' %}
                <div class="main-content w-full flex-1 pt-10 ">
                    <h1 class="font-bold text-lg mb-5">{{ trans('pages.orders.details') }}</h1>
                    <table class="min-w-full mb-10">
                        <tbody>

                        <tr class="bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap">
                            <td class="w-full md:w-auto  md:rounded-s-md px-6 pt-4 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.thank_you.order_id') }}</span>
                                <b>#{{ order.order_id }}</b>
                            </td>
                            <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.date') }}</span>
                                <b>{{ order.created_at|date }}</b>
                            </td>
                            {% if order.shipping %}
                                <td class="w-full md:w-auto  px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                                    {% if order.shipping.logo %}
                                        <div class="inline-block h-10 w-26">
                                            <img class="inline-block w-full h-full object-contain"
                                                 src="{{ order.shipping.logo }}">
                                        </div>
                                    {% else %}
                                        <span class="me-2 inline-block font-normal text-gray-400">{{ trans('pages.orders.shipment_details') }}</span>
                                        <b>{{ order.shipping.name }}</b>
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td class="w-full md:w-auto text-end px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <span class="text-primary px-4 pt-0.5 pb-1.5 inline-flex items-center space-s-1  border rounded-2xl"
                                  style="border-color: {{ order.status.color }} !important; color: {{ order.status.color }}">
                                <i class="mt-1 {{ order.status.icon }}"></i>
                                <span class=""> {{ order.status.name }}</span>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {# rating message #}
                    <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue p-5 text-white rounded-md mb-10">
                        <h2 class="font-bold mb-1">{{ trans('pages.order.order_rating_title') }}</h2>
                        <p class="text-sm">{{ trans('pages.order.order_rating_message') }}</p>
                    </div>

                    <div class="overflow-hidden mb-10">

                        {% for item in order.items %}
                            <div class="bg-white mb-5 p-5 rounded-md">
                                <div class="mb-5">
                                    {% if item.product %}
                                        <div class="flex space-s-5 mb-4">
                                            <a href="{{ item.product.url }}">
                                                <img src="{{ item.image ?? asset('images/img_placeholder.png') }}"
                                                     alt="{{ item.name }}"
                                                     class="w-18 h-14 object-cover rounded-md">
                                            </a>
                                            <div>
                                                <a href="{{ item.product.url }}">
                                                    <h3 class="leading-5 mb-1.5 md:text-base">{{ item.name }}</h3>
                                                </a>
                                                <b>{{ item.price|money }}</b>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="w-full  flex  justify-between text-sm py-2.5">
                                            <span class="w-40 inline-block font-normal">{{ item.name }}</span>
                                            <b>{{ item.price|money }}</b>
                                        </div>
                                    {% endif %}

                                    <div class="w-full flex justify-between text-sm py-2.5">
                                        <span class="w-40 inline-block font-normal">{{ trans('pages.products.quantity') }}</span>
                                        <b>{{ item.quantity }}</b>
                                    </div>
                                    <div class="flex justify-between text-sm py-2.5">
                                        <span class=" w-40 inline-block font-normal">{{ trans('pages.products.price') }}</span>
                                        <b>{{ item.price|money }}</b>
                                    </div>
                                    <div class="flex justify-between  text-sm py-2.5">
                                        <span class="w-40 inline-block font-normal">{{ trans('pages.orders.total') }}</span>
                                        <b>{{ item.total|money }}</b>
                                    </div>
                                </div>
                                {% if item.options %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.cart.item_options') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for option in item.options %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ option.name }}:
                                                    </dt>
                                                    <dd class="font-medium {{ option.is_image ? 'text-gray-900' : 'text-xs' }}">
                                                        {% if option.is_image %}
                                                            <div class="flex space-s-2.5">
                                                                <a href="{{ option.value }}" target="_blank">
                                                                    <img class="h-7 w-7 object-cover rounded-md"
                                                                         src="{{ option.value ?? asset('images/img_loader.png') }}"
                                                                         alt="{{ option.name }}"/>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            {{ option.value }}
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                                {% if item.sub_products %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.sub_products') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for product in item.sub_products %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        <a href="{{ product.url }}">
                                                            {{ product.name }}
                                                        </a>
                                                    </dt>
                                                    {# <dd class="font-medium text-xs">
                                                    {{ product.total|money }}
                                                </dd> #}
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                                {% if item.note %}
                                    <p class="mt-3 text-sm text-gray-500">
                                        <span>{{ trans('common.note') }} : </span>{{ item.note }} </p>
                                {% endif %}
                                {% if item.attachments %}
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for attachment in item.attachments %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ item.note }}
                                                    </dt>
                                                    <dd class="font-medium {{ attachment.type == 'image' ? 'text-gray-900' : 'text-xs' }}">
                                                        <a href="{{ attachment.url }}">
                                                            {% if attachment.type == 'image' %}
                                                                <div class="flex space-s-2.5">
                                                                    <a href="{{ attachment.url }}" target="_blank">
                                                                        <img class="h-7 w-7 object-cover rounded-md"
                                                                             src="{{ attachment.url }}"
                                                                             alt="{{ item.name }}"/>
                                                                    </a>
                                                                </div>
                                                            {% else %}
                                                                {{ trans('pages.orders.file_url') }}
                                                            {% endif %}
                                                        </a>
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                                {% if item.files %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.files') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for file in item.files %}
                                                <div class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0">
                                                        {{ file.name }}
                                                    </dt>
                                                    <dd class="font-medium text-xs">
                                                        <a href="{{ file.url }}" target="_blank"
                                                           class="font-bold text-gray-600 hover:text-black">
                                                            <i class="sicon-download"></i> {{ trans('pages.thank_you.download') }}
                                                        </a>
                                                    </dd>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% elseif item.codes %}
                                    <h2 class="mb-3.5 text-sm font-bold">{{ trans('pages.orders.codes') }}</h2>
                                    <div class="flow-root rounded-md px-4 border border-border-color">
                                        <dl class="text-sm text-dark divide-y divide-border-color">
                                            {% for code in item.codes %}
                                                <div x-data="{}" class="py-3.5 md:flex items-center justify-between">
                                                    <dt class="mb-2 md:mb-0" id="order_code_{{ code }}">
                                                        {{ code }}
                                                    </dt>
                                                    <button title="Copy to clipboard"
                                                            class="opacity-80 hover:opacity-100"
                                                            @click="copyToClipboard('order_code_{{ code }}')">
                                                        <i class="copy-icon sicon-swap-stroke text-primary"></i>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="bg-white rounded-md px-6">
                            <h2 id="summary-heading" class="sr-only">Order summary</h2>
                            <div class="flow-root">
                                <dl class="text-sm text-gray-500 divide-y divide-border-color">
                                    <div class="py-5 flex items-center justify-between">
                                        <dt class="text-gray-600">
                                            {{ trans('pages.cart.items_total') }}
                                        </dt>
                                        <dd class="font-medium">
                                            {{ order.sub_total|money }}
                                        </dd>
                                    </div>

                                    {% for discount in order.discounts %}
                                        <div class="py-5 flex items-center justify-between">
                                            <dt class="discount">
                                                {{ discount.name }}
                                            </dt>
                                            <dd class="font-medium">
                                                {{ discount.discount }}
                                            </dd>
                                        </div>
                                    {% endfor %}
                                    {# Cash On Delivery #}
                                    {% if order.cod_cost %}
                                        <div class="py-5 flex items-center justify-between">
                                            <dt class="">
                                                {{ trans('pages.orders.cod_cost') }}
                                            </dt>
                                            <dd class="font-medium">
                                                {{ order.cod_cost|money }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if order.shipping_cost %}
                                        <div class="py-5 flex items-center justify-between">
                                            <dt class="shipping">
                                                {{ trans('pages.orders.shipping_cost') }}
                                            </dt>
                                            <dd class="font-medium">
                                                {{ order.shipping_cost|money }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if order.tax %}
                                        <div class="py-5 flex items-center justify-between">
                                            <dt class="">
                                                {{ trans('pages.cart.tax') }} ({{ order.tax.percent }}%)
                                            </dt>
                                            <dd class="font-medium text-gray-900">
                                                {{ order.tax.amount|money }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    <div class="bg-border-color rounded-md py-5 -mx-6 px-6 flex items-center justify-between">
                                        <dt class="text-base font-medium">
                                            {{ trans('pages.orders.final_total') }}
                                        </dt>
                                        <dd class="text-base font-medium ">
                                            <b>{{ order.total|money }}</b>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>


                    {# tracking Code #}
					<div class="bg-white my-10 p-5 divide-y divide-border-color space-y-5 rounded-md">
						<div class="flex justify-between items-center pt-2">
							<div class="text-sm">
								<h3 class="font-bold">كود التتبع</h3>
								<p class="text-gray-text">متابعة حالة الطلب</p>
							</div>
							<a href="#"  class="text-sm font-bold">
								#179799
							</a>
						</div>
					</div>

                    <!-- cancel / reorder -->
                    {# {% if order.is_pending_payment %}
	<a href="{{ order.payment_url }}" class="btn btn-primary flex  items-center space-s-1.5">
		<span class="fix-align">{{ trans('pages.orders.finish_payment') }}</span>
	</a>
{% else %}
	<button type="button" class="btn btn-primary flex items-center space-s-1.5 popup-trigger" data-popup-trigger="re-order-modal">
		<i class="text-base sicon-history"></i>
		<span class="fix-align">{{ trans('pages.orders.reorder') }}</span>
	</button>
{% endif %}

{% if order.can_cancel %}
	<button type="button" class="btn btn-primary flex items-center space-s-1.5" id="button_delete_order">
		<i class="text-base sicon-trash-2"></i>
		<span class="fix-align">{{ trans('pages.orders.cancel') }}</span>
	</button>
{% endif %} #}

                    <!-- cancel && reorder -->
                    {% if order.can_reorder or order.can_cancel %}
                        <div x-data="{openReorderModal: false, openCancelOrderModal:false}">
                            <div class="bg-white my-10 p-5 divide-y divide-border-color space-y-5 rounded-md">
                                {% if order.can_reorder %}
                                <div class="flex justify-between">
                                    <div class="text-sm">
                                        <h3 class="font-bold">إعادة الطلب</h3>
                                        <p class="text-gray-text">تستطيع إعادة نفس منتجات الطلب</p>
                                    </div>
                                    {% if order.is_pending_payment %}
                                        <a href="{{ order.payment_url }}"
                                           class="text-sm font-bold text-primary flex items-center">
                                            <i class="sicon sicon-wallet me-2"></i>
                                            <span class="fix-align">{{ trans('pages.orders.finish_payment') }}</span>
                                        </a>
                                    {% else %}
                                        <button type="button" class="text-sm font-bold text-primary"
                                                @click="openReorderModal = true">
                                            <i class="sicon sicon-rotate me-2"></i>
                                            <span class="fix-align">{{ trans('pages.orders.reorder') }}</span>
                                        </button>
                                    {% endif %}
                                </div>
                                {% endif %}

                                {% if order.can_cancel %}
                                    <div class="flex justify-between pt-2">
                                        <div class="text-sm">
                                            <h3 class="font-bold">إلغاء الطلب</h3>
                                            <p class="text-gray-text">تستطيع إلغاء الطلب</p>
                                        </div>
                                        <button type="button" @click="openCancelOrderModal = true"
                                                class="text-sm font-bold text-theme-red" id="button_delete_order">
                                            <i class="sicon sicon-cancel-circle me-2"></i>
                                            <span class="fix-align">{{ trans('pages.orders.cancel') }}</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        S
                        <!-- Reorder Popup  -->
                        {% if order.can_reorder and not order.is_pending_payment %}
                            <div x-show="openReorderModal" x-cloak class="fixed z-10 inset-0 overflow-y-auto"
                                 aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                    <!-- Background overlay, show/hide based on modal state.-->
                                    <div x-show="openReorderModal" x-transition:enter="transition ease-out duration-300"
                                         x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                         x-transition:leave="transition ease-in duration-200"
                                         x-transition:leave-start="opacity-100 "
                                         x-transition:leave-end="opacity-0"
                                         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                                         aria-hidden="true"></div>

                                    <!-- This element is to trick the browser into centering the modal contents. -->
                                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                                    <!-- Modal panel, show/hide based on modal state. -->
                                    <div x-show="openReorderModal" @click.away="openReorderModal = false"
                                         x-transition:enter="transition ease-out duration-300"
                                         x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                         x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                                         x-transition:leave="transition ease-in duration-200"
                                         x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                                         x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                         class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
                                        <div>
                                            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                                                <!-- Heroicon name: outline/check -->
                                                <i class="sicon sicon-rotate text-green-600"></i>

                                            </div>
                                            <div class="mt-3 text-center sm:mt-5">
                                                <h3 class="title title--medium text-lg leading-6 font-medium text-gray-900"
                                                    id="modal-title">
                                                    {{ trans('pages.orders.reorder') }}
                                                </h3>
                                                <div class="mt-2">
                                                    <p class="text-sm text-gray-500">{{ trans('pages.orders.reorder_description')|raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-5 sm:mt-8 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                                            <a href="{{ order.reorder_url }}" data-nonconfirm="true"
                                               class="btn btn-primary w-full inline-flex justify-center ajax">
                                                {{ trans('common.elements.ok') }}
                                            </a>
                                            <button @click="openReorderModal = false" type="button"
                                                    class=" w-full inline-flex justify-center btn btn-outline">
                                                {{ trans('common.elements.cancel') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- End Reorder Popup -->
                    {% endif %}

                    <!-- Cancel order Popup  -->
                    {% if not order.is_pending_payment %}
                        <div x-show="openCancelOrderModal" x-cloak class="fixed z-10 inset-0 overflow-y-auto"
                             aria-labelledby="modal-title" role="dialog" aria-modal="true">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                <!-- Background overlay, show/hide based on modal state.-->
                                <div x-show="openCancelOrderModal" x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                     x-transition:leave="transition ease-in duration-200"
                                     x-transition:leave-start="opacity-100 "
                                     x-transition:leave-end="opacity-0"
                                     class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                                     aria-hidden="true"></div>

                                <!-- This element is to trick the browser into centering the modal contents. -->
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                                <!-- Modal panel, show/hide based on modal state. -->
                                <div x-show="openCancelOrderModal" @click.away="openCancelOrderModal = false"
                                     x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                     x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                                     x-transition:leave="transition ease-in duration-200"
                                     x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                                     x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                     class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
                                    <div>
                                        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                                            <!-- Heroicon name: outline/check -->
                                            <i class="sicon sicon-cancel text-red-600"></i>

                                        </div>
                                        <div class="mt-3 text-center sm:mt-5">
                                            <h3 class="title title--medium text-lg leading-6 font-medium text-gray-900"
                                                id="modal-title">
                                                {{ trans('common.elements.warning') }}
                                            </h3>
                                            <div class="mt-2">
                                                <p class="text-sm text-gray-500">{{ trans('common.elements.confirm') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 sm:mt-8 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                                        <button type="button" @click="cancelOrder()"
                                                class="btn btn-danger w-full inline-flex justify-center">
                                            {{ trans('common.elements.ok') }}
                                        </button>
                                        <button @click="openCancelOrderModal = false" type="button"
                                                class=" w-full inline-flex justify-center btn btn-outline">
                                            {{ trans('common.elements.cancel') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End Cancel order Popup -->

                    {% if store.settings.rating.is_enabled %}
                        {% include 'pages.partials.rating' with {'order':order} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {% if order.can_cancel %}
        <script>
            document.querySelector("#button_delete_order").addEventListener('click', function (e) {
                Swal.fire({
                    title             : "{{ trans('common.elements.warning') }}",
                    text              : '{{ trans('common.elements.confirm') }}',
                    showCancelButton  : true,
                    confirmButtonColor: "#2196F3",
                    confirmButtonText : "{{ trans('common.elements.ok') }}",
                    cancelButtonText  : "{{ trans('common.elements.cancel') }}"
                }).then(function (data) {
                    if (data.isConfirmed) {
                        salla.order.api.cancel("{{ order.id }}").then(function (response) {
                            window.location.reload();
                        });
                    }
                });
            });


            function cancelOrder() {
                salla.order.api.cancel("{{ order.id }}").then(function (response) {
                    window.location.reload();
                });
            }
        </script>
    {% endif %}
{% endblock %}
