<div class="custom-radios custom-radios--icons text-gray-text">
    <div class="mb-8 w-20">
        <input x-model="review.{{ for }}Rate" value="1" type="radio" id="{{ for }}-0" name="{{ for }}">
        <label class="flex flex-col items-center" for="{{ for }}-0">
            <div class="icon mb-2">😡</div>
            <p class="rate-title text-sm text-gray-text">منزعج</p>
        </label>
    </div>

    <div class="mb-8 w-20">
        <input x-model="review.{{ for }}Rate" value="2" type="radio" id="{{ for }}-1" name="{{ for }}">
        <label class="flex flex-col items-center" for="{{ for }}-1">
            <div class="icon mb-2">😒</div>
            <p class="rate-title text-sm text-gray-text">ماعجبني </p>
        </label>
    </div>

    <div class="mb-8 w-20">
        <input x-model="review.{{ for }}Rate" value="3" type="radio" id="{{ for }}-2" name="{{ for }}">
        <label class="flex flex-col items-center" for="{{ for }}-2">
            <div class="icon mb-2">🙂</div>
            <p class="rate-title text-sm text-gray-text">جيد</p>
        </label>
    </div>

    <div class="mb-8 w-20">
        <input x-model="review.{{ for }}Rate" value="4" type="radio" id="{{ for }}-3" name="{{ for }}">
        <label class="flex flex-col items-center" for="{{ for }}-3">
            <div class="icon mb-2">😃</div>
            <p class="rate-title text-sm text-gray-text">أعجبني</p>
        </label>
    </div>

    <div class="mb-8 w-20">
        <input x-model="review.{{ for }}Rate" value="5" type="radio" id="{{ for }}-4" name="{{ for }}">
        <label class="flex flex-col items-center" for="{{ for }}-4">
            <div class="icon mb-2">😍</div>
            <p class="rate-title text-sm text-gray-text">حبيته</p>
        </label>
    </div>
</div>