<div class="flex flex-col items-center">
	<div class="custom-radios custom-radios--icons text-gray-400">
		<div class="mb-8 w-20">
			<input x-model="review.{{ for }}Rate" value="1" type="radio" id="{{ for }}-0" name="{{ for }}">
			<label class="flex flex-col items-center" for="{{ for }}-0">
				<div class="icon mb-2">😡</div>
				<p class="rate-title text-sm text-gray-400">منزعج</p>
			</label>
		</div>

		<div class="mb-8 w-20">
			<input x-model="review.{{ for }}Rate" value="2" type="radio" id="{{ for }}-1" name="{{ for }}">
			<label class="flex flex-col items-center" for="{{ for }}-1">
				<div class="icon mb-2">😒</div>
				<p class="rate-title text-sm text-gray-400">ماعجبني
				</p>
			</label>
		</div>

		<div class="mb-8 w-20">
			<input x-model="review.{{ for }}Rate" value="3" type="radio" id="{{ for }}-2" name="{{ for }}">
			<label class="flex flex-col items-center" for="{{ for }}-2">
				<div class="icon mb-2">🙂</div>
				<p class="rate-title text-sm text-gray-400">جيد</p>
			</label>
		</div>

		<div class="mb-8 w-20">
			<input x-model="review.{{ for }}Rate" value="4" type="radio" id="{{ for }}-3" name="{{ for }}">
			<label class="flex flex-col items-center" for="{{ for }}-3">
				<div class="icon mb-2">😃</div>
				<p class="rate-title text-sm text-gray-400">أعجبني</p>
			</label>
		</div>

		<div class="mb-8 w-20">
			<input x-model="review.{{ for }}Rate" value="5" type="radio" id="{{ for }}-4" name="{{ for }}">
			<label class="flex flex-col items-center" for="{{ for }}-4">
				<div class="icon mb-2">😍</div>
				<p class="rate-title text-sm text-gray-400">أحبيته</p>
			</label>
		</div>
	</div>

	<div class="w-full">
		<textarea x-model="comment.{{ for }}Comment" placeholder="اكتب رأيك ..." class="form-input h-16"></textarea>
	</div>
</div>
