<div class="color-picker inline-block p-3 rounded-sm relative cursor-pointer" 
  data-color-input="color_input_{{option.id}}" 
  data-color-box="color_box_{{option.id}}"
  {% if value %}
    data-initial-color="{{ value }}"
  {% else %}
    data-initial-color="#000" 
  {% endif %}>
  <span id="color_box_{{option.id}}" 
  class="color-picker__box block w-9 rounded-sm" 
  style="background-color: {{value}}"></span>
</div>

<input 
  id="color_input_{{option.id}}"
  type="hidden" 
  value=""
  name="options[{{ option.id }}]"/>
