{% if value %}
  <salla-map
    id="location_map"
    class="map_{{option.id}}_{{item_id}}"
    api-key="AIzaSyBPhPJ4KG13ywvmeAovLRnbi7WzlsdcWKs"
    zoom="15"
    searchable
    data-location-input="location_input_{{option.id}}_{{item_id}}"
    data-location="{{value}}">
      <div slot="button">
        <p class="block text-sm">{{map_description}}</p>
        <button type="button" class="text-sm text-primary" onclick="document.querySelector('salla-map.map_{{option.id}}_{{item_id}}').open()">
          <i class="sicon-pencil text-xs me-1"></i>
           {{ trans('common.elements.edit') }}
        </button>
      </div> 
    </salla-map>
{% else %} 
    <salla-map
      id="location_map"
      api-key="AIzaSyBPhPJ4KG13ywvmeAovLRnbi7WzlsdcWKs"
      zoom="15"
      searchable
      data-location-input="location_input_{{option.id}}_{{item_id}}"></salla-map>
{% endif %} 

 <input 
  type="hidden" 
  id="location_input_{{option.id}}_{{item_id}}"
  value="{{ value }}"
  name="options[{{ option.id }}]"
/>

