{#
| Variable           | Type          | Description                                       |
|--------------------|---------------|---------------------------------------------------|
| option             | ProductOption | @see views/pages/partials/product/options.twig    |
| attirubtes         | string        | ex: ` id="field_1819067185_562106943"  required ` |
| disabled           | bool          |                                                   |
| required           | bool          |                                                   |
| is_for_custom_form | bool          | Is it for  `Food` or `Custom Service` product     |
| value              | ?string       |                                                   |
#}

<select class="form-input {{ required?'required':'' }}" name="options[{{ option.id }}]"
        {{ attirubtes|raw }}>
    <option placeholder value="">{{ option.placeholder }}</option>
    {% for key,detail in option.details %}
        <option {{ detail.is_selected ? "selected" : "" }} value="{{ detail.id }}">
            {{ detail.full_name }}
        </option>
    {% endfor %}
</select>
