{#
| Variable   | Type          | Description                                                  |
|------------|---------------|--------------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig               |
| attirubtes | string        | ex: ` id="field_1819067185_562106943"  required `            |
| disabled   | bool          |                                                              |
| required   | bool          |                                                              |
| item_id    | int           | product.id when is product page/cart.items[].id when is cart |
| value      | ?string       |                                                              |
#}
<div class="radio-images grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
    {% for detail_index, detail in option.details %}
        <div class="relative inline-block text-center w-full">
            <input {{ detail.is_selected?'checked':'' }}
                    required
                    type="radio"
                    class="image-option"
                    id="option_{{ item_id }}_{{ detail.id }}"
                    {{ detail.is_out?"disabled":"" }}
                    data-itemid="{{ detail.id }}"
                    name="options[{{ option.id }}]"
                    data-img-id="{{ detail.option_value }}"
                    value="{{ detail.id }}"/>
            <label for="option_{{ item_id }}_{{ detail.id }}" data-img-id="{{ detail.option_value }}" class="go-to-slide radio-images__label">
                <img data-src="{{ detail.image }}" src="{{ 'images/s-empty.png' | asset }}" class="object-cover h-full w-full lazy-load" title="{{ detail.name }}" alt="{{ detail.name }}"/>
            </label>
            <p class="text-sm text-gray-400">{{ detail.name }}</p>
            {% if detail.is_out %}
                <small class="radio-images__badge">{{ trans('pages.products.out_of_stock') }}</small>
            {% endif %}
        </div>
    {% endfor %}
</div>
