<section class="relative overflow-hidden bg-white p-5 pb-0 rounded-md mb-5">
    <p class="mb-5 pe-10 ">{{ offer.name }}: {{ offer.title|raw }}</p>

    {% if categories %}
        {% for category in categories %}
            <a href="{{ category.url }}" class="me-2.5 bg-gray-bg  py-2.5 px-4 rounded-large inline-flex items-center text-gray-500 justify-center text-sm mb-2.5">
                <i class="font-medium sicon-tag me-1.5 text-md"></i>
                <span class="fix-align">{{ category.name }}</span>
            </a>
        {% endfor %}
    {% endif %}

    {% if products %}
        {% for product in products %}
            <a href="{{ product.url }}" class="me-2.5 bg-gray-bg  py-2.5 px-4 rounded-large inline-flex items-center text-gray-500 justify-center text-sm mb-2.5">
                <span class="fix-align">{{ product.name }}</span>
            </a>
        {% endfor %}
    {% endif %}

    <div class="absolute top-5 w-40 end-0 transform -translate-x-12 -rotate-45 text-center">
        <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ trans('pages.products.special_offer') }}
        </div>
    </div>

    <div class="mt-5 border-b-2 border-red-400"></div>
</section>
