<div class="offers-block bg-grey mt-50">
    <span class="badge badge--corner-ribbon end">{{ trans('pages.products.special_offer') }}</span>
    <div class="offers-block__title-wrapper mb-20">
        <h2 class="title title--medium mb-5">{{ offer.name }}</h2>
        <p class="font-sm color-grey mt-0 mb-0">{{ offer.title|raw }}</p>
    </div>
    {% if categories %}
    <ul class="list list--horizontal list--auto-width wrap">
        {% for category in categories %}
        <li class="mr-1 mb-1">
            <a href="{{ category.url }}" class="btn btn--grey btn--tag btn--oval ">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if products %}
        {% if products|length > 4 %}
            <div class="splide splide--products-slider center-arrows offers">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for product in products %}
                            <li class="splide__slide">
                                {% include 'pages.partials.product.card' %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="grid-block products-list-container">
                {% for product in products %}
                    {% include 'pages.partials.product.card' %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>