{% if products|length %}
  <div class="center-between mb-6 sm:mb-8">
    {# Block Title #}
    <div>
      <h2 class="s-block__title">{{ title }}</h2>
      {% if sub_title %} <p class="pe-16 mt-2">{{ sub_title|raw }}</p> {% endif %}
    </div>

    {# Slider Nav btns && show all btn #}
    <div class="flex items-center">
      {% if display_all_url %}
          <a href="{{ display_all_url }}" class="text-sm font-bold text-primary hover:opacity-80 sm:me-3">{{ trans('blocks.home.display_all') }}</a>
      {% endif %}
      <div class="hidden sm:flex space-x-reverse space-x-1" dir="rtl">
          <button aria-label="Previous Slide" class="slider-prev btn--md-arrow">
            <i class="sicon-keyboard_arrow_right"></i>
          </button>
          <button aria-label="Next Slide" class="slider-next btn--md-arrow">
            <i class="sicon-keyboard_arrow_left"></i>
          </button>
      </div>
    </div>
  </div>

  {# Swiper #}
  <div class="swiper default-slider slider-layout" data-id="{{type}}-slider">
    <div class="swiper-wrapper flex items-stretch">
      {% for product in products %}
        <div class="swiper-slide slide--one-fourth">
            {% include 'pages.partials.product.card' %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
