{#
| Variable          | Type                 | Description                                               |
|-------------------|----------------------|-----------------------------------------------------------|
| page              | object               |                                                           |
| page.title        | string               |                                                           |
| page.name         | string               |                                                           |
| products          | Product[] *Paginator |                                                           |
| brand             | Brand *              |                                                           |
| brand.id          | int                  |                                                           |
| brand.name        | string               |                                                           |
| brand.url         | string               |                                                           |
| brand.logo        | string               |                                                           |
| brand.banner      | ?string              | Null when is not set, or merchant doesn't want to show it |
| brand.description | string               |                                                           |
#}
{% extends "layouts.master" %}
{% block content %}
    <div class="container">
        <nav class="w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>
        <div class="brand__header">
            {% if brand.banner %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand__banner">
                            <img class="lazy-load w-full max-h-96 object-cover rounded-md "
                                 data-src="{{ brand.banner }}" alt="{{ brand.name }}"/>
                        </div>
                    </div>
                </div>
            {% endif %}
            <article class="brand__content flex py-5">
                <img class="rounded-md w-40 h-24 object-contain  shadow-md p-4 bg-white lazy-load"
                     data-src="{{ brand.logo }}" src="{{ asset('images/s-empty.png') }}" alt="{{ brand.name }}">
                <div class="px-5 pt-3">
                    <h3 class="brand__title text-2xl font-bold mb-1">{{ brand.name }}</h3>
                    <p class="text-base text-gray-500">{{ brand.description|raw }}</p>
                </div>
            </article>
        </div>
        <div class="flex items-start flex-col md:flex-row">
            <div class="main-content w-full">
                {% if products is not empty %}
                    <div class="mb-5 md:flex justify-between items-center">
                        <h2 class="font-bold mb-6 md:mb-0">{{ page.title|raw }}</h2>
                        <div class="flex items-center justify-between">
                            <div class="hidden {# md:flex #} items-center ms-2 md:ms-2">
                                <a href="#" data-type="grid"
                                   class="grid-trigger cursor-pointer mx-1 text-xl w-10 h-10
                                              rounded-md flex items-center justify-center
                                              bg-border-color text-primary">
                                    <i class="sicon-grid"></i>
                                </a>
                                <a href="#" data-type="list"
                                   class="grid-trigger cursor-pointer mx-1 text-xl w-10 h-10
                                              rounded-md flex items-center justify-center
                                              text-gray-400">
                                    <i class="sicon-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <salla-infinite-scroll
                            class="md:grid-cols-auto-fill mb-8 products-container gird-view grid sm:grid-cols-2 grid-flow-row gap-6"
                            next-page="{{ products.next_page }}" autoload>
                        {% for product in products %}
                            {% include 'pages.partials.product.card' with {block_classes:'list-block'} %}
                        {% endfor %}
                    </salla-infinite-scroll>
                {% else %}
                    <div class="h-full content-placeholder content-placeholder--cart text-gray-400 pt-10 pb-20 flex items-center flex-col justify-center">
                            <span class="rounded-icon w-36 h-36 bg-gray-bg mb-6">
                                <i class="sicon-award-ribbon text-6xl block text-reverse-dark"></i>
                            </span>
                        <p class="text-sm mb-5 text-center">
                            <span>{{ trans('pages.brands.non_products') }}</span>
                            {{ brand.name }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}