{#
| Variable          | Type                 | Description                                               | @see |
|-------------------|----------------------|-----------------------------------------------------------|------|
| products          | Product[] *Paginator |                                                           | TODO |
| brand             | Brand *              |                                                           | TODO |
| brand.id          | Integer              |                                                           |      |
| brand.name        | String               |                                                           |      |
| brand.url         | String               |                                                           |      |
| brand.logo        | String               |                                                           |      |
| brand.banner      | ?String              | Null when is not set, or merchant doesn't want to show it |      |
| brand.description | String               |                                                           |      |
#}
{% extends "layouts.master" %}
{% block content %}
    <main id="main" x-data="initBrand()" x-cloak>
        <div class="container">
            <nav class="w-full py-5">
                {% component 'header.breadcrumbs' %}
            </nav>
            <div
                class="brand__header">
                {# TODO: Remove not from if statement #}
                {% if not brand.banner %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="brand__banner">
                                <img class="lazy-load w-full max-h-96 object-cover rounded-md " data-src="https://images.unsplash.com/photo-1596558450255-7c0b7be9d56a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{ brand.name }}"/>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <article class="brand__content flex py-5">
                    <img class="rounded-md w-40 h-24 object-contain  shadow-md p-4 bg-white lazy-load" data-src="{{ brand.logo }}" alt="{{ brand.name }}">
                    <div class="px-5 pt-3">
                        <h3 class="brand__title text-2xl font-bold mb-1">{{ brand.name }}</h3>
                        <p class="text-base text-gray-500">{{ brand.description|raw }}</p>
                    </div>
                </article>
            </div>
            <div class="flex items-start flex-col md:flex-row">
                <div class="main-content w-full">
                    {% if products is not empty %}
                        <div class="mb-5 md:flex justify-between items-center">
                            <h2 class="font-bold mb-6 md:mb-0">{{ page_title|raw }}</h2>
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="hidden md:flex items-center">
                                        <a @click="toggleView('grid')" :class=" girdLayout == 'grid' ? 'bg-border-color text-primary' : 'text-gray-400'" id="gridButton" data-grid="grid" class="grid-trigger cursor-pointer mx-2 text-xl w-10 h-10 rounded-md flex items-center justify-center">
                                            <i class="sicon-grid"></i>
                                        </a>
                                        <a @click="toggleView('list')" :class="girdLayout == 'list' ? 'bg-border-color text-primary' : 'text-gray-400'" id="listButton" data-grid="list" class="grid-trigger cursor-pointer mx-2 text-xl w-10 h-10 rounded-md flex items-center justify-center">
                                            <i class="sicon-list"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div x-ref="productsContainer" :class="{'list md:grid-cols-1' : girdLayout == 'list','md:grid-cols-auto-fill' :  girdLayout == 'grid' }" class="mb-8 products-container gird-view grid sm:grid-cols-2  grid-flow-row gap-6">

                            {% for product in products %}
                                {% include 'pages.partials.product.card' %}
                            {% endfor %}
                        </div>
                        {% include 'pages.partials.loader-status' with {next_page:products.next_page} %}
                    {% else %}
                        <div class="h-full content-placeholder content-placeholder--cart text-gray-400 pt-10 pb-20 flex items-center flex-col justify-center">
                            <span class="rounded-icon w-36 h-36 bg-gray-bg mb-6">
                                <i class="sicon-award-ribbon text-6xl block text-reverse-dark"></i>
                            </span>
                            <p class="text-sm mb-5 text-center">
                                <span>{{trans('pages.brands.non_products')}}</span>
                                {{ brand.name }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
salla.infiniteScroll.initiate('.products-container', '.product-entry')
})

function initBrand() {
return {
girdLayout: 'grid',
toggleView: function (layout) {
this.girdLayout = layout;
this.animateItems()
},
animateItems: function () {
anime({
targets: '.product-entry',
opacity: [
0, 1
],
duration: 1200,
translateY: [
20, 0
],
delay: function (el, i) {
return i * 100;
}
})
}
}
}
    </script>
{% endblock %}
