{#
| Variable         | Type   | Description                                        | @see |
|------------------|--------|----------------------------------------------------|------|
| contacts         | Array  |                                                    |      |
| contacts[].name  | String |                                                    |      |
| contacts[].type  | String | whatsapp, mobile, phone, telegram, email           |      |
| contacts[].icon  | String | Css Class                                          |      |
| contacts[].url   | String | Direct Access to the contact ex: tel:+966555555555 |      |
| contacts[].value | String |                                                    |      |
#}
{% if is_header %}
  <div class="hidden lg:block">
    <ul class="flex items-center contacts-menu menu-divide">
        {% for contact in contacts %}
            {% if contact.type == 'email' %}
                <li class="inline-block">
                    <a href="{{ contact.url }}" class="block transition duration-300 p-4 text-sm {{ theme.topnav_link_hover ? 'hover:text-[color:var(--topnav-link-hover)]' : 'hover:text-primary'}} ">
                        {{ contact.value }}
                    </a>
                </li>
            {% endif %}
            {% if contact.type == 'phone' %}
                <li class="inline-block">
                    <a href="{{ contact.url }}" class="block transition duration-300 p-4 text-sm hover:text-{{ theme.topnav_link_hover ? '[color:var(--topnav-link-hover)]' : 'primary'}}">
                        <span>{{ trans('blocks.footer.social') }}: </span>
                        <span class="unicode">{{ contact.value }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
  </div>
{% else %}
  <div>
      <h3 class="mb-5">{{ trans('blocks.footer.social') }}</h3>
      <ul>
          {% for contact in contacts %}
              <li class="mb-4">
                  <a href="{{ contact.url }}" class="flex items-center  focus:underline text-sm leading-none">
                      <span class="me-2.5 border text-reverse rounded-full w-8 h-8 justify-center flex items-center">
                          <i class="{{ contact.icon }}"></i>
                      </span>
                      <span class="text-unicode unicode">{{ contact.value }}</span>
                  </a>
              </li>
          {% endfor %}
      </ul>
  </div>
{% endif %}