{#
| Variable          | Type                 | Description |
|-------------------|----------------------|-------------|
| page              | object               |             |
| page.title        | string               |             |
| page.slug         | string               |             |
| orders[]          | Orders[] *Collection |             |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    {% if orders|length %}
        {% hook 'customer:orders.index.items.start' %}

        <salla-infinite-scroll next-page="{{ orders.next_page }}" container=".list-container" item=".s-table__tr">
            <table class="s-table">
                <thead>
                  <tr>
                      <th scope="col">
                          {{ trans('pages.thank_you.order_id') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.total') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.date') }}
                      </th>
                      <th scope="col">
                          {{ trans('pages.orders.status') }}
                      </th>
                  </tr>
                </thead>
                <tbody class="list-container">
                {% for order in orders %}
                    <tr class="s-table__tr">
                        <td>
                          <div>
                            <span class="mobile-title">{{ trans('pages.thank_you.order_id') }}:</span>
                            <span class="hidden md:inline-block">#{{ order.reference_id }}</span>
                            
                            {% if order.source is same as('buy_as_gift') %}
                                <i class="sicon-gift-sharing inline-block mx-1 text-primary"></i>
                            {% endif %}

                            <a href="{{ order.url }}"></a>

                            <div class="flex items-center md:hidden">
                              <salla-button class="relative" onclick="app.copyToClipboard(event)" color="dark" shape="link" data-content="{{ order.reference_id }}">
                                  <span>#{{ order.reference_id }}</span>
                                  <i class="copy-icon sicon-swap-stroke pointer-events-none rtl:mr-1 ltr:ml-1"></i>
                              </salla-button>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div>
                            <span class="mobile-title">{{ trans('pages.orders.total') }}:</span>
                            {{ order.total|money }}
                            <a href="{{ order.url }}"></a>
                          </div>
                        </td>

                        <td>
                          <div>
                            <span class="mobile-title">{{ trans('pages.orders.date') }}:</span>
                            {{ order.created_at|date("l j F Y") }}
                            <a href="{{ order.url }}"></a>
                          </div>
                        </td>

                        <td>
                          <div>
                            <span class="mobile-title">{{ trans('pages.orders.status') }}:</span>
                            <span class="rtl:mr-auto ltr:ml-auto md:mx-0"
                                  style="color: {{ order.status.color }}">
                              <i class="mt-1 {{ order.status.icon }}"></i>
                              <span>{{ order.status.name }}</span>
                            </span>
                            <i class="sicon-star2 text-lg rtl:mr-4 ltr:ml-4 {{ order.is_rated?'text-amber-400':'text-gray-200' }}"></i>
                            <a href="{{ order.url }}"></a>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </salla-infinite-scroll>

        {% hook 'customer:orders.index.items.end' %}
    {% else %}
        <div class="no-content-placeholder">
            <i class="sicon-packed-box icon"></i>
            <p>{{ trans('pages.orders.non_orders') }}</p>
        </div>
    {% endif %}
{% endblock %}
