{#
| Variable                         | Type                              | Description                                                                              |
|----------------------------------|-----------------------------------|------------------------------------------------------------------------------------------|
| page                             | object                            |                                                                                          |
| page.title                       | string                            |                                                                                          |
| page.slug                        | string                            |                                                                                          |
| order                            | Order                             |                                                                                          |
| order.id                         | integer                           |                                                                                          |
| order.reference_id               | integer                           |                                                                                          |
| order.created_at                 | date                              |                                                                                          |
| order.sub_total                  | float                             |                                                                                          |
| order.total                      | float                             |                                                                                          |
| order.cod_cost                   | float                             | * Cash On Delivery                                                                       |
| order.can_reorder                | bool                              |                                                                                          |
| order.can_cancel                 | bool                              |                                                                                          |
| order.can_rate                   | bool                              |                                                                                          |
| order.cancel_url                 | string                            |                                                                                          |
| order.payment_url                | string                            |                                                                                          |
| order.is_pending_payment         | bool                              |                                                                                          |
| order.pending_payment_ends_in    | int                               | How much many seconds untile pending payment ends, zero if it's already expired          |
| order.shipping                   | ?object                           |                                                                                          |
| order.shipping.id                | integer                           |                                                                                          |
| order.shipping.name              | string                            |                                                                                          |
| order.shipping.number            | string                            | number/string/link (..) for shipment number (tracking number)                            |
| order.shipping.logo              | ?string                           |                                                                                          |
| order.shipping.cost              | ?Money                            |                                                                                          |
| order.tax                        | ?object                           |                                                                                          |
| order.tax.amount                 | float                             |                                                                                          |
| order.tax.percent                | float                             |                                                                                          |
| order.status                     | object                            |                                                                                          |
| order.status.name                | string                            |                                                                                          |
| order.status.icon                | string                            |                                                                                          |
| order.status.color               | string                            |                                                                                          |
| order.items                      | OrderItem[]                       |                                                                                          |
| order.items[].name               |                                   |                                                                                          |
| order.items[].image              |                                   |                                                                                          |
| order.items[].price              | TaxableMoney                      |                                                                                          |
| order.items[].quantity           |                                   |                                                                                          |
| order.items[].total              | TaxableMoney                      |                                                                                          |
| order.items[].product            | ?Product                          | There are cases product is null, when merchant adds special product to the order         |
| order.items[].sub_products       | ?Product[] *Collection            |                                                                                          |
| order.items[].note               |                                   |                                                                                          |
| order.items[].attachments        | OrderItemAttachment[] *Collection | if it's empty will be empty array so you can use it as check `{% if item.attachments %}` |
| order.items[].attachments[].type | string                            |                                                                                          |
| order.items[].attachments[].url  | string                            |                                                                                          |
| order.items[].files              | ?array                            |                                                                                          |
| order.items[].files[].name       | string                            |                                                                                          |
| order.items[].files[].url        | string                            |                                                                                          |
| order.items[].codes              | array                             | list of codes for item                                                                   |
| order.items[].options            | ?OrderItemOption[] *Collection    |                                                                                          |
| order.items[].options[].name     | string                            |                                                                                          |
| order.items[].options[].value    | string                            |                                                                                          |
| order.items[].options[].is_image | bool                              |                                                                                          |
| order.items[].options[].color    | string                            | option hex color                                                                         |
| order.items[].rating             | ?Rating                           |                                                                                          |
| order.items[].rating.content     | string                            | *HTML                                                                                    |
| order.items[].rating.is_pending  | bool                              |                                                                                          |
| order.items[].rating.stars       | int                               |                                                                                          |
| order.items[].rating.created_at  | date                              |                                                                                          |
| order.discounts                  | array                             |                                                                                          |
| order.discounts[].name           | string                            |                                                                                          |
| order.discounts[].discount       | float                             | minus number                                                                             |
| order.is_rated                   | bool                              |                                                                                          |
| order.rating                     | ?OrderRatings                     |                                                                                          |
| order.rating.store               | ?Rating                           |                                                                                          |
| order.rating.shipping            | ?Rating                           |                                                                                          |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    <div class="space-y-4 md:space-y-8">

        {% hook 'customer:orders.single.details.start' %}

        {# Order Details #}
        <table class="min-w-full rounded-md overflow-hidden">
            <tbody>
            <tr class="bg-white overflow-hidden flex md:table-row flex-row md:flex-row flex-wrap md:flex-no-wrap py-1.5 md:py-0">
                <td class="single-order-header-item w-full md:w-auto  px-3 md:px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                    <div class="me-2 font-normal text-gray-400">{{ trans('pages.orders.date') }}</div>
                    <b>{{ order.created_at|date }}</b>
                </td>
                {% if (not order.has_multi_shipments) %}
                    {% if order.shipping %}
                        <td class="single-order-header-item w-full md:w-auto  px-3 md:px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <div class="me-2  font-normal text-gray-400">{{ trans('pages.orders.shipments') }}</div>
                            <div>
                                {% if order.shipping.logo %}
                                    <div class="inline-block h-6 w-8">
                                        <img class="inline-block w-full h-full object-contain"
                                             src="{{ order.shipping.logo }}">
                                    </div>
                                {% endif %}
                                <b>{{ order.shipping.name }}</b>
                            </div>
                        </td>
                    {% endif %}

                    {% if order.shipping.number %}
                        <td class="single-order-header-item w-full md:w-auto  px-3 md:px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                            <div class="me-2 font-normal text-gray-400">{{ trans('pages.orders.shipment_no') }}</div>
                            <b>{{ order.shipping.number|raw }}</b>
                        </td>
                    {% endif %}
                {% endif %}

                <td class="single-order-header-item flex justify-between items-center w-full md:w-auto px-3 md:px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                    {% if order.is_pending_payment and order.pending_payment_ends_in == 0 %}
                        <span class="text-red-500">{{ trans('pages.orders.pending_payment_expired') }}</span>
                    {% else %}
                        <span class="text-primary inline-flex items-center space-s-1"
                              style="color: {{ order.status.color }}">
                        <i class="mt-1 {{ order.status.icon }}"></i>
                        <span class=""> {{ order.status.name }}</span>
                    </span>
                    {% endif %}


                    {% if (can_print_invoice) %}
                        <salla-button fill="outline" size="small"
                                      onclick="window.open('{{ order.print_url()}}', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, width=900, height=700');">
                            <i class="sicon-printer2 v-align"></i>
                            {{ trans('pages.orders.print') }}
                        </salla-button>
                    {% else %}
                        <div class="tooltip-toggle tooltip-toggle--clickable text-primary border border-primary rounded text-center inline-block px-4 py-2 cursor-pointer">
                            <i class="sicon-printer2 v-align"></i>
                            {{ trans('pages.orders.print') }}
                            <div class="tooltip-content shadow-md rounded text-gray-500">
                                <small> {{  trans('pages.orders.to_order_invoice_contact_vendor') }}
                                    <br />
                                    {{ trans('pages.orders.print_order_details') }}
                                    <a class="text-primary underline cursor-pointer" onclick="window.open('{{ order.print_url()}}', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, width=900, height=700');">{{trans('pages.orders.click_here')  }}</a>
                                </small>
                                <salla-button shape="link" color="danger" size="small" class="close-tooltip">
                                    <i class="sicon-cancel"></i>
                                </salla-button>
                            </div>
                        </div>
                    {% endif %}

                </td>
                {# print order #}
                <td class="w-full md:w-auto text-end px-6 py-2 md:py-4 md:h-20 whitespace-nowrap text-sm ">
                    {% if (can_print_invoice) %}
                        <salla-button fill="outline"
                                      onclick="window.open('{{ order.print_url()}}', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, width=900, height=700');">
                            <i class="sicon-printer2 v-align"></i>
                            {{ trans('pages.orders.print') }}
                        </salla-button>

                    {% else %}
                        <div class="tooltip-toggle tooltip-toggle--clickable text-primary border border-primary rounded text-center inline-block px-4 py-2 cursor-pointer">
                            <i class="sicon-printer2 v-align"></i>
                            {{ trans('pages.orders.print') }}
                            <div class="tooltip-content shadow-md rounded text-gray-500">
                                <small> {{  trans('pages.orders.to_order_invoice_contact_vendor') }}
                                    <br />
                                    {{ trans('pages.orders.print_order_details') }}
                                    <a class="text-primary underline cursor-pointer" onclick="window.open('{{ order.print_url()}}', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, width=900, height=700');">{{trans('pages.orders.click_here')  }}</a>
                                </small>
                                <salla-button shape="link" color="danger" size="small" class="close-tooltip">
                                    <i class="sicon-cancel"></i>
                                </salla-button>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        {# Order Rating Message & Modal #}
        {% if order.can_rate %}
            <div class="rating-header gradient-bg center-between">
                <div>
                    <h2 class="font-bold mb-1">{{ trans('pages.order.order_rating_title') }}</h2>
                    <p class="text-sm">{{ trans('pages.order.order_rating_message') }}</p>
                </div>
                <salla-button color="light" class="btn--rounded-full !text-primary" onclick="salla.event.dispatch('rating::open')">{{ trans('pages.rating.rate') }}</salla-button>
            </div>
            <salla-rating-modal></salla-rating-modal>
        {% endif %}

        {# Order Summary #}
        {% if order.multi_branch %}

            {% if order.has_unshipping_products %}
                <div class="overflow-hidden space-y-5">
                    {% component 'order.order-items' with {'order': order, 'is_shipping_products': false} %}
                </div>
            {% endif %}

            {% if order.has_shipping %}
                <div class="overflow-hidden space-y-5">
                    <h1 class="font-bold text-lg">{{ trans('pages.orders.shipments') }}</h1>

                    {% for shipment_branch in order.shipment_branches %}
                        <div class="shipping-orders">
                            {# Shipping Title #}
                            <div class="flex flex-col md:flex-row justify-between md:items-center bg-white px-5 py-3 border-b border-gray-100 rounded-t-md text-sm space-y-4 md:space-y-0">
                                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                    {% if shipment_branch.shipping.logo %}
                                        <img src="{{ shipment_branch.shipping.logo }}" class="max-w-16 max-h-8"
                                             alt="{{ shipment_branch.shipping.name }}">
                                        <span>{{ shipment_branch.shipping.name }}</span>
                                    {% endif %}
                                </div>
                                <div class="flex space-x-5 rtl:space-x-reverse">
                                <span>
                                    {{ trans('pages.orders.branch') }}:
                                    <span class="font-bold">{{ shipment_branch.branch.name }}</span>
                                </span>
                                    <span>{{ trans('pages.orders.shipment_no') }}:
                                    <span class="font-bold">{{ shipment_branch.shipping.number }}</span>
                                </span>
                                    {% if shipment_branch.is_delivered %}
                                        <span>{{ trans('pages.orders.status') }}:
                                    <span style="color: {{ shipment_branch.status.color }}">
                                        <i class="center-v mr-1 {{ shipment_branch.status.icon }}"></i>
                                        {{ shipment_branch.status.name }}
                                    </span>
                                </span>
                                    {% elseif shipment_branch.shipping.number and shipment_branch.tracing_link %}
                                        <a class="font-bold text-primary hover:opacity-80 flex items-center"
                                           href="{{ shipment_branch.tracing_link|raw }}"
                                           target="_blank"
                                        >
                                            <span class="sicon-shipping rtl:ml-1 ltr:mr-1"></span>
                                            {{ trans('pages.orders.tracking_url')}}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            {% component 'order.order-items' with {'order': order, 'branch': shipment_branch.branch, 'is_shipping_products': true} %}

                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        {% else %}
            <div class="overflow-hidden">
                {% component 'order.order-items' with {'order': order} %}
            </div>
        {% endif %}

        <div class="bg-white rounded-md px-6">
            <h2 id="summary-heading" class="sr-only">Order summary</h2>
            <div class="flow-root">
                <dl class="text-sm text-gray-500 divide-y divide-border-color">
                    <div class="py-5 center-between">
                        <dt class="text-gray-600">
                            {{ trans('pages.cart.items_total') }}
                        </dt>
                        <dd class="font-medium">
                            {{ order.sub_total|money }}
                        </dd>
                    </div>

                    {% for discount in order.discounts %}
                        <div class="py-5 center-between">
                            <dt class="discount">
                                {{ discount.name }}
                            </dt>
                            <dd class="font-medium">
                                {{ discount.discount }}
                            </dd>
                        </div>
                    {% endfor %}
                    {# Cash On Delivery #}
                    {% if order.cod_cost %}
                        <div class="py-5 center-between">
                            <dt class="">
                                {{ trans('pages.orders.cod_cost') }}
                            </dt>
                            <dd class="font-medium">
                                {{ order.cod_cost|money }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if order.shipping_cost %}
                        <div class="py-5 center-between">
                            <dt class="shipping">
                                {{ trans('pages.orders.shipping_cost') }}
                            </dt>
                            <dd class="font-medium">
                                {{ order.shipping_cost|money }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if order.tax %}
                        <div class="py-5 center-between">
                            <dt class="">
                                {{ trans('pages.cart.tax') }} ({{ order.tax.percent }}%)
                            </dt>
                            <dd class="font-medium text-gray-900">
                                {{ order.tax.amount|money }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="bg-border-color rounded-md py-5 -mx-6 px-6 center-between">
                        <dt class="text-base font-medium">
                            {{ trans('pages.orders.final_total') }}
                        </dt>
                        <dd class="text-base font-medium ">
                            <b>{{ order.total|money }}</b>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        {# Reorder & Cancel #}
        {% if order.can_reorder or order.can_cancel or order.is_pending_payment %}
            <div class="bg-white rounded-md p-5 divide-y divide-border-color space-y-4">
                {% if order.can_reorder or order.is_pending_payment %}
                    <div class="{{order.is_pending_payment ? 'flex-center': 'center-between'}}">
                        {% if order.is_pending_payment %}
                            {% if order.pending_payment_ends_in == 0 %}
                              <span class="text-red-500">{{ trans('pages.orders.pending_payment_expired') }}</span>
                            {% else %}
                              <salla-button width="wide" href="{{ order.payment_url }}">
                                  <i class="sicon sicon-wallet me-2"></i>
                                  <span>{{ trans('pages.orders.finish_payment') }}</span>
                              </salla-button>
                            {% endif %}
                        {% else %}
                            <div class="text-sm">
                                <h3 class="font-bold text-lg leading-none mb-1">{{ trans('pages.orders.reorder') }}</h3>
                                <p class="text-gray-500">{{ trans('pages.orders.reorder_description') }}</p>
                            </div>
                            <salla-button shape="link" onclick="document.querySelector('#reorder-modal').open()">
                                <i class="sicon sicon-rotate me-2"></i>
                                <span>{{ trans('pages.orders.reorder') }}</span>
                            </salla-button>
                        {% endif %}
                    </div>
                {% endif %}

                {% if order.can_cancel %}
                    <div class="center-between pt-4">
                        <div class="text-sm">
                            <h3 class="font-bold text-lg leading-none mb-1">{{ trans('pages.orders.cancel') }}</h3>
                            <p class="text-gray-500">{{ trans('pages.order.order_cancelation_desc') }}</p>
                        </div>
                        <salla-button shape="link" color="danger" onclick="document.querySelector('#modal-order-cancel').open()">
                            <i class="sicon sicon-cancel-circle me-2"></i>
                            <span>{{ trans('pages.orders.cancel') }}</span>
                        </salla-button>
                    </div>
                {% endif %}
            </div>

            {# Reorder Modal #}
            {% if order.can_reorder %}
                <salla-modal width="sm" sub-title="{{ trans('pages.orders.reorder_confirmation')|raw }}"
                             icon="sicon-rotate" id="reorder-modal" icon-style="success"
                             modal-title="{{ trans('pages.orders.reorder') }}">
                    <div slot="footer" class="grid grid-cols-2 gap-3">
                        <salla-button id="btn-reorder" width="wide">
                            {{ trans('common.elements.ok') }}
                        </salla-button>

                        <salla-button class="w-full" fill="outline" color="light" onclick="document.querySelector('#reorder-modal').close()">
                            {{ trans('common.elements.cancel') }}
                        </salla-button>
                    </div>
                </salla-modal>
            {% endif %}

            {# Cancel Modal #}
            {% if order.can_cancel %}
                <salla-modal width="sm" sub-title="{{ trans('pages.orders.cancel_confirmation') }}"
                             icon="sicon-cancel" id="modal-order-cancel" icon-style="error"
                             modal-title="{{ trans('common.elements.warning') }}">
                    <div slot="footer" class="grid grid-cols-2 gap-3">
                        <salla-button id="confirm-cancel" color="danger" class="w-full cursor-pointer">
                            {{ trans('common.elements.ok') }}
                        </salla-button>
                        <salla-button class="w-full" fill="outline" color="light" onclick="document.querySelector('#modal-order-cancel').close()">
                            {{ trans('common.elements.cancel') }}
                        </salla-button>
                    </div>
                </salla-modal>
            {% endif %}
        {% endif %}

        {# Store Rating #}
        {% if order.rating.store.stars %}
            <section class="bg-white p-5 rounded-md">
                <h2 class="text-lg font-bold mb-5">{{ trans('pages.rating.rate_the_store') }}</h2>
                <p class="mb-2">{{ order.rating.store.content|raw }}</p>
                <salla-rating-stars value="{{order.rating.store.stars}}"></salla-rating-stars>
            </section>
        {% endif %}

        {# Shipping Rating #}
        {% if order.rating.shipping.stars %}
            <section class="bg-white p-5 rounded-md">
                <h2 class="text-lg font-bold mb-5">{{ trans('pages.rating.rate_shipping') }}</h2>
                <p class="mb-2">{{ order.rating.shipping.content|raw }}</p>
                <salla-rating-stars value="{{order.rating.shipping.stars}}"></salla-rating-stars>
            </section>
        {% endif %}

        {% hook 'customer:orders.single.details.end' %}
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'customer.js' | asset }}"></script>
{% endblock %}
