{#
| Variable                       | Type    | Description                                                               |
|--------------------------------|---------|---------------------------------------------------------------------------|
| component                      | object  | Contains merchant settings for fields from theme.json `component` section |
| component.brands               | Brand[] | list of selected brands @see views/pages/brands/single.twig               |
| position                       | int     | Sorting number start from zero                                            |
#}
<section class="s-block s-block--logos-slider bg-gray-bg2 pt-8 sm:pt-12 pb-8 sm:pb-20 mt-8 sm:mt-16">
    <div class="container">
        <div class="flex justify-between mb-6 sm:mb-8">
            <h2 class="font-bold text-lg text-gray-500">
                {{trans('blocks.home.browse_brands')}}
            </h2>
            <div class="flex items-center">
                <a href="{{link('brands')}}" class="text-sm font-bold text-primary hover:opacity-80 ms-3"> {{trans('blocks.home.display_all')}} </a>
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-{{component.brands|length }} grid-flow-row lg:grid-flow-col gap-4 md:gap-8">
            {% for brand in component.brands %}
                {% if loop.first or loop.index0%3==0 %}
                    <a href="{{ brand.url }}"
                       class="duration-300 hover:shadow-default {{component.brands|length > 4  ? 'sm:row-span-2': '' }} flex justify-center items-center bg-white transition hover:opacity-95 h-40 sm:h-auto bg-cover text-white text-center md:px-20 p-5 rounded-md overflow-hidden relative">
                        <img class="max-h-full" src="{{ brand.logo }}" alt=""/>
                    </a>
                {% else %}

                    <a href="{{ brand.url }}"
                       class="duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
                        <img class="max-h-full" src="{{ brand.logo }}" alt=""/>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
