<section class="s-block s-block--logos-slider bg-gray-bg2 pt-8 sm:pt-12 pb-8 sm:pb-20 mt-8 {{ is_repeated ? 'repeated-block' : 'sm:mt-16' }}">
  <div class="container">

    <div class="flex justify-between mb-6 sm:mb-8">
      <h2 class="font-bold text-lg text-gray-500">
        تصفح من خلال العلامات التجارية
      </h2>
      <div class="flex items-center">
        <a href="#" class="text-sm font-bold text-primary hover:opacity-80 ms-3"> عرض الكل </a>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-flow-row lg:grid-flow-col gap-4 md:gap-8">
      <!-- 2 rows -->
      <a href="#" class="duration-300 hover:shadow-default sm:row-span-2 flex justify-center items-center bg-white transition hover:opacity-95 h-40 sm:h-auto bg-cover text-white text-center md:px-20 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-1.png') }}" alt="" />
      </a>

      <a href="#" class="duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-2.png') }}" alt="" />
      </a>

      <a href="#" class="duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-3.png') }}" alt="" />
      </a>

      <!-- 2 rows -->
      <a href="#" class="duration-300 hover:shadow-default sm:row-span-2 flex justify-center items-center bg-white transition hover:opacity-95 h-40 sm:h-auto bg-cover text-white text-center md:px-20 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-4.png') }}" alt="" />
      </a>

      <a href="#" class="duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-5.png') }}" alt="" />
      </a>

      <a href="#" class="duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-white text-center md:px-10 p-5 rounded-md overflow-hidden relative">
        <img class="max-h-full" src="{{ asset('images/logos/logo-6.png') }}" alt="" />
      </a>
    </div>
  </div>
</section>
