{#
| Variable                      | Type      | Description                                                         | @see  |
|-------------------------------|-----------|---------------------------------------------------------------------|-------|
| items                         | Array     | shared variable in all layout, index.twig, and all components views |       |
| items[].title                 | String    | Section title                                                       |       |
| items[].name                  | String    | Alias for title                                                     |       |
| items[].type                  | String    | category,most_sales,latest_products,chosen_products                 |       |
| items[].featured_product      | Product   |                                                                     | #TODO |
| items[].special_product.id    | string    | Product string id                                                   |       |
| items[].special_product.title | string    | Product Name                                                        |       |
| items[].products[]            | Product[] |                                                                     | #TODO |
| items[].limit                 | Int       | Number of products to be shown                                      |       |
| items[].id                    | String    | Section id                                                          |       |
| is_repeated                   | Bool      | There was another block like this before                            |       |
| is_slider                     | Bool      | Products should be movable or static                                |       |
#}
<section class="s-block s-block--tabsProdutcs bg-gray-bg2 pb-8 sm:pb-16 first-of-type:mt-0 {{ is_repeated?'repeated-block pt-8':'mt-8 sm:mt-16 pt-8 sm:pt-16' }}">
  <div class="container {{ is_slider ? 'px-0 lg:px-5':'' }}" x-data="initTabs()"  x-init="currentTab = 'featured-tab-{{ items[0].id }}'">

      <div class="tabs {{ is_slider ? '':'-mx-5 lg:mx-0' }} text-center pb-6 sm:pb-10 px-5 space-s-1 md:space-s-4 whitespace-nowrap overflow-x-auto hide-scroll">
          {% for section in items %}
              <button @click.prevent="switchTab('featured-tab-{{ section.id }}')"
                      :class="currentTab === 'featured-tab-{{ section.id }}' ? 'btn-primary text-white' : ''"
                      class="cursor-pointer btn-outline-primary btn">{{ section.title }}</button>
          {% endfor %}
      </div>

      <div class="tabs-wrapper">
        {% for section in items %}
            <div x-show="currentTab === 'featured-tab-{{ section.id }}'" id="featured-tab-{{ section.id }}" :class="currentTab === 'featured-tab-{{ section.id }}' ? 'active-tab' : '' " class=" overflow-hidden">
                {% if is_slider %}
                    <div class="swiper product-slider -mx-5 lg:-mx-3.75 lg:w-[calc(100%+30px)] pe-12 sm:pe-16 lg:pe-0 ps-8 lg:ps-0" data-id="featured-tab-{{ section.id }}">
                      <div class="swiper-wrapper flex">
                          {% for product in section.products %}
                              <div class="h-auto swiper-slide featured-item-style2 w-full sm:w-1/2 md:w-4/12 lg:w-1/4 px-2 lg:px-3.75">
                                  {% include 'pages.partials.product.card' %}
                              </div>
                          {% endfor %}
                      </div>
                    </div>
                    <div class="hidden md:block text-center pt-7 space-s-3" dir="rtl">
                        <button class="slider-prev focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                            <i class="text-gray-400 sicon-keyboard_arrow_right"></i>
                        </button>
                        <button class="slider-next focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                            <i class="text-gray-400 sicon-keyboard_arrow_left"></i>
                        </button>
                    </div>
                {% else %}
                  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-4 sm:gap-8">
                    {% for product in section.products %}
                      <div class="featured-item-style2">
                        {% include 'pages.partials.product.card' with {is_horizontal:true, show_desc:true} %}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>

  {# TODO:: move to js file #}
  <script>
      function initTabs() {
          return {
              currentTab: '',
              switchTab : function (tabId) {
                  this.currentTab = tabId

                  setTimeout(() => {
                      window.animateTabsItems(`#${tabId} .featured-item-style2`);
                  },10)
              }
          }
      }
      document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.s-block--tabsProdutcs').forEach( block =>  block.classList.add('tabs-initialized') )

        window.animateTabsItems('#featured-tab-{{ items[0].id }} .featured-item-style2');
      });
  </script>
</section>