{#
| Variable    | Type    | Description                                                      | @see |
|-------------|---------|------------------------------------------------------------------|------|
| url         | String  |                                                                  |      |
| image.url   | String  |                                                                  |      |
| image.alt   | ?String |                                                                  |      |
| position    | Int     | Sorting number start from zero                                   |      |
#}
<section class="s-block s-block--fixed-banner wide-placeholder {{ is_repeated?'repeated-block mt-4 sm:mt-8':'mt-8 sm:mt-16' }}">
	<div class="container">
		<a href="{{ url }}" class="banner banner--fixed" aria-label="Banner {{ image.alt }}">
			<img class="lazy-load w-full object-cover" src="{{asset('images/s-empty.png')}}" data-src="{{ image.url }}" alt="{{ image.alt }}"/>
		</a>
	</div>
</section>
