{#
| Variable          | Type   | Description                                                      | @see |
|-------------------|--------|------------------------------------------------------------------|------|
| title             | String | Section title                                                    |      |
| items[]           | Array  | List of images                                                   |      |
| items[].url       | Bool   | Should set overlay on the background or not                      |      |
| items[].link_type | String | category,product,offers,page,external_link,brand                 |      |
| items[].image.url | String |                                                                  |      |
| items[].image.alt | String |                                                                  |      |
| items[].text      | String | Visible title for the photo                                      |      |
| position          | Int    | Sorting number start from zero                                   |      |
#}
<section class="s-block s-block--banners container {{ is_repeated?'repeated-block mt-4 sm:mt-8':'mt-8 sm:mt-16' }}">
    <div class="grid grid-cols-2 md:grid-cols-3 grid-flow-row gap-3 sm:gap-8">
        <div class="col-span-2 sm:col-span-1 sm:row-span-2 bg-warmGray-200 transition-opacity hover:opacity-95 bg-cover h-lg-banner text-white text-center p-5 rounded-md overflow-hidden relative lazy-background" data-src="{{ items[0].image.url }}">
            <a href="{{ items[0].url }}"
               class="flex flex-col justify-center  h-full p-11 relative z-20 xs:border border-dashed border-border-color rounded-md">

                {% if items[0].text %}
                    <h3 class="text-2xl font-bold leading-12 mb-5">{{ items[0].text }}</h3>
                {% endif %}
                {# <p>تصميم مريح لبصمة اليد، استجابة بالاهتزاز Dualshock، تجربة لعب سهلة وممتعة</p> #}
            </a>
            <div class="overlay h-full w-full bg-black opacity-60 absolute top-0 left-0 z-10"></div>
        </div>

        {% for item in items|slice(1) %}
            <div class="banner relative p-2 xs:p-4 overflow-hidden transition-opacity hover:opacity-95 text-white text-center  bg-warmGray-200  rounded-md h-banner bg-cover lazy-background" data-src="{{ item.image.url }}">
                <!-- <a href="#" class="overlay h-full w-full bg-gray-500 opacity-20 absolute top-0 left-0 z-10"></a> -->

                <a href="{{ item.url }}"
                   class="bannerــtext flex md:opacity-0 hover:opacity-100 transition-opacity duration-500 flex-col justify-center  h-full p-0 xs:p-6 relative z-20 xs:border border-dashed border-border-color rounded-md"
                   {% if item.link_type == 'external_link' %}target="_blank"{% endif %}>
                    {% if item.text %}
                        <h3 class="banner__title text-md font-bold  mb-1 leading-6">{{ item.text }}</h3>
                    {% endif %}
                    {# <p class="banner__description">تصميم Dualshock، تجربة لعب سهلة وممتعة</p> #}
                </a>
                <div class="overlay h-full w-full bg-black opacity-60 absolute top-0 left-0 z-10"></div>
            </div>
        {% endfor %}

    </div>
</section>