{% extends "layouts.master" %}
{% block styles %}
    {# TODO:: Move To file #}
    <style>
        .cart-items-count span:after {
            content: ' x ';
        }
    </style>
{% endblock %}
{% block content %}
    <main id="main">
        <div class="container px-3 xs:px-5">
            <nav class="w-full py-5">
                {% component 'header.breadcrumbs' %}
            </nav>
            <div class="flex flex-col items-start lg:flex-row pb-6 lg:pb-20">
                <div class="main-content flex-1 w-full">
                    {% for item in items %}
                        {% include 'pages.temp_cart_item' with {moreFields:item.has_options} %}
                    {% else %}
                        <div class="h-full content-placeholder content-placeholder--cart text-gray-400 pt-36 pb-20 flex items-center flex-col justify-center">
                        <span class="rounded-icon w-36 h-36 bg-gray-bg mb-6">
                            <i class="sicon-shopping-bag text-6xl block text-reverse-dark"></i>
                        </span>
                            <p class="text-sm mb-5">{{ trans('pages.cart.empty_cart') }}</p>
                            <a href="{{ link('/') }}"
                               class="btn btn-outline-primary">{{ trans('common.elements.back_home') }}</a>
                        </div>
                    {% endfor %}
                </div>
                <!-- sidebar -->
                {% if items|length %}
                    <div x-data="initCart('{{ cart.coupon }}')" x-cloak class="sticky -top-24 w-full lg:w-96  lg:ms-8">
                        {% component 'free-shipping' %}
                        <div
                                class="shadow-default bg-white p-5 xs:p-7 rounded-md mb-5 relative transition-height duration-1000">
                            <h4 class="font-bold text-sm mb-5">{{ trans('pages.cart.summary') }}</h4>
                            <div class="flex justify-between text-sm mb-5">
                                <span class="text-gray-400 cart-items-count">{{ pluralize("blocks.header.products_count", items|length|number)|raw }}</span>
                                <b>{{ cart.sub_total|money }}</b>
                            </div>
                            <div class="flex justify-between text-sm mb-5 shipping {{ cart.has_shipping_cost?'':'hidden' }}">
                                <span class="text-gray-400">{{ trans('pages.cart.shipping_cost') }}</span>
                                <b>{{ cart.real_shipping_cost|money }}</b>
                            </div>

                            {% if store.settings.cart.apply_coupon_enabled %}
                                <div class="border-t border-border-color border-b py-5 mb-5">
                                    <label for="copounCode"
                                           class="block text-sm ">{{ trans('pages.cart.have_coupon') }}</label>
                                    <div class="mt-2.5 relative">
                                        <input type="text" @keyup="isShowCopounError = false" @keyup.enter="addCopoun()"
                                               placeholder="{{ trans('pages.cart.coupon_placeholder') }}"
                                               x-model="copounCode" id="copounCode" name="copoun-code"
                                               :class="{'has-error': isShowCopounError}" class="pe-24 form-input"
                                               :disabled="isShowCopounDiscount">
                                        <button @click="addCopoun();" type="button"
                                                class="copoun-btn absolute rounded-s-none rounded-e-md flex-shrink-0 btn"
                                                :class="isShowCopounDiscount ? 'btn-danger' : 'btn-default'">
                                            <span x-show="!isShowCopounDiscount">{{ trans('pages.cart.save_coupon') }}</span>
                                            <i x-show="isShowCopounDiscount" class="sicon-cancel text-xl w-8"></i>
                                        </button>
                                    </div>
                                    <!-- error msg -->
                                    <span x-show="isShowCopounError" class="text-xs text-red-700" id="validationHelp">مثال لرسالة
                            الخطأ.</span>
                                </div>
                            {% endif %}

                            <!-- copoun discount -->
                            <div x-show="{{ cart.has_discount?"true":"false" }}"
                                 x-transition:enter="transition-height ease-out duration-300"
                                 x-transition:enter-start="opacity-0 transfor h-0"
                                 x-transition:enter-end="opacity-100 transform h-10"
                                 x-transition:leave="transition-height ease-in duration-300"
                                 x-transition:leave-start="opacity-100 transform h-10"
                                 x-transition:leave-end="opacity-0 transform h-0" class="flex justify-between text-sm">
                                <span class="text-gray-400 block  h-10">{{ trans('pages.cart.discount') }}</span>
                                <b>- {{ cart.real_discount|money }}</b>
                            </div>

                            <div class="flex justify-between text-sm mb-5">
                                <span class="text-gray-400">{{ trans('pages.cart.final_total') }}</span>
                                <b>{{ cart.total|money }}</b>
                            </div>
                            {% if store.settings.tax.taxable_prices_enabled %}
                                <div class="flex justify-between text-sm mb-5">
                                    <small class="text-gray-400">
                                        * {{ trans('pages.cart.prices_taxed') }}
                                    </small>
                                </div>
                            {% endif %}
                            <button class="w-full btn btn-primary" data-function="hasApplePay"
                                    data-on-click="cart-submit">
                                {{ trans('pages.cart.complete_order') }}
                            </button>
                        </div>
                    </div>

                    <div class="fixed md:hidden space-s-2 flex justify-center items-center bottom-0 start-0 rounded-t-large py-5 px-5 w-full text-center bg-white shadow-top z-50">
                        <span class="text-gray-400">{{ trans('pages.cart.final_total') }}:</span>
                        <b>{{ cart.total|money }}</b>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        let cartItemsCount ={{ items|length }};
    </script>
    <script src="{{ asset('dist/cart.js') }}"></script>
{% endblock %}
