{% extends "layouts.master" %}
{% block content %}
	<section class="page-wrapper page--cart">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 col-md-12">
					<div class="cart-progress d-flex justify-content-between align-items-center">
						<div class="step step-1 is-active">
							<span class="step__icon">
								<i class="sicon-cart"></i>
								<span class="badge badge--small badge--circular badge--danger quantity" id="cart-items-count-badge">{{ items|length }}</span>
							</span>
							<div class="step__title">
								<h3 class="title">{{ trans('common.titles.cart') }}</h3>
								<span class="font-sm color-muted">{{ trans('pages.cart.step_one') }}</span>
							</div>
						</div>
						<div class="step step-2">
							<span class="step__icon">
								<i class="sicon-full-wallet"></i>
							</span>
							<div class="step__title">
								<h3 class="title">{{ trans('pages.cart.complete_order') }}</h3>
								<span class="font-sm color-muted">{{ trans('pages.cart.step_two') }}</span>
							</div>
						</div>
					</div>
					<div class="b-radius padded-30 bg-grey cart-elements-wrapper">
						{% if items is not empty %}
							<ul class="list list--table borderless cart-details">
								<li class="list--table__head bg-white b-radius">
									<div>
										<span>{{ trans('pages.cart.item') }}</span>
									</div>
									<div>
										<span>
											{{ trans('pages.products.price') }}
										</span>
										<span>
											{{ trans('pages.products.quantity') }}
										</span>
										<span class="text-left">
											{{ trans('pages.cart.total') }}
										</span>
										<span class="delete-item"></span>
									</div>
								</li>
								{% for item in items %}
									{% set key_prefix=item.id %}
									<li class="cart-product-entry padded-10 bg-white b-radius mb-30" id="item-{{ item.id }}">
										<div class="wide form" salla-form-data data-on-change="cart-update-item">
											<input type="hidden" name="id" value="{{ item.id }}">
											<div class="product-block product-block--inline">
												<div class="product-block__thumb center">
													<a class="d-flex" href="{{ item.url }}">
														<span class="avatar-wrapper avatar-wrapper--bordered avatar-wrapper--circular avatar-wrapper--small {% if not item.product.image.url %}placeholder{% endif %}">
															<img class="lazy-load" data-src="{{ item.product_image ? item.product_image : asset('images/img_loader.png') }}" alt="{{ item.product_name }}">
														</span>
														<span>
															<h6 class="title title--small">{{ item.product_name }}</h6>
														</span>
													</a>
												</div>
												<div class="product-block__info">
													<span class="{{ item.is_donation?'cart-item-total':'' }} cart-item-price" data-title="{{ trans('pages.products.price') }}">
														{{ item.product_price_formatted }}
													</span>
													{% if item.is_donation %}
														<span data-title="{{ trans('pages.products.quantity') }}">
															--
														</span>
													{% elseif item.hide_quantity or not item.is_available %}
														<span data-title="{{ trans('pages.products.quantity') }}">
															<input type="hidden" value="{{ item.quantity }}" name="quantity"/>
															<span>{{ item.quantity }}</span>
														</span>
													{% else %}
														<span data-title="{{ trans('pages.products.quantity') }}">
															<div class="qty qty--small" data-on-keyup="cart-update-item">
																<button type="button" data-on-click="cart-update-item" data-qty="add">
																	<i class="sicon-add"></i>
																</button>
																<input data-max_quantity="{{ product.max_quantity }}" max="{{ product.max_quantity }}" value="{{ item.quantity }}" data-quantity="{{ item.quantity }}" data-digits="1" name="quantity" type="text" id="qty-{{ item.id }}" min="1"/>
																<button type="button" data-on-click="cart-update-item" data-qty="sub">
																	<i class="sicon-minus"></i>
																</button>
															</div>
														</span>
													{% endif %}
													<span class="font-bold text-left cart-item-total" data-title="{{ trans('pages.cart.total') }}">
														{% if item.is_available %}
															{{ item.total_product_price_formatted }}
														{% else %}
															{{ trans('pages.cart.out_of_stock') }}
														{% endif %}
													</span>
													<span class="delete-entry">
														<button class="btn btn--circular btn--delete-item" data-on-click="cart-delete-item" data-delete-item="item-{{ item.id }}">
															<i class="sicon-cancel"></i>
														</button>
													</span>
												</div>
											</div>
											{% if item.has_options %}
												<div class="cart-product-entry__options">
													{% include 'pages.partials.product.fields' with {product:item} %}
												</div>
											{% endif %}
										</div>
									</li>
								{% endfor %}
								<!-- Cart subtotal -->
								<li class="total padded-20 bg-white b-radius {{ store.settings.product.store.settings.tax.is_included?'mb-5':'mb-30' }}">
									<div class="wide no-p summary">
										{% if store.settings.cart.can_apply_coupon %}
											<form class="form form--coupon {{ cart.coupon ? 'coupon-applied' : '' }}">
												<div class="form-group">
													<input type="hidden" name="cart_id" value="{{ cart.id }}" />
													<input placeholder="{{ trans('pages.cart.coupon_placeholder') }}" class="form-control coupone-code__input" id="coupone-input" name="coupon" type="text" value="{{ cart.coupon }}"/>
													<button class="coupone-code__submit btn btn--rounded btn--padded less btn--primary" id="btn-add-coupon" data-on-click="coupon-add">
														{{ trans('pages.cart.save_coupon') }}
													</button>
													<button class="coupone-code__submit btn btn--rounded btn--padded less btn--primary" id="btn-remove-coupon" data-on-click="coupon-remove">
														<i class="sicon-cancel d-block ty-1u"></i>
													</button>
												</div>
											</form>
										{% endif %}
									</div>
								</li>
								{% if store.settings.product.store.settings.tax.is_included %}
									<li class="hints bg-hover-none mb-30">
										<small class="d-block font-xsm color-muted mt-10">
											* {{ trans('pages.cart.prices_taxed') }}
										</small>
									</li>
								{% endif %}
							</ul>
							<button class="btn btn--wide btn--large btn--oval btn--primary btn--proceed next" data-function="hasApplePay" data-on-click="cart-submit">
								{{ trans('pages.cart.complete_order') }}
							</button>
						{% else %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
