{#
| Variable                                          | Type                | Description                                                    |
|---------------------------------------------------|---------------------|----------------------------------------------------------------|
| page                                              | object              |                                                                |
| page.title                                        | string              |                                                                |
| page.slug                                         | string              |                                                                |
| is_cart                                           | bool                | `true`: shared variable for all views                          |
| cart                                              | Cart                |                                                                |
| cart.id                                           | string              | Unique string for current cart                                 |
| cart.is_require_shipping                          | bool                | Does one of cart items require shipping?                       |
| cart.has_shipping                                 | bool                | Does shipping company selected?                                |
| cart.real_shipping_cost                           | float               | Shipping cost can become free by an offer, coupon              |
| cart.real_discount                                | float               | real discount considering tax (this for show only)             |
| cart.sub_total                                    | float               | The sum of items price without shipping or other costs         |
| cart.discount                                     | float               | final discount                                                 |
| cart.coupon                                       | ?string             |                                                                |
| cart.total                                        | float               |                                                                |
| cart.free_shipping_bar                            | ?object             |                                                                |
| cart.free_shipping_bar.minimum_amount             | float               | how much cart total should be to apply free shipping ex: 1000  |
| cart.free_shipping_bar.total_until_free_total     | string              | ex: "٨٣٠ ر.س"                                                  |
| cart.free_shipping_bar.has_free_shipping          | bool                | true when `cart.free_shipping_bar.percent==100`                |
| cart.free_shipping_bar.percent                    | float               | `0 - 100`                                                      |
| cart.free_shipping_bar.currency                   | string              | ex: "ر.س"                                                      |
| cart.free_shipping_bar.remaining                  | float               | `830`                                                          |
| cart.free_shipping_bar.remaining_to_free_shipping | money               | same as `cart.free_shipping_bar.remaining` but as money object |
| cart.items                                        | CartItem[]          |                                                                |
| cart.items[].id                                   | int                 |                                                                |
| cart.items[].is_hidden_quantity                   | bool                |                                                                |
| cart.items[].url                                  | string              | Product url                                                    |
| cart.items[].quantity                             | int                 |                                                                |
| cart.items[].type                                 | string              | product type                                                   |
| cart.items[].product_price                        | MoneyTaxable        |                                                                |
| cart.items[].price                                | Money\|MoneyTaxable |                                                                |
| cart.items[].total                                | Money               |                                                                |
| cart.items[].product_id                           | int                 |                                                                |
| cart.items[].notes                                | string              |                                                                |
| cart.items[].can_add_note                         | bool                |                                                                |
| cart.items[].can_upload_file                      | bool                |                                                                |
| cart.items[].is_available                         | bool                |                                                                |
| cart.items[].is_donation                          | bool                |                                                                |
| cart.items[].can_donate                           | bool                |                                                                |
| cart.items[].offer                                | ?object             |                                                                |
| cart.items[].offer.discount                       | float               |                                                                |
| cart.items[].offer.is_free                        | bool                |                                                                |
| cart.items[].offer.names                          | ?string             | ex: `Buy 3 and the 4th on us, National Day`                    |
| cart.items[].offer.price_after_discount           | float               |                                                                |
| cart.items[].donation                             | ?object             |                                                                |
| cart.items[].attachments                          | ?array              |                                                                |
| cart.items[].attachments[].id                     | int                 | image id, to be attache with the formData                      |
| cart.items[].attachments[].url                    | string              | image url                                                      |
| cart.items[].attachments[].product_id             | int                 |                                                                |
| cart.items[].attachments[].item_id                | int                 |                                                                |
| cart.items[].attachments[].name                   | int                 | image file name                                                |
#}
{% extends "layouts.master" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('dist/flatpickr.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/filepond.css') }}">
{% endblock %}
{% block content %}
    <div class="container px-3 xs:px-5">
        <nav class="w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>
        <div class="flex flex-col items-start lg:flex-row pb-6 lg:pb-20">
            <div class="main-content flex-1 w-full">
                {% for item in cart.items %}
                    {# todo:: jamal lets talk about it in zoom #}
                    {% set key_prefix=item.id %}
                    
                    {# @see verifyDataBeforeSend in assets/js/partials/product-options.js #}
                    {# data-id used in @see initiateCartItems in assets/js/cart.js #}
                    <section class="cart-item bg-white overflow-hidden p-5 xs:p-7 rounded-md mb-5 relative"
                             data-filter-before-submit="verifyDataBeforeSend"
                             data-on-change="cart::update.item"
                             data-id="{{ item.id }}"
                             id="item-{{ item.id }}"
                             salla-form-data>
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <!-- product -->
                        <div class="md:flex md:space-s-12 items-center justify-between mb-8">
                            <div class="flex flex-1 space-s-4">
                                <a href="{{ item.url }}" class="flex-shrink-0">
                                    <img src="{{ asset('images/s-empty.png') }}" data-src="{{ item.product_image }}" alt="{{ item.product_name }}" class="lazy-load flex-none w-24 h-20 border border-border-color bg-gray-100 rounded-md object-center object-cover">
                                </a>
                                <div class=" space-y-1">
                                    <h3 class="text-gray-900 leading-6">
                                        <a href="{{ item.url }}" class="text-base">{{ item.product_name }}</a>
                                    </h3>
                                    <span class="text-sm text-gray-400 line-through product-price {{ item.offer?'':'hidden' }}">{{ item.product_price|money }}</span>
                                    <span class="item-price {{ item.offer?'text-theme-red':'text-sm text-gray-400' }}">{{ item.price|money }}</span>
                                    <i class="sicon-discount-calculator text-gray-400 offer-icon {{ item.offer?'':'hidden' }}"></i>
                                    <span class="text-sm text-gray-400 offer-name {{ item.offer?'':'hidden' }}">{{ item.offer.names }}</span>
                                </div>
                            </div>

                            <div class="flex-1 border-t border-b border-border-color py-3 md:p-0 md:border-none mt-5 md:mt-1 center-between ">
                                <div class="flex items-stretch h-10 border rounded-md text-sm transtion transition-color duration-300">
                                    {% if item.is_donation %}
                                        <span></span>
                                    {% elseif item.is_hidden_quantity %}
                                        <input type="hidden" value="{{ item.quantity }}" name="quantity"/>
                                        <span class="w-10 py-2.5 text-center">{{ item.quantity }}</span>
                                    {% else %}
                                        <button class="add-qty btn--quantity sicon-add" type="button"></button>
                                        <input class="item-quantity focus:outline-none focus:ring-transparent shadow-none border-t-0 border-b-0 border focus:border-border-color border-border-color font-bold px-2 text-center w-12"
                                                data-max_quantity="{{ product.max_quantity }}"
                                                data-quantity="{{ item.quantity }}"
                                                max="{{ product.max_quantity }}"
                                                value="{{ item.quantity }}"
                                                id="qty-{{ item.id }}"
                                                data-digits="1"
                                                name="quantity"
                                                min="1">
                                        <button class="sub-qty btn--quantity sicon-minus" type="button"></button>
                                    {% endif %}
                                </div>

                                <p class="text-primary flex-none font-bold text-sm">
                                    <span>{{ trans('pages.cart.total') }}:</span>
                                    <span class="inline-block item-total">{{ item.is_available?item.total|money: trans('pages.cart.out_of_stock') }}</span>
                                </p>
                            </div>
                        </div>

                        <form>{% include 'pages.partials.product.options' with {product:item} %}</form>

                        {# todo:: use salla-button #}
                        <button class="btn--has-loading btn--delete bg-red-400 hover:bg-red-500 transition-colors rounded-full text-white w-6 h-6 text-sm flex items-center justify-center absolute top-1.5 end-1.5 xs:top-5 xs:end-5">
                            <i class="sicon-cancel icon"></i>
                            <span style="display: none"
                                  class="absolute spinner-loader reverse w-4 h-4 animate-spin border-2 border-white rounded-full"></span>
                        </button>
                    </section>

                {% else %}
                    <div class="no-content-placeholder">
                        <i class="sicon-shopping-bag icon"></i>
                        <p>{{ trans('pages.cart.empty_cart') }}</p>
                        <a href="{{ link('/') }}" class="btn btn--outline-primary btn--rounded-full">{{ trans('common.elements.back_home') }}</a>
                    </div>
                {% endfor %}
            </div>
            <!-- sidebar -->
            {% if cart.items|length %}
                <div class="sticky top-24 w-full lg:w-96  lg:ms-8">
                    <div class="shadow-default bg-white p-5 xs:p-7 pb-12 rounded-md mb-5 relative {{ cart.free_shipping_bar?'':'hidden' }}"
                         id="free-shipping">
                        <div class="flex space-s-3 items-center">
                            <i class="bg-primary text-white rounded-icon sicon-shipping-fast {{theme.is_rtl ? 'flip-x':''}}"></i>
                            {% set is_free=cart.free_shipping_bar.percent==100 %}
                            <div class="flex-1">
                                <h4 class="shipping-item font-bold text-sm mb-1.5">{{ trans('pages.cart.free_shipping') }}</h4>
                                <p class="shipping-item text-sm font- text-gray-400">
                                        <span id="free-shipping-msg">{{ (is_free
                                            ?trans('pages.cart.has_free_shipping')
                                            :trans('pages.cart.free_shipping_alert', {'amount': cart.free_shipping_bar.remaining|money}))
                                            | raw }}</span>
                                    <span class="emoji {{ is_free?'':'hidden' }}" id="free-shipping-applied">🎉</span>
                                </p>
                            </div>
                        </div>
                        <div class="mt-6 bg-border-color rounded-full {{ is_free?' hidden':'' }}"
                             id="free-shipping-bar">
                            <div class="progress-bg transition-all duration-500 h-4 bg-primary relative rounded-full flex justify-end"
                                 style="width:{{ cart.free_shipping_bar.percent }}%">
                                <i class="inline-block sicon-shipping-fast text-sm absolute -bottom-5 -end-0 {{theme.is_rtl ? 'flip-x':''}}"></i>
                            </div>
                        </div>
                    </div>

                    <div class="shadow-default bg-white p-5 xs:p-7 rounded-md mb-5 relative transition-height duration-1000">
                        <h4 class="font-bold text-sm mb-5">{{ trans('pages.cart.summary') }}</h4>

                        <div class="flex justify-between text-sm mb-5">
                            <span class="text-gray-400">{{ trans("pages.cart.items_total") }}</span>
                            <b id="sub-total">{{ cart.sub_total|money }}</b>
                        </div>

                        <div id="shipping-cost"
                             class="flex justify-between text-sm mb-5 {{ cart.has_shipping?'':'hidden' }}">
                            <span class="text-gray-400">{{ trans('pages.cart.shipping_cost') }}</span>
                            <b>{{ cart.real_shipping_cost|money }}</b>
                        </div>

                        {% if store.settings.cart.apply_coupon_enabled %}
                            <div class="border-t border-border-color border-b py-5 mb-5">
                                <label for="coupon"
                                       class="block text-sm ">{{ trans('pages.cart.have_coupon') }}</label>
                                <div class="mt-2.5 relative">
                                    <input placeholder="{{ trans('pages.cart.coupon_placeholder') }}" class="pe-24 form-input" value="{{ cart.coupon }}" id="coupon" name="coupon" type="text">

                                    <salla-button loader-position="center" id="btn-add-coupon" kind="danger" class="btn--coupon {{ cart.coupon?'has-coupon':'' }}">
                                      <span class="coupon-text">{{ trans('pages.cart.save_coupon') }}</span>
                                      <i class="sicon-cancel icon text-xl w-8"></i>
                                    </salla-button>
                                </div>
                                <span class="text-xs text-red-700" id="coupon-error"></span>
                            </div>
                        {% endif %}

                        <!-- coupon discount -->
                        <div id="total-discount" class="flex justify-between text-sm {{ cart.discount?'':'hidden' }}">
                            <span class="text-gray-400 block  h-10">{{ trans('pages.cart.discount') }}</span>
                            <b>- {{ cart.real_discount|money }}</b>
                        </div>

                        <div class="flex justify-between text-sm mb-5">
                            <span class="text-gray-400">{{ trans('pages.cart.final_total') }}</span>
                            <b data-cart-total>{{ cart.total|money }}</b>
                        </div>

                        {% if store.settings.tax.taxable_prices_enabled %}
                            <div class="flex justify-between text-sm mb-5">
                                <small class="text-gray-400">
                                    * {{ trans('pages.cart.prices_taxed') }}
                                </small>
                            </div>
                        {% endif %}

                        {# todo:: use salla-button #}
                        <button class="w-full btn btn--primary" id="btn-submit" data-on-click="cart::submit">
                            {{ trans('pages.cart.complete_order') }}
                        </button>
                    </div>
                </div>

                <div class="fixed md:hidden space-s-2 flex-center bottom-0 start-0 rounded-t-large py-5 px-5 w-full text-center bg-white shadow-top z-50">
                    <span class="text-gray-400">{{ trans('pages.cart.final_total') }}:</span>
                    <b>{{ cart.total|money }}</b>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ asset('dist/filepond.js') }}"></script>
    <script src="{{ asset('dist/checkout.js') }}"></script>
{% endblock %}
