{#
| Variable                  | Type                                                                      | Description  | @see |
|---------------------------|---------------------------------------------------------------------------|--------------|------|
| product                   | Product                                                                   |              | TODO |
| product.id                | Integer                                                                   |              |      |
| product.product_id        | Integer                                                                   | Alias For id |      |
| product.name              | String                                                                    |              |      |
| product.description       | String *HTML                                                              |              |      |
| product.url               | String                                                                    |              |      |
| product.promotion_title   | String                                                                    |              |      |
| product.subtitle          | Float                                                                     |              |      |
| product.type              | String "product, service, group_products, codes, digital, food, donating" |              |      |
| product.status            | String "sale, out"                                                        |              |      |
| product.rating            | Integer                                                                   |              |      |
| product.price             | Float                                                                     |              |      |
| product.sale_price        | ?Float                                                                    |              |      |
| product.regular_price     | ?Float                                                                    |              |      |
| product.starting_price    | ?Float                                                                    |              |      |
| product.quantity          | Integer                                                                   |              |      |
| product.sold_quantity     | Integer                                                                   |              |      |
| product.max_quantity      | Integer                                                                   |              |      |
| product.discount_ends     | ?Date *Carbon                                                             |              |      |
| product.image             | Array .url, .alt                                                          |              |      |
| product.images            | Array[] .id, .url, .alt, .video_url, .type                                |              |      |
| product.brand             | Array .url, .name, .logo                                                  |              |      |
| product.comments          | Feedback[] *Paginator                                                     |              |      |
| product.tags              | Tags[] *Collection                                                        |              | TODO |
| product.options           | ProductOptions[] *Collection                                              |              | TODO |
| product.show_read_more    | Bool                                                                      |              |      |
| product.can_add_note      | Bool                                                                      |              |      |
| product.can_show_remained | Bool                                                                      |              |      |
| product.can_show_sold     | Bool                                                                      |              |      |
| product.can_upload_file   | Bool                                                                      |              |      |
| product.hide_zero_price   | Bool                                                                      |              | TODO |
| product.has_options       | Bool                                                                      |              |      |
| product.has_discount      | Bool                                                                      |              |      |
| product.hide_zero_price   | Bool                                                                      |              |      |
| product.hide_quantity     | Bool                                                                      |              |      |
| product.hide_zero_price   | Bool                                                                      |              |      |
| product.is_available      | Bool                                                                      |              |      |
| product.is_donation       | Bool                                                                      |              |      |
| in_wishlist               | Bool                                                                      |              |      |
#}
{% extends "layouts.master" %}
{% block content %}
    <main id="main"
          x-data="initProductDetails({{ product.id }}, {{ in_wishlist?1:0 }}, {{ product.show_read_more?1:0 }})"
          x-cloak data-product-id="{{ product.id }}">
        <div class="container">
            {% component 'header.breadcrumbs' %}
            <div class="flex flex-col items-start md:flex-row" id="product_{{ product.id }}">

                <div class="sidebar md:sticky top-24 w-full md:w-2/4  me-8 pb-16">

                    <div class="swiper relative my-gallery details-slider rounded-md mb-2.5">
                        {% if(product.promotion_title) %}
                            <div class="absolute z-10 top-4 start-0">
                                <div class="font-bold px-3 py-2 text-sm bg-red-400 text-white rounded-e-md">{{ product.promotion_title }}</div>
                            </div>
                        {% endif %}
                        <div class="swiper-wrapper">
                            {% for image in product.images %}
                                <a data-fslightbox="product_{{ product.id }}"
                                   data-img-id="{{ image.id }}"
                                   data-slid-index="{{ loop.index-1 }}"{% if image.video_url %} data-video-src="{{ image.video_url }}"{% endif %}
                                   data-caption="{{ image.alt }}"
                                   data-infinite="false"
                                   data-type="{{ image.video_url?'youtube':'image' }}"
                                   href="{{ image.video_url?image.video_url:image.url }}"
                                   aria-label="{{ product.name }}"
                                   class="swiper-slide h-500 homeslider__slide relative {{ image.video_url?'video-entry':'' }}">
                                    <img data-src="{{ image.url }}" alt="{{ image.alt }}"
                                         class="h-full object-cover lazy-load w-full">
                                </a>
                            {% endfor %}
                        </div>

                        <div class="w-10 h-10 shadow-sm bg-white text-primary text-lg swiper-button-prev rounded-full"></div>
                        <div class="w-10 h-10 shadow-sm bg-white swiper-button-next rounded-full"></div>
                    </div>

                    {% if product.images|length>1 %}
                        <div thumbsSlider="" class="swiper thumbs-slider">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide {{ image.video_url?'video-entry':'' }} rounded-md overflow-hidden cursor-pointer h-36">
                                        <img data-src="{{ image.url }}" class="object-cover w-full h-full lazy-load"
                                             title="{{ image.alt }}"
                                             alt="{{ image.alt }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="main-content flex-1 pb-20">
                    {% component 'product.brand' with {product: product} %}

                    <div class="flex">
                        <h1 class="text-3xl font-bold mb-5 w-5/6 text-title-color">{{ product.name }}</h1>
                        {% if product.rating %}
                            <div class="mt-5">
                                <div class="text-sm">
                                    <i class="sicon-star2 text-theme-yellow"></i>
                                    <span>{{ product.rating }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if product.subtitle %}
                        <h3 class="product-entry__sub-title  text-sm text-gray-400 leading-6 mb-2.5">
                            {{ product.subtitle }}
                        </h3>
                    {% endif %}

                    <div class="mb-2">
                        <div class="space-s-1">
                            {% if product.on_sale %}
                                <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price }}</h4>
                                <span class="text-sm text-gray-400 line-through">{{ product.regular_price }}</span>
                            {% else %}
                                <span>{{ product.price }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="product__description leading-7 mb-6">
                        {% if product.show_read_more %}
                            <p class="pb-1">{{ product.description|raw }}</p>
                            <div class="relative overflow-hidden transition-all max-h-0 duration-300" id="moreContent"
                                 x-bind:style="showReadMore  ?'':'max-height: ' + document.getElementById('moreContent').scrollHeight + 'px'">
                                <p>
                                    {{ product.description|raw }}
                                </p>
                            </div>
                            <div x-show="showReadMore" class="mt-2">
                                <a href="#" @click="showReadMore = !showReadMore" data-linkText="show more"
                                   class="show-more text-primary"
                                   x-text="showReadMore ? '{{ trans('pages.products.read_more') }}':'' "></a>
                            </div>
                        {% else %}
                            <p class="pb-1">{{ product.description|raw }}</p>
                        {% endif %}
                    </div>

                    <div class="flex mb-7 space-s-3 ">
                        <div class="share-wrapper relative" @click.away="showShareMenu = false">
                            <button type="button" @click="toggleShareMenu()"
                                    class="btn--share shadow-md hover:shadow-default transition-shadow bg-white text-primary rounded-full w-10 h-10 focus:outline-none"
                                    aria-label="Share">
                                <i :class="showShareMenu ? 'sicon-cancel' :'sicon-share-alt'"></i>
                            </button>
                            <ul class="absolute h-0 overflow-hidden opacity-0 top-12 share-btns-list bg-white flex items-center flex-col shadow-huge rounded-3xl a2a_kit share"
                                :class="showShareMenu? 'h-auto' : 'h-0 opacity-0' ">
                                <li>
                                    <a class="a2a_button_whatsapp block p-2.5" aria-label="Share Via Whatsapp">
                                        <i class="sicon-whatsapp"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="a2a_button_facebook block p-2.5 hover:text-primary"
                                       aria-label="Share Via Facebook">
                                        <i class="sicon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="a2a_button_twitter block p-2.5 hover:text-primary"
                                       aria-label="Share Via Twitter">
                                        <i class="sicon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="a2a_button_email block p-2.5 hover:text-primary"
                                       aria-label="Share Via Email">
                                        <i class="sicon-mail"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="a2a_button_copy_link block p-2.5 hover:text-primary"
                                       aria-label="Copy Product Link">
                                        <i class="sicon-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                var a2a_config = a2a_config || {};
                                a2a_config.linkurl = "{{ product.url }}";
                                a2a_config.locale = "{{ language.code }}";
                            </script>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                        </div>

                        <button
                                {% if user %}
                                    @click="toggleFavorite()"
                                {% else %}
                                    onClick="salla.error('{{ trans('common.messages.must_login') }}')"
                                {% endif %}
                                :class="inFavorite? 'text-white bg-primary' : 'bg-white text-theme-red'"
                                class="anime-favorite shadow-md hover:shadow-default transition-shadow  rounded-full w-10 h-10 focus:outline-none">
                            <i :class="inFavorite ? 'sicon-heart-off' : 'sicon-heart'"></i>
                        </button>
                    </div>

                    {% component 'product.tags' with {product: product} %}

                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mb-5">
                        {% hook 'product:after-description' %}
                    </div>

                    <form class="form form--product-optins product-details__options ajax"
                          data-filter-before-submit="append_image"
                          data-on-change="product-price"
                          enctype="multipart/form-data"
                          action="{{ link('cart/item/%s/add'|format(product.id)) }}"
                          data-on-success="itemAdded"
                          data-on-fail="itemFailedTobeAdded"
                    >
                        <input type="hidden" name="id" value="{{ product.id }}">

                        {% include 'pages.partials.product.fields' %}

                        {# is_donation must be here #}
                        {% if not product.is_donation %}
                            {# <div class="product-section product-section--has-label product-section--totals">
                                <div>
                                    <label>{{ trans('pages.products.price') }}</label>
                                </div>
                                <div class="text-left">
                                    <div class="price-wrapper price-wrapper--large">
                                        {% if product.on_sale %}
                                            <span class="color-danger">{{ product.sale_price }}</span>
                                            <small>{{ product.regular_price }}</small>
                                        {% else %}
                                            <span>
                                                         {% if product.showPriceAsDash() %}
                                                             —
                                                         {% elseif ((not hideStartingPric or not hideStartingPrice)
                                                             and product.price_start_enabled) %}
                                                             يبدأ من
                                                             {{ product.starting_price }}
                                                         {% else %}
                                                             {{ product.regular_price }}
                                                         {% endif %}
                                                    </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div> #}
                        {% endif %}

                        <section class="bg-white p-5 rounded-md mb-5">

                            {% if product.hide_quantity or not product.is_available %}
                                <input type="hidden" value="1" name="quantity"/>
                            {% else %}
                                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start mb-5">
                                    <label class="form-label">
                                        <b class="block">
                                            الكمية
                                        </b>
                                    </label>
                                    <div x-data="{itemQty: 1}" class="mt-1 sm:mt-0 sm:col-span-2 flex justify-end ">
                                        <div class="flex items-center h-10 py-2 border border-border-color rounded-md text-sm">
                                            <button type="button" @click="itemQty += 1"
                                                    class="text-gray-400 w-11 pe-0.5 focus:outline-none hover:text-primary transition-colors duration-300">
                                                <i class="sicon-add"></i></button>
                                            <input id="product-quantity"
                                                   x-model="itemQty"
                                                   data-digits="1"
                                                   name="quantity"
                                                   type="number"
                                                   max="{{ product.max_quantity }}"
                                                   data-max_quantity="{{ product.max_quantity }}"
                                                   value="1"
                                                   class="focus:outline-none focus:ring-transparent shadow-none h-6 border-t-0 border-b-0 border focus:border-border-color border-border-color font-bold px-2 text-center w-12 "
                                                   data-on-keyup="product-price"
                                                   aria-label="Product Quantity"
                                                   min="1"/>

                                            <button type="button" @click="if(itemQty > 1 ) {itemQty-= 1}"
                                                    class="text-gray-400 w-11 ps-0.5 focus:outline-none hover:text-primary transition-colors duration-300">
                                                <i class="sicon-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start mb-5">
                                <label class="form-label">
                                    <b class="block">
                                        السعر
                                    </b>
                                </label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2 text-end space-s-1">
                                    <div class="space-s-1">
                                        {% if product.on_sale %}
                                            <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.sale_price }}</h4>
                                            <span class="text-sm text-gray-400 line-through">{{ product.regular_price }}</span>
                                        {% else %}
                                            <h4 class="text-theme-red font-bold text-sm inline-block">{{ product.price }}</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="flex justify-between space-s-4">
                                {% if product.is_available or product.is_donation %}
                                    <button type="button" class="btn btn-primary add-to-cart-btn"
                                            {% if not product.is_available %}
                                    disabled
                                    {% else %}
                                        data-on-click="cart::add-item"
                                            {% endif %}>
                                        <span class="loader loader--small"></span>
                                        <span class="transition-transform duration-500 inline-block btn--text">
                                            {% if product.is_available %}
                                                {# <i class="sicon-shopping-bag"></i> #}
                                                {{ trans('pages.cart.add_to_cart') }}
                                            {% elseif product.is_donation %}
                                                {{ trans('pages.products.donation_exceed') }}
                                            {% else %}
                                                {{ trans('pages.products.out_of_stock') }}
                                            {% endif %}
                                        </span>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline">
                                        {{ trans('pages.products.out_of_stock') }}
                                    </button>
                                    {% component 'product.notify-availability' with {product:product} %}
                                {% endif %}
                            </div>
                        </section>

                        {# {% component 'product.quick-buy' with {product: product} %} #} {# frontend TODO:: support this section #}
                        {% component 'product.offer' with {product:product} %}
                    </form>
                </div>
            </div>
        </div>
        {% component 'product.comments' with {comments: comments, id: product.id} %}

        {% component 'product.similar-products' %}
    </main>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('dist/product.js') }}"></script>
{% endblock %}
