{# ====== ScopeData  ====== #
{
    "item":{
        "id":"int"
    }
}
#}

{% set key_prefix=item.id %}
<section x-data="initCartItem({{ item.id }},{{ item.quantity }}, {{ item.total }})" class="bg-white overflow-hidden p-5 xs:p-7 rounded-md mb-5 relative" id="item-{{ item.id }}" salla-form-data data-on-change="cart-update-item">
	<input type="hidden" name="id" value="{{ item.id }}">
	<!-- product -->
	<div class="md:flex md:space-s-12 items-center justify-between mb-8">
		<div class="flex flex-1 space-s-4">
			<a href="{{ item.url }}" class="flex-shrink-0">
				<img src="{{ item.product_image }}" alt="{{item.product_name}}" class="flex-none w-24 h-20 border border-border-color bg-gray-100 rounded-md object-center object-cover">
			</a>
			<div class=" space-y-1">
				<h3 class="text-gray-900 leading-6">
					<a href="{{ item.url }}" class="text-base">{{item.product_name}}</a>
				</h3>
				<p class="text-sm text-gray-400">{{item.price|money}}</p>
			</div>
		</div>

		<div class="flex-1 border-t border-b border-border-color py-3 md:p-0 md:border-none mt-5 md:mt-1 flex justify-between items-center ">
			<div class="relative">
				<div class="flex items-center h-10 py-2 border  rounded-md text-sm transtion transition-color duration-300" :class="qtyValidation? 'has-error' : 'border-border-color' ">
					{% if item.is_donation %}
						<span>--</span>
					{% elseif item.hide_quantity or not item.is_available %}
						<input type="hidden" value="{{ item.quantity }}" name="quantity"/>
						<span>{{ item.quantity }}</span>
					{% else %}
						<button @click="addQty()" class="text-gray-400 w-11 pe-0.5 focus:outline-none hover:text-primary transition-colors duration-300">
							<i class="sicon-add"></i>
						</button>
						<input x-model="itemQty"
							   class="focus:outline-none focus:ring-transparent shadow-none h-6 border-t-0 border-b-0 border focus:border-border-color border-border-color font-bold px-2 text-center w-12 "
							   type="number"
							   value="{{ item.quantity }}"
							   @input.debounce.400ms="updateQty()"
							   data-max_quantity="{{ product.max_quantity }}"
							   max="{{ product.max_quantity }}"
							   data-quantity="{{ item.quantity }}"
							   data-digits="1"
							   name="quantity"
							   id="qty-{{ item.id }}"
							   min="1"
						>
						<button @click="subQty()" class="text-gray-400 w-11 ps-0.5 focus:outline-none hover:text-primary transition-colors duration-300">
							<i class="sicon-minus"></i>
						</button>
					{% endif %}
				</div>
				<small class="text-xs text-red-700 absolute mt-1" x-text="qtyValidation"></small>
			</div>

			<p class="text-primary flex-none font-bold text-sm">
				<span>{{ trans('pages.cart.total') }}:</span>
				{% if item.is_available %}
					<span x-text="itemTotal"></span>
					<span x-text="'{{ item.currency }}'"></span>
				{% else %}
					<span x-text="'{{ trans('pages.cart.out_of_stock') }}'"></span>
				{% endif %}
			</p>
			{# الإجمالي: {{item.total|money}}</p> #}
		</div>
	</div>

	{% if item.has_options %}
		<form>
			{% include 'pages.partials.product.fields' with {product:item} %}
		</form>
	{% endif %}


	{# <div class="text-sm flex justify-end"> #}
	{# <span class="mx-1"> التوفر في المعارض</span> #}
	{# <span class="text-primary">اختر مدينة</span> #}
	{# </div> #}


	<button @click="removeItem()" data-delete-item="item-{{ item.id }}" class="remove-item-btn bg-red-400 hover:bg-red-500 transition-colors rounded-full text-white w-6 h-6 text-sm flex items-center justify-center absolute top-1.5 end-1.5 xs:top-5 xs:end-5">
		<span x-show="isRemoveItem" class="spinner-loader-wrap start-1 w-4 h-4 absolute">
		<span class="block -z-1 spinner-loader reverse w-4 h-4 animate-spin border-2 border-white rounded-full"></span></span>
	</button>


	<!-- <div x-data="{dropdownMenu: false}" class="relative">
	        <button @click="dropdownMenu = ! dropdownMenu" class="flex items-center p-2 rounded-md">
	            <span class="mr-4">اختر مدينة </span>
	        </button>
	        <div x-show="dropdownMenu" class="absolute right-0 py-2 mt-2 rounded-md shadow-xl w-44">
	            <a href="#" class="block px-4 py-2 text-sm">
	                الرياض
	            </a>
	            <a href="#" class="block px-4 py-2 text-sm">
	               مكة
	            </a>
	            <a href="#" class="block px-4 py-2 text-sm">
	                المدينة المنورة
	            </a>
	        </div>
	    </div> -->
</section>
