{% extends "layouts.master" %}
{% block content %}
    <section class="page-wrapper page--cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="content page-container-cart">
                        <div id="receipt_container" class="receipt">
                            <div class="receipt__wrapper">
                                <header class="receipt__header">
                                    <div class="icon-holder mb-10">
                                        <svg width="473px" height="481px" viewBox="0 0 473 481" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="confetti-(2)" fill-rule="nonzero">
                                                    <path d="M239.421,199.48 C177.413,137.48 109.421,104.944 87.549,126.808 C85.149,129.322 83.383,132.371 82.397,135.704 L82.045,135.352 L61.157,220.952 L40.357,306.296 L15.701,407.352 L0.093,471.352 L92.501,436.384 L210.037,391.912 L303.805,356.432 L303.693,356.32 C306.832,355.319 309.704,353.621 312.093,351.352 C333.965,329.48 301.429,261.488 239.421,199.48 Z"
                                                          id="Path" fill="#DD1C4B"></path>
                                                    <ellipse id="Oval" fill="#D1E3EE"
                                                             transform="translate(199.822905, 239.052709) rotate(-135.000000) translate(-199.822905, -239.052709) "
                                                             cx="199.822905" cy="239.052709" rx="158.775477"
                                                             ry="55.999463"></ellipse>
                                                    <path d="M295.293,359.2 C284.097,359.396 272.989,357.192 262.717,352.736 L186.077,381.736 L68.501,426.168 L5.453,450.024 L0.093,472 L92.501,437.032 L210.037,392.56 L296.093,360 L295.293,359.2 Z"
                                                          id="Path" fill="#B21D48"></path>
                                                    <g id="Group" transform="translate(146.000000, 47.000000)"
                                                       fill="#FFBF41">
                                                        <path d="M246.093,249 C245.135,248.997 244.185,248.826 243.285,248.496 C202.672,233.281 158.771,229.015 115.989,236.128 L87.413,240.888 C83.039,241.512 78.987,238.472 78.363,234.098 C77.76,229.872 80.581,225.917 84.773,225.112 L113.357,220.312 C158.911,212.743 205.654,217.282 248.901,233.472 C253.059,234.966 255.218,239.548 253.724,243.706 C252.57,246.918 249.506,249.044 246.093,249 Z"
                                                              id="Path"></path>
                                                        <path d="M102.093,201.000181 C97.675,200.974 94.114,197.371 94.1398585,192.953 C94.158,189.903 95.908,187.129 98.653,185.8 L266.653,105.8 C270.643,103.9 275.417,105.594 277.317,109.584 C279.217,113.574 277.523,118.348 273.533,120.248 L273.533,120.248 L105.533,200.248 C104.457,200.751 103.282,201.008 102.093,201.000181 Z"
                                                              id="Path"></path>
                                                        <path d="M8.541,185.000014 C7.486,185.002 6.441,184.793 5.469,184.384 C1.391,182.683 -0.536,177.999 1.165,173.921 C1.165,173.921 1.165,173.92 1.165,173.92 L12.797,146.008 C30.694,103.243 34.867,55.975 24.741,10.736 C23.703,6.441 26.344,2.119 30.638,1.081 C34.933,0.043 39.255,2.684 40.293,6.978 C40.316,7.073 40.337,7.168 40.357,7.264 C51.205,55.725 46.732,106.359 27.557,152.168 L15.917,180.08 C14.675,183.057 11.767,184.997 8.541,185.000014 L8.541,185.000014 Z"
                                                              id="Path"></path>
                                                    </g>
                                                    <circle id="Oval" fill="#D5557E" cx="432.093" cy="312" r="16"></circle>
                                                    <circle id="Oval" fill="#DD95C1" cx="240.093" cy="88" r="16"></circle>
                                                    <path d="M168.093,32 C159.256,32 152.093,24.837 152.093,16 C152.093,7.163 159.256,0 168.093,0 C176.93,0 184.093,7.163 184.093,16 C184.093,24.837 176.93,32 168.093,32 Z"
                                                          id="Path" fill="#7FCCCB"></path>
                                                    <g id="Group" transform="translate(360.000000, 0.000000)"
                                                       fill="#2276BB">
                                                        <path d="M32.093,64 C27.675,64 24.093,60.418 24.093,56 L24.093,48 C24.093,43.582 27.675,40 32.093,40 C36.511,40 40.093,43.582 40.093,48 L40.093,56 C40.093,60.418 36.512,64 32.093,64 Z"
                                                              id="Path"></path>
                                                        <path d="M32.093,24 C27.675,24 24.093,20.418 24.093,16 L24.093,8 C24.093,3.582 27.675,0 32.093,0 C36.511,0 40.093,3.582 40.093,8 L40.093,16 C40.093,20.418 36.512,24 32.093,24 Z"
                                                              id="Path"></path>
                                                        <path d="M56.093,40 L48.093,40 C43.675,40 40.093,36.418 40.093,32 C40.093,27.582 43.675,24 48.093,24 L56.093,24 C60.511,24 64.093,27.582 64.093,32 C64.093,36.418 60.512,40 56.093,40 Z"
                                                              id="Path"></path>
                                                        <path d="M16.093,40 L8.093,40 C3.675,40 0.093,36.418 0.093,32 C0.093,27.582 3.675,24 8.093,24 L16.093,24 C20.511,24 24.093,27.582 24.093,32 C24.093,36.418 20.512,40 16.093,40 Z"
                                                              id="Path"></path>
                                                    </g>
                                                    <path d="M63.597,232 C62.701,228.576 61.901,225.12 61.157,221.6 L40.357,306.944 L41.957,326.456 C45.444,368.055 63.314,407.139 92.493,436.992 L210.037,392.56 C209.397,392.36 208.733,392.216 208.093,392 C136.818,365.275 82.945,305.621 63.597,232 Z"
                                                          id="Path" fill="#FFFFFF"></path>
                                                    <path d="M210.037,392.56 C209.397,392.36 208.733,392.216 208.093,392 C200.393,389.085 192.851,385.766 185.501,382.056 L79.629,422.112 C83.643,427.318 87.94,432.299 92.501,437.032 L210.037,392.56 Z"
                                                          id="Path" fill="#F6F6E7"></path>
                                                    <polygon id="Path" fill="#C9DA53"
                                                             points="336.093 95.832 336.093 136 295.925 136 295.925 95.832"></polygon>
                                                    <path d="M192.093,240 C187.675,239.999 184.094,236.416 184.095,231.998 C184.096,229.732 185.057,227.573 186.741,226.056 L266.741,154.056 C270.082,151.165 275.134,151.53 278.025,154.871 C280.836,158.119 280.58,163.007 277.445,165.944 L197.445,237.944 C195.977,239.267 194.07,239.999 192.093,240 L192.093,240 Z"
                                                          id="Path" fill="#FFBF41"></path>
                                                    <g id="Group" transform="translate(0.000000, 8.000000)" fill="#FFDB43">
                                                        <path d="M424.093,200 C419.675,200 416.093,196.418 416.093,192 L416.093,184 C416.093,179.582 419.675,176 424.093,176 C428.511,176 432.093,179.582 432.093,184 L432.093,192 C432.093,196.418 428.512,200 424.093,200 Z"
                                                              id="Path"></path>
                                                        <path d="M452.381,188.280032 C450.258,188.286 448.221,187.442 446.725,185.936 L441.069,180.28 C438,177.102 438.087,172.037 441.265,168.968 C444.365,165.974 449.28,165.974 452.381,168.968 L458.037,174.624 C461.161,177.749 461.16,182.814 458.035,185.938 C456.536,187.437 454.502,188.280032 452.381,188.280032 L452.381,188.280032 Z"
                                                              id="Path"></path>
                                                        <path d="M464.093,160 L456.093,160 C451.675,160 448.093,156.418 448.093,152 C448.093,147.582 451.675,144 456.093,144 L464.093,144 C468.511,144 472.093,147.582 472.093,152 C472.093,156.418 468.512,160 464.093,160 Z"
                                                              id="Path"></path>
                                                        <path d="M446.725,137.376 C442.307,137.375 438.726,133.793 438.727,129.374 C438.727,127.253 439.57,125.219 441.069,123.72 L446.725,118.064 C449.903,114.994 454.967,115.082 458.037,118.26 C461.031,121.36 461.031,126.275 458.037,129.376 L452.381,135.032 C450.881,136.532 448.847,137.376 446.725,137.376 L446.725,137.376 Z"
                                                              id="Path"></path>
                                                        <path d="M424.093,128 C419.675,128 416.093,124.418 416.093,120 L416.093,112 C416.093,107.582 419.675,104 424.093,104 C428.511,104 432.093,107.582 432.093,112 L432.093,120 C432.093,124.418 428.512,128 424.093,128 Z"
                                                              id="Path"></path>
                                                        <path d="M401.461,137.376 C399.339,137.376 397.305,136.532 395.805,135.032 L390.149,129.376 C387.08,126.198 387.167,121.133 390.345,118.064 C393.445,115.07 398.36,115.07 401.461,118.064 L407.117,123.72 C410.241,126.845 410.24,131.91 407.115,135.034 C405.616,136.533 403.582,137.376 401.461,137.376 L401.461,137.376 Z"
                                                              id="Path"></path>
                                                        <polygon id="Path"
                                                                 points="40.093 0 52.453 25.048 80.093 29.064 60.093 48.56 64.813 76.088 40.093 63.088 15.373 76.088 20.093 48.56 0.093 29.064 27.733 25.048"></polygon>
                                                    </g>
                                                    <path d="M469.565,433.328 C465.76,419.843 456.999,408.296 445.037,401 L441.741,396.056 C423.26,368.419 394.199,349.627 361.413,344.112 C357.039,343.488 352.987,346.528 352.363,350.902 C351.76,355.128 354.581,359.083 358.773,359.888 C382.421,363.902 403.972,375.916 419.821,393.92 C406.496,396.317 394.842,404.32 387.821,415.896 C379.205,431.327 384.73,450.82 400.161,459.436 C415.592,468.052 435.085,462.527 443.701,447.096 C446.992,440.743 448.769,433.714 448.893,426.56 C457.405,438.923 458.086,455.068 450.645,468.104 C448.391,471.904 449.644,476.812 453.444,479.066 C457.244,481.32 462.152,480.067 464.406,476.267 C464.478,476.145 464.547,476.022 464.613,475.896 C471.881,462.937 473.664,447.609 469.565,433.328 L469.565,433.328 Z M429.749,439.288 C425.479,447.025 415.746,449.835 408.01,445.565 C400.273,441.295 397.463,431.562 401.733,423.826 C401.757,423.783 401.781,423.739 401.805,423.696 C406.526,415.966 414.489,410.784 423.469,409.6 C424.86,409.562 426.237,409.882 427.469,410.528 C434.221,414.296 434.581,430.632 429.749,439.288 Z"
                                                          id="Shape" fill="#2BB3CE"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h1 class="title title--xx-large title--primary center mb-20">{{ thank_you }}</h1>
                                    <h4 class="title title--medium">
                                        {{ trans('pages.thank_you.order_id') }}
                                        <b class="color-text d-inlin ml-1">#{{ order.order_id }}</b>
                                    </h4>
                                    <button class="btn btn--oval btn--padded less btn--primary mt-20"
                                            onclick="goToOrderDetailsWithEvent()">
                                        <i class="sicon-newspaper mr-1"></i>
                                        {{ trans('pages.thank_you.order_details') }}
                                    </button>
                                </header>
                                <section class="receipt__support">
                                    <h3>
                                        <i class="sicon-headphones"></i>
                                        {{ trans('common.titles.support') }}
                                    </h3>
                                    <ul class="list list--horizontal list--auto-width">
                                        {% if store.social.whatsapp %}
                                            <li>
                                                <a target="_blank"
                                                   class="btn btn--transparent"
                                                   href="{{ store.contacts.whatsapp }}">
                                                    <i class="sicon-whatsapp"></i>
                                                    {{ store.social.whatsapp }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if store.contacts.mobile %}
                                            <li>
                                                <a href="tel:{{ store.contacts.mobile }}"
                                                   class="btn btn--transparent">
                                                    <i class="sicon-iphone-x"></i> {{ store.contacts.mobile }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </section>
                                <section class="rec__content">
                                    {% if order.instructions %}
                                    <article class="article article--main article--small text-center">
                                        {{ order.instructions|raw }}
                                    </article>
                                    {% endif %}

                                    {% if order.can_show_content %}
                                        <article id="files" class="article article--main">
                                            {% for item in order.items %}
                                                {% if item.has_files %}
                                                    <div class="rec__item-wrapper">
                                                        <h2 class="title title--x-small title--primary mb-5">
                                                            <i class="sicon-download-harddrive mr-2"></i>
                                                            {{ trans('pages.thank_you.files') }}
                                                            ({{ item.name }})
                                                        </h2>
                                                        <ul class="list list--wide list--bordered list--vertical list--download-items">
                                                            {% for file in item.files %}
                                                                <li>
                                                                    <span>
                                                                        <i class="sicon-file-archive mr-2"></i>
                                                                        <b>{{ file.name }}</b>
                                                                    </span>
                                                                    <span>
                                                                        <a href="{{ file.url_for_order(order) }}"
                                                                           class="btn btn--oval btn--secondary btn--padded less"
                                                                           target="_blank">
                                                                            <i class="sicon-download"></i>
                                                                            {{ trans('pages.thank_you.download') }}</a>
                                                                    </span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                {% if item.has_codes %}
                                                    <div class="rec__item-wrapper">
                                                        <h2 class="title title--x-small title--primary mb-5">
                                                            <i class="sicon-credit-card mr-2"></i>
                                                            {{ trans('pages.thank_you.codes') }}
                                                            ({{ item.name }})
                                                        </h2>
                                                        <ul class="list list--wide list--bordered list--vertical list--download-items grid">
                                                            {% for code in item.codes %}
                                                                <li>
                                                                    <span>{{ code.name }}</span>
                                                                    <span>
                                                                    <b id="product_code_{{ code.id }}" class="product-code">{{ code.code }}</b>
                                                                    <button class="btn btn--transparent btn--padded less btn--copy trans top tooltip-toggle ml-2" data-target="product_code_{{ code.id }}">
                                                                        <span class="tooltip-content"><small class="nowrap">{{trans('pages.thank_you.copy_code')}}</small></span>
                                                                    </button>
                                                                </span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </article>
                                    {% endif %}
                                </section>
                                <section class="receipt__share form">
                                    <h3 class="title title--small center mb-10">{{ trans('pages.thank_you.share_it') }}</h3>
                                    <div class="form-group">
                                    <textarea
                                            class="form-control receipt-textarea">{{ trans('pages.thank_you.share_message', {'store_url':store_url, 'store_name':store.name}) }}</textarea>
                                    </div>
                                    <p class="receipt-share-buttons text-center my-0">
                                        <a href="https://twitter.com/share" class="twitter-share-button"
                                           data-size="large"
                                           data-text="{{ trans('pages.thank_you.short_share_message', { 'store_name':store.name}) }}"
                                           data-url="{{ store.url }}" data-related="SallaApp" data-lang="en"
                                           data-show-count="false">Tweet</a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ store.url|url_encode }}&layout=button&size=large&mobile_iframe=true&appId=238897669460791&width=73&height=28"
                                                width="73" height="28" style="border:none; overflow:hidden"
                                                scrolling="no"
                                                frameborder="0" allowTransparency="true">
                                        </iframe>
                                    </p>
                                </section>
                            </div>
                        </div>
                        <footer class="receipt__footer mt-30">
                            {% if order.email_sent %}
                                <p class="mt-20 mb-20 font-sm text-grey text-center">
                                    {{ trans('pages.thank_you.email_sent') }}
                                    <a href="mailto:{{ order.customer.email }}">{{ order.customer.email }}</a>
                                </p>
                            {% else %}
                                <p class="mt-0 mb-10 font-sm color-grey text-center">
                                    {{ trans('pages.thank_you.resend_email') }}
                                </p>
                                <form id="resend_invoice"
                                      action="{{ order.send_invoice_url }}"
                                      class="form ajax"
                                      data-filter-before-submit="beforeSubmit"
                                      method="post"
                                      data-on-success="onSuccess"
                                      data-on-fail="onFail"
                                      novalidate
                                      data-resendcounter="1"
                                      data-nonconfirm="true">
                                    {{ csrf_field() }}
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="your@email.com"
                                        id="resend_invoice-email"
                                               name="email">
                                        <button type="submit"
                                          id="resend_invoice-submit"
                                          class="btn btn--padded less btn--primary btn--oval">
                                          <span class="btn__text">{{ trans('pages.thank_you.sent_invoice') }}</span>
                                          <div class="line-scale">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                          </div>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                            {% component 'complaint-link' with {order:order} %}
                        </footer>
                        <!-- Newer Thanks Box -->
                        <div class="mobile-webview-hide cart-nav">
                            <a href="{{ store.url }}" class="btn btn--wide btn--padded btn--primary btn--proceed prev btn--rounded cart-nav-submit receipt-back">
                                <i class="icon-chevron-right"></i>
                                {{ trans('pages.thank_you.return_to_store') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {#no jquery here ---#}
    <script type="text/javascript">
    
    function validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    document.addEventListener( 'DOMContentLoaded', function () {
        // validate email field
        var form_el = document.getElementById('resend_invoice'),
            email = document.getElementById('resend_invoice-email'),
            submitBtn = document.getElementById('resend_invoice-submit');
        
        if(email){
          email.addEventListener('keyup', function(){
            if(validateEmail(email.value)){
              email.parentElement.classList.remove('error');
            }
          });
        }

        window.beforeSubmit = function (form_data, that, event) {
          if(validateEmail(email.value)){
            email.parentElement.classList.remove('error');
            submitBtn.classList.add('btn--has-loading');
            submitBtn.setAttribute('disabled',true);
            return form_data;
          }
          else{
            email.parentElement.classList.add('error');
            throw 'Not Valid';
          } 
        }

        window.onSuccess = function (form_data, that, event) {
          submitBtn.classList.remove('btn--has-loading');
        }; 

        window.onFail = function (form_data, that, event) {
          submitBtn.classList.remove('btn--has-loading');
        }; 

        salla.cart.event.clearCartSummary();
    });

    function goToOrderDetailsWithEvent() {
      salla.event.dispatch('mobile::order.placed', {order_id: {{ order.id }}});
      location.href = "{{ order.url }}";
    }
    </script>
{% endblock %}