<section class="home-block home-block--bg home-block--slide-products {{ is_repeated?'repeated-block pt-0':'' }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="tabs-heads tabs-heads--center">
                    {% for section in items %}
                        <li class="tab-head">
                            <button class="btn btn--oval btn--padded btn--grey {{ loop.first?'active':'' }}" data-tab-target="#featured_tab_{{ section.id }}">
                                {{ section.title }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-body">
                    {% for section in items %}
                        <div id="featured_tab_{{ section.id }}" data-tab-content class="tab-body {{ loop.first?'active':'' }}">
                            {% if is_slider %}
                                {#slider products#}
                                <div class="splide splide-products splide--products-slider">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            {% for product in section.products %}
                                                <li class="splide__slide">
                                                    {% include 'pages.partials.product.card' with {block_classes:'anime-item'} %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% else %}

                                <div class="grid-block centered products-list-container">
                                    {% for product in section.products %}
                                        {% include 'pages.partials.product.card' with {block_classes:'anime-item'} %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
