<section class="home-block  home-block--tabsProdutcs bg-gray-bg2 pb-10 {{ is_repeated?'repeated-block pt-0':'pt-20' }}">
    <div class="container pe-0 lg:px-5" x-data="initTabs()">
        <div class="tabs text-center pb-10 space-s-1 md:space-s-4 whitespace-nowrap overflow-x-auto hide-scroll">
            {% for section in items %}
                <button @click.prevent="switchTab('featured-tab-{{ section.id }}')"
                        :class="currentTab === 'featured-tab-{{ section.id }}' ? 'btn-primary' : 'btn-outline-primary'"
                        class="cursor-pointer btn">{{ section.title }}</button>
            {% endfor %}
        </div>

        {% for section in items %}
            <div x-show="currentTab === 'featured-tab-{{ section.id }}'" class="swiper pb-10 tabs-slider">
                {% if is_slider %}
                    <div class="swiper-wrapper">
                        {% for product in section.products %}
                            <div class="h-auto swiper-slide tabs-slider__slide tab-product opacity-0 w-10/12 sm:w-8/12 md:w-5/12 lg:w-auto">
                                {% include 'pages.partials.product.card' %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center pt-7 space-s-3" dir="rtl">
                        <button class="slider-prev  focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                            <i class="text-gray-text sicon-keyboard_arrow_right"></i>
                        </button>
                        <button class="slider-next focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                            <i class="text-gray-text  sicon-keyboard_arrow_left"></i>
                        </button>
                    </div>
                {% else %}
                	{# without slider #}
					<section>
						<div class="grid grid-cols-1 lg:grid-cols-2 gap-8  tab-product">
							{% for product in section.products %}
								{% include 'pages.partials.product.card' with {is_horizontal:true, show_desc:true} %}
							{% endfor %}
						</div>
					</section>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{# TODO:: move to js file #}
<script>
    function initTabs() {
        return {
            currentTab: 'featured-tab-{{ items[0].id }}',
            switchTab : function (tabId) {
                this.currentTab = tabId
                animatItems()
            }
        }
    }

    function animatItems() {
        anime({
            targets   : '.tab-product',
            translateX: [40, 0],
            opacity   : [0, 1],

            easing: 'easeOutExpo',
        }, '+=200');

    }

    function initSlider(){
        const swiper = new Swiper('.tabs-slider', {
            spaceBetween : 30,
            slidesPerView: 'auto',
            // Navigation arrows
            navigation: {
                nextEl: '.slider-next',
                prevEl: '.slider-prev',
            },

            breakpoints: {
                980: {
                    slidesPerView: 4,
                }
            }

        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        animatItems();
        initSlider();
    });
</script>