<section class="s-block s-block--tabsProdutcs bg-gray-bg2 pt-16 pb-8 mt-16 {{ is_repeated?'repeated-block':'' }}">
  <div class="container pe-0 lg:px-5" x-data="initTabs()"  x-init="currentTab = 'featured-tab-{{ items[0].id }}'">
      <div class="tabs text-center pb-10 space-s-1 md:space-s-4 whitespace-nowrap overflow-x-auto hide-scroll">
          {% for section in items %}
              <button @click.prevent="switchTab('featured-tab-{{ section.id }}')"
                      :class="currentTab === 'featured-tab-{{ section.id }}' ? 'btn-primary' : 'btn-outline-primary'"
                      class="cursor-pointer btn">{{ section.title }}</button>
          {% endfor %}
      </div>

      {% for section in items %}
          <div x-show="currentTab === 'featured-tab-{{ section.id }}'" id="featured-tab-{{ section.id }}" :class="currentTab === 'featured-tab-{{ section.id }}' ? 'active-tab' : '' " class="swiper pb-10 tabs-slider">
              {% if is_slider %}
                  <div class="swiper-wrapper">
                      {% for product in section.products %}
                          <div class="h-auto swiper-slide tabs-slider__slide featured-item-style2 opacity-0 w-10/12 sm:w-8/12 md:w-5/12 lg:w-auto">
                              {% include 'pages.partials.product.card' %}
                          </div>
                      {% endfor %}
                  </div>
                  <div class="text-center pt-7 space-s-3" dir="rtl">
                      <button class="slider-prev  focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                          <i class="text-gray-text sicon-keyboard_arrow_right"></i>
                      </button>
                      <button class="slider-next focus:outline-none border border-gray text-dark rounded-full w-10 h-10">
                          <i class="text-gray-text  sicon-keyboard_arrow_left"></i>
                      </button>
                  </div>
              {% else %}
                {# without slider #}
        <section>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for product in section.products %}
                          <div class="featured-item-style2">
              {% include 'pages.partials.product.card' with {is_horizontal:true, show_desc:true} %}
                          </div>
            {% endfor %}
          </div>
        </section>
              {% endif %}
          </div>
      {% endfor %}
  </div>

  {# TODO:: move to js file #}
  <script>
      function initTabs() {
          return {
              currentTab: '',
              switchTab : function (tabId) {
                  this.currentTab = tabId

                  setTimeout(() => {
                      window.animateTabsItems(`#${tabId} .featured-item-style2`);
                  },10)
              }
          }
      }

      function initSlider(){
          const swiper = new Swiper('.tabs-slider', {
              spaceBetween : 30,
              slidesPerView: 'auto',
              // Navigation arrows
              navigation: {
                  nextEl: '.slider-next',
                  prevEl: '.slider-prev',
              },
              breakpoints: {
                  980: {
                      slidesPerView: 4,
                  }
              }
          });
      }

      document.addEventListener('DOMContentLoaded', function () {
          window.animateTabsItems('#featured-tab-{{ items[0].id }} .featured-item-style2');
          initSlider();
      });
  </script>
</section>