<section class="s-block s-block--fixed-banner {{ is_repeated?'repeated-block mt-8':'mt-16' }}">
	<div class="container">
		<a href="{{ url }}" class="banner banner--fixed" aria-label="Banner {{ image.alt }}">
			<img class="lazy-load w-full object-cover" src="{{asset('images/s-empty.png')}}" data-src="{{ image.url }}" alt="{{ image.alt }}"/>
		</a>
	</div>
</section>
