<section class="home-block home-block--fixed-banner {{ is_repeated?'repeated-block pt-0':'' }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ url }}" class="banner banner--fixed" aria-label="Banner {{ image.alt }}">
                    <img class="lazy-load" data-src="{{ image.url }}" alt="{{ image.alt }}"/>
                </a>
            </div>
        </div>
    </div>
</section>

