<section class="s-home-block s-home-block--fixed-banner mb-7 {{ is_repeated?'repeated-block':'mt-20' }}">
	<div class="container">
		<a href="{{ url }}" class="banner banner--fixed" aria-label="Banner {{ image.alt }}">
			<img class="lazy-load w-full object-cover" data-src="{{ image.url }}" alt="{{ image.alt }}"/>
		</a>
	</div>
</section>
