{% set blockId = random(0, 1000) %}
<section id="best-offers-{{ blockId }}" class="s-block s-block--best-offers container pe-0 lg:px-5 mt-8 sm:mt-16 {{ is_repeated?'repeated-block':'' }}">
    <div class="pe-5 lg:pe-0">
        <div class="flex justify-between mb-6 sm:mb-8">
            {% if title %}
                <h2 class="font-bold text-lg text-text-dark">{{ title }}</h2>
            {% endif %}
            <div class="flex items-center">
                {% if display_all_url %}
                    <a href="{{ display_all_url }}"
                        class="text-sm font-bold text-primary hover:opacity-80 ms-3">{{ trans('blocks.home.display_all') }}</a>
                {% endif %}
                <div class="hidden sm:block ms-3" dir="rtl">
                    <button class="slider-prev  focus:outline-none border border-gray text-dark rounded-full w-7 h-7">
                        <i class="text-gray-text sicon-keyboard_arrow_right"></i>
                    </button>
                    <button class="slider-next focus:outline-none border border-gray text-dark rounded-full w-7 h-7">
                        <i class="text-gray-text  sicon-keyboard_arrow_left"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow-hidden">
      <div class="swiper product-slider -mx-5 lg:-mx-3.75 lg:w-[calc(100%+30px)] pe-12 sm:pe-16 lg:pe-0 ps-3 lg:ps-0" data-id="best-offers-{{ blockId }}">
        <div class="swiper-wrapper flex">
            {% for product in products %}
                <div class="h-auto swiper-slide featured-item-style2 w-full sm:w-1/2 md:w-4/12 lg:w-1/4 px-2 lg:px-3.75">
                    {% include 'pages.partials.product.card' %}
                </div>
            {% endfor %}
        </div> 
    </div> 
  </div>
</section>