{#

#}
<section class="s-block first-of-type:mt-0 s-block--full-banner {{ is_repeated?'repeated-block':'mt-8 sm:mt-16' }}">
    <div class="row-span-2 full-banner-block h-80 md:h-96 lg:h-116 xl:h-132 bg-warmGray-200 transition-opacity hover:opacity-95 bg-center bg-cover text-white text-center p-5 overflow-hidden relative bg-fixed" style="background-image: url('{{ image.url }}');">
        <div class="overlay h-full w-full bg-dark opacity-60 absolute top-0 left-0"></div>
        <div class="flex h-full items-center justify-center p-5 xs:p-11 relative">
            <div>
                {% if title %}
                <h3 class="text-lg font-bold leading-12">{{title}}</h3>
                {% endif %}

                {% if url is not empty and link_text is not empty %}
                    <a href="{{ url }}" class="inline-block text-white text-sm border rounded-md font-bold px-8 py-4">{{ link_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>