{# MOBILE #}
<li class="lg:hidden text-sm font-bold" {{ menu.attrs }}>
    {% set item_image %}
      {% if menu.image %}
        <img src="{{ menu.image }}" class="rounded-full" width="48" height="48" alt="{{ menu.title }}"/>  
      {% endif %}
    {% endset %} 

    {% if not menu.has_children %}
      <a {{ menu.link_attrs|raw }} aria-label="{{menu.title ? menu.title : 'category'}}" href="{{ menu.url }}" class="text-gray-500 {{ menu.image ? '!py-3' : '' }}">
          {{ item_image }}
          <span>{{ menu.title }}</span>
      </a>
    {% else %}
      <span class="{{ menu.image ? '!py-3' : '' }}">
        {{ item_image }}
        {{ menu.title }}
      </span>
      <ul>
          <li class="text-sm font-bold"><a {{ menu.link_attrs|raw }} href="{{ menu.url }}" class="text-gray-500">{{ trans('blocks.home.display_all') }}</a></li>
          {% for submenu in menu.children %}
              {% include _self with {menu:submenu} %}
          {% endfor %}
      </ul>
    {% endif %}
</li>

{# DESKTOP #}
<li class="!hidden lg:!block {{ is_root_menu?'root-level lg:!inline-block':'relative' }}
    {{ menu.products?' mega-menu': '' }}
    {{ menu.has_children?' has-children': '' }}"
    {{ menu.attrs|raw }}>
    <a {{ menu.link_attrs|raw }} href="{{ menu.url }}" aria-label="{{menu.title ? menu.title : 'category'}}">
        <span>{{ menu.title }}</span>
    </a>
    {% if menu.has_children %}
        <div class="sub-menu {{ menu.products?'w-full left-0 flex': 'w-56' }}">
            <ul class="{{ menu.products?'w-56 shrink-0 m-8 rtl:ml-0 ltr:mr-0': '' }}">
                {% for submenu in menu.children %}
                    {% include _self with {menu:submenu, is_root_menu:false} %}
                {% endfor %}
            </ul>
            {% if menu.products %}
                <div class="grow p-8">
                    <div class="grid gap-4 grid-cols-4">
                        {% for product in menu.products|slice(0, 4) %}
                            <custom-salla-product-card shadow-on-hover product="{{product}}"></custom-salla-product-card>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</li>
