{# MOBILE #}
    <li class="lg:hidden text-sm font-bold" id="mobile-menu-{{ menu.id }}">
        {% if not menu.children %}
            <a href="{{ menu.url }}" target="{{ menu.target }}" id="mobile-link-{{ menu.id }}" class="text-gray-500">{{ menu.title }}</a>
        {% else %}
            <span>{{ menu.title }}</span>
            <ul>
                <li class="text-sm font-bold"><a href="{{ menu.url }}" target="{{ menu.target }}" id="mobile-menu-{{ menu.id }}" class="text-gray-500">{{ menu.title }}</a></li>
                {% for submenu in menu.children %}
                    {% include _self with {menu:submenu} %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>

{# DESKTOP #}
    <li class="!hidden lg:!block {{ is_root_menu?'root-level lg:!inline-block':'relative' }}
        {{ menu.products?' mega-menu': '' }}
        {{ menu.children?' has-children': '' }}"
        id="menu-{{ menu.id }}">
        <a href="{{ menu.url }}" target="{{ menu.target }}" id="link-{{ menu.id }}">
            <span>{{ menu.title }}</span>
        </a>
        {% if menu.children %}
            <div class="sub-menu {{ menu.products?'w-full left-0 flex': 'w-56' }}">
                <ul class="{{ menu.products?'w-56 shrink-0 m-8 rtl:ml-0 ltr:mr-0': '' }}">
                    {% for submenu in menu.children %}
                        {% include _self with {menu:submenu, is_root_menu:false} %}
                    {% endfor %}
                </ul>
                {% if menu.products %}
                    <div class="grow p-8">
                        <div class="grid gap-4 grid-cols-4">
                            {% for product in menu.products|slice(0, 4) %}
                                <salla-product-card shadow-on-hover product="{{product}}"></salla-product-card>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </li>
