{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="store-header">
    {# Top Nav #}
    <div class="top-navbar">
        <div class="container flex justify-between">
            <div class="center-between w-full lg:w-auto ">
                <div class="flex items-center space-s-1">
                    {# Footer Menu #}
                    {% component 'footer.menu' with {is_header:true} %}
                    {# Language & Currency Component #}
                    {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                        <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray">
                            <span class="flag iti__flag iti__{{ user.language.country_code }} me-1.5 rounded-sm"></span>
                            | <span class="ms-2 me-1">{{ currency.symbol }}</span>
                        </button>
                        <salla-localization-modal></salla-localization-modal>
                    {% endif %}

                    {# Search Component #}
                    <button onclick="salla.event.dispatch('search::open')" class="btn--circle-gray sicon-search"></button>
                    <salla-search></salla-search>
                </div>
            </div>

            {% component 'footer.contacts' with {is_header:true} %}
        </div>
    </div>

    {# Main Nav #}
    <div id="mainnav" class="main-nav-container shadow-default bg-white">
        <div class="inner bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse" href="#mobile-menu">
                            <i class="sicon-menu text-primary text-3xl me-2.5"></i>
                        </a>
                        <a class="navbar-brand" href="{{ store.url }}">
                            <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }}">
                            {% if is_page('index') %} 
                              <h1 class="sr-only">{{ store.name }}</h1>
                            {% else %} 
                              <h2 class="sr-only">{{ store.name }}</h2>
                            {% endif %}
                        </a>
                        {% component 'header.menu' %}
                    </div>
                    <div class="flex items-center justify-end">
                        {% if user.type=='user' %}
                            {% component 'header.user-menu' %}
                        {% else %}
                            <salla-button shape="icon" fill="outline" color="light" onclick="salla.event.dispatch('login::open')">
                              <i class="sicon-user-circle"></i>
                            </salla-button>
                        {% endif %}

                        <a id="nav-cart" href="{{ page('cart') }}">
                            <i class="icon sicon-shopping-bag"></i>
                            <span class="badge badge--red" data-cart-count>{{ cart.items_count|number }}</span>
                            <div>
                              <p class="leading-3 opacity-60">{{ trans('blocks.header.cart') }}</p>
                              <b class="leading-3" data-cart-total>{{ cart.total }}</b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if user.type=='guest' %}
            <salla-login-modal></salla-login-modal>
        {% endif %}
    </div>
</header>
