{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
    {# Top Nav #}
    <div class="top-navbar">
        <div class="container flex justify-between">
            <div class="flex-1 flex items-center gap-2">
              {# Footer Menu #}
              {% if important_links %}
                {% component 'footer.menu' with {is_header:true} %}
              {% endif %}

                <div class="header-buttons">
                    {# Language & Currency Component #}
                    {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                        <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0">
                            <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                            <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
                        </button>
                        <salla-localization-modal></salla-localization-modal>
                    {% endif %}
                </div>

                {# Scopes | Branches #}
                {% if store.scope %}
                    <button class="btn--rounded-gray"
                            onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                        <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
                    </button>
                {% endif %}

                {# Search Component #}
                {# <button onclick="salla.event.dispatch('search::open')" class="btn--circle-gray search-btn">
                <span class="sicon-search"></span>
                <span class="sm:hidden px-2 opacity-50">{{ trans('blocks.header.searchProducts') }}</span>
              </button> #}
              <div class="header-search flex-1">
                <salla-search inline oval height="36"></salla-search>
              </div>
            </div>

            {% component 'footer.contacts' with {is_header:true} %}
        </div>
    </div>

    {# Main Nav #}
    <div id="mainnav" class="main-nav-container shadow-default bg-white">
        <div class="inner bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                          <i class="sicon-menu text-primary text-2xl"></i>
                        </a>
                        <a class="navbar-brand" href="{{ store.url }}">
                            <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
                            {% if is_page('index') %}
                              <h1 class="sr-only">{{ store.name }}</h1>
                            {% else %}
                              <h2 class="sr-only">{{ store.name }}</h2>
                            {% endif %}
                        </a>
                        {% component 'header.menu' %}
                    </div>
                    <div class="flex items-center justify-end">
                        {% if user.type=='user' %}
                          <salla-user-menu avatar-only show-header></salla-user-menu>
                        {% else %}
                            <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                              <i class="header-btn__icon sicon-user-circle"></i>
                            </button>
                        {% endif %}
                        <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                          <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
                        </salla-cart-summary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
