{#
| Variable                | Type    | Description |
|-------------------------|---------|-------------|
| new_notifications_count | int     |             |
| pending_orders_count    | int     |             |
#}

 {% if is_profile_sidebar %}
    <a href="{{ link('notifications') }}" class="menu-item {{ is_current_url('notifications')? 'is-active':'' }}">
        <i class="sicon-school-bell me-3 text-lg"></i>
        <span class="me-auto">{{ trans('common.titles.notifications') }}</span>
        {% if new_notifications_count %}
            <span class="badge badge--red">{{ new_notifications_count }}</span>
        {% endif %}
    </a>
    <a href="{{ link('pending_orders') }}" class="menu-item {{ is_current_url('pending_orders')? 'is-active':'' }}">
        <i class="sicon-cart me-3 text-lg"></i>
        <span class="truncate me-auto">{{ trans('common.titles.pending_orders') }}</span>
        {% if pending_orders_count %}
          <span class="badge badge--red">{{ pending_orders_count }}</span>
        {% endif %}
    </a>
    <a href="{{ link('orders') }}" aria-current="page" class="menu-item {{ is_current_url('orders') and not is_current_url('pending_orders') ? 'is-active':'' }}">
        <i class="sicon-packed-box me-3 text-lg"></i> {{ trans('common.titles.orders') }}
    </a>
    <a href="{{ link('wishlist') }}" aria-current="page" class="menu-item {{ is_current_url('wishlist')?  'is-active':'' }}">
        <i class="sicon-heart me-3 text-lg"></i> {{ trans('common.titles.wishlist') }}
    </a>
    <a href="{{ link('profile') }}" class="menu-item {{ is_current_url('profile')?  'is-active':'' }}">
        <i class="sicon-settings me-3 text-lg"></i> {{ trans('common.titles.profile') }}
    </a>
    <a onclick="salla.auth.logout()" class="menu-item logout cursor-pointer">
        <i class="sicon-send-out me-3 text-lg"></i> {{ trans('blocks.header.logout') }}
    </a>
{% else %}
    <div class="dropdown-toggler">
        <button aria-label="User Menu Trigger" type="button"
                class="dropdown__trigger"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
            <img class="h-10 w-10 object-cover pointer-events-none" src="{{ user.avatar }}" alt="{{ user.full_name }}" />
        </button>

        <div class="dropdown__menu"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1">

            <div class="flex items-center p-4 border-b mb-1 lg:hidden relative">
                <img class="h-12 w-12 rounded-full object-cover pointer-events-none me-3" src="{{ user.avatar }}" alt="{{ user.full_name }}">
                <div>
                    <span class="text-sm">{{ trans('pages.checkout.hello') }}</span>
                    <p class="text-gray-700 font-bold text-base leading-none">{{ user.full_name }}</p>
                </div>
                <button class="dropdown__close h-12 w-12 text-red-500 text-lg rounded-full absolute top-3 end-1 z-50">
                    <i class="sicon-cancel pointer-events-none"></i>
                </button>
            </div>

            <ul class="pb-4 lg:pb-2 py-2 px-2 lg:px-0 space-y-px">
                <li>
                    <a href="{{ link('notifications') }}" class="menu-item {{ is_current_url('notifications')? 'is-active':'' }}">
                        <i class="sicon-bell-ring me-3"></i>
                        <span class="me-auto">{{ trans('common.titles.notifications') }}</span>
                        {% if new_notifications_count %}
                            <span class="badge badge--red">{{ new_notifications_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ link('pending_orders') }}" class="menu-item {{ is_current_url('pending_orders')? 'is-active':'' }}">
                        <i class="sicon-cart me-3"></i>
                        <span class="me-auto"> {{ trans('common.titles.pending_orders') }}</span>
                        {% if pending_orders_count %}
                            <span class="badge badge--red">{{ pending_orders_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{{ link('orders') }}" class="menu-item {{ is_current_url('orders') ? 'is-active':'' }}">
                      <i class="sicon-packed-box me-3"></i>{{ trans('common.titles.orders') }}
                    </a>
                </li>
                <li>
                    <a href="{{ link('wishlist') }}" class="menu-item {{ is_current_url('wishlist')?  'is-active':'' }}">
                        <i class="sicon-heart me-3"></i> {{ trans('common.titles.wishlist') }}
                    </a>
                </li>
                <li>
                    <a href="{{ link('profile') }}" class="menu-item {{ is_current_url('profile')?  'is-active':'' }}">
                        <i class="sicon-settings me-3"></i> {{ trans('common.titles.profile') }}
                    </a>
                </li>
                <li>
                    <a onclick="salla.auth.logout()" class="menu-item logout cursor-pointer">
                        <i class="sicon-send-out me-3"></i> {{ trans('blocks.header.logout') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
