{#
| Variable                          | Type            | Description                                                            |
|-----------------------------------|-----------------|------------------------------------------------------------------------|
| product.donation                  | ProductDonation |                                                                        |
| product.donation.target_message   | ?string         | Message if reached to target or target expired                         |
| product.donation.collected_amount | Money           |                                                                        |
| product.donation.target_amount    | Money           |                                                                        |
| product.donation.target_percent   | float           |                                                                        |
| product.donation.target_end_date  | ?Date           |                                                                        |
| product.donation.can_donate       | bool            | `true` When there is no campaign or (target not reached & not expired) |
@Deprecated use: <salla-progress-bar donation="{{ product.donation }}"></salla-progress-bar>
#}
<div class="mb-2.5">
    {% if not product.donation.target_message %}
        <h2 class="text-sm text-gray-500 mb-1.5">{{ trans('pages.products.target') }}</h2>
    {% endif %}

    <div class="flex justify-between text-sm mb-2.5">
        <span>{{ product.donation.collected_amount|money }}</span>
        {% if not product.donation.target_message %}
            <span>{{ product.donation.target_amount|money }}</span>
        {% endif %}
    </div>

    <div class="bg-gray-100 rounded-full mb-1.5">
        <div class="progress-bg transition-all duration-500 opacity0 h-4 bg-primary relative rounded-full flex justify-end"
             style="width: {{ product.donation.target_message ? 100 : product.donation.target_percent }}%">
        </div>
    </div>

    {% if product.can_donate %}
        {% if product.donation.target_end_date %}
            <small class="block text-xs text-gray-400 mb-2.5">
                {{ trans('pages.products.donation_target_date') }} {{ product.donation.target_end_date|date }}
            </small>
        {% endif %}
    {% else %}
        <h4 class="text-sm text-red-400">
            {{ product.donation.target_message }}
        </h4>
    {% endif %}
    {# <span class="mb-1.5">{{ product.donation.target_message }}</span> #}
</div>
