{#
| Variable                                    | Type                   | Description |
|---------------------------------------------|------------------------|-------------|
| offer                                       | Offer                  |             |
| offer.id                                    | int                    |             |
| offer.name                                  | string                 |             |
| offer.description                           | string *HTML           |             |
| offer.categories                            | Category[] *Collection |             |
| offer.products                              | Product[] *Collection  |             |
| offer.discounts_table                       | Discount[]             |             |
| offer.discounts_table.show_discounted_price | bool                   |             |
| offer.discounts_table.regular_price         | float                  |             |
| offer.discounts_table.quantity              | int                    |             |
| offer.discounts_table.quantity_text         | string                 |             |
| offer.discounts_table.percent               | string ex: 20%         |             |
| offer.discounts_table.price                 | float                  |             |
#}

<section class="offer-slider relative lg:overflow-hidden mb-8 md:mb-16 rounded p-2.5 sm:p-5 bg-white">
    {% set is_displayed = false %}

    <salla-slider 
      type="carousel"
      block-title="{{ offer.name }}"
      block-subTitle="{{ offer.description|raw }}"
      id="offer-slider">
        <div slot="items">
            {% if offer.categories|length %}
                {% for category in offer.categories %}
                    <div class="slide--one-sixth">
                        <a href="{{ category.url }}" class="slide--cat-entry">
                            <i class="{{ category.icon }}"></i>
                            <h4>{{ category.name }}</h4>
                        </a>
                    </div>
                {% endfor %}
            {% elseif offer.products|length %}
                {% for product in offer.products %}
                    <div class="h-auto slide--one-fourth">
                        {% include 'pages.partials.product.card' %}
                    </div>
                {% endfor %}
            {% elseif offer.discounts_table|length %}
                {% set is_displayed = true %}
                {% for discount in offer.discounts_table %}
                    <div class="slide--one-fourth">
                        <div class="slide--offer-entry">
                            <div class="p-3 flex-grow flex flex-col justify-center w-full">
                                <p class="mb-1">{{ trans('pages.offer.buy_quantity', {quantity:discount.quantity_text})|number }}</p>
                                {% if discount.show_discounted_price %}
                                    <div class="text-sm text-gray-400">
                                        <span>{{ trans('pages.offer.with_price', {price:''}) }}</span>
                                        <span class="font-extrabold text-red-400 text-3xl">{{ discount.price|number({'.':'٫'}) }}</span> {{ user.currency.symbol }}
                                    </div>
                                {% endif %}
                            </div>
                            <p class="border-t bg-gray-50 border-border-color text-sm p-2 w-full">{{ trans('pages.products.with_a_discount') }}
                                (<span class="font-bold">{{ discount.percent|number }}</span>)</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </salla-slider>

    {# Offer Discount Table #}
    {% if offer.discounts_table|length and not is_displayed %}
      <div class="discount-list space-y-2.5 mt-5">
        {% for discount in offer.discounts_table %}
            <div class="discount-list__item flex justify-between border-t pt-2.5">
              <div>
                <span>{{ trans('pages.offer.buy_quantity', {quantity:discount.quantity_text})|number }}</span>
                {% if discount.show_discounted_price %}
                  <span>{{ trans('pages.offer.with_price', {price:''}) }}</span>
                  <span class="font-bold text-red-400">{{ discount.price|number({'.':'٫'}) }}</span> {{ user.currency.symbol }}
                {% endif %}
              </div>
              <p class="text-sm">{{ trans('pages.products.with_a_discount') }}
                (<span class="font-bold">{{ discount.percent|number }}</span>)
              </p>
            </div> 
        {% endfor %}
      </div>
    {% endif %}
</section>
