<div class="mt-5 flex items-center bg-white p-5 rounded-md">
	<div class="flex-shrink-0">
		<a href="{{ article.url }}" class="bg-border-color h-24 w-24 rounded-md overflow-hidden flex items-center justify-center">
			<span class="sr-only">{{ article.name }}</span>

			{% if article.has_image %}
				<img class="h-full w-full object-cover" src="{{ article.image }}" alt="{{ article.image_alt }}">
			{% else %}
				<img class="sm:h-full w-10 object-contain opacity-60" src="{{ asset('images/img-placeholder.svg') }}" alt="post image" />
			{% endif %}
		</a>
	</div>
	<div class="ms-3">
		<div class="flex items-center text-sm text-gray-text mb-2">
			<i class="sicon-calendar-date me-1 pe-px text-md"></i>
			<time>{{ article.created_at }}</time>
		</div>

		<h3 class="text-sm font-bold text-title-color leading-6">
			<a href="{{ article.url }}" class="hover:underline">{{ article.name }}</a>
		</h3>
	</div>
</div>
