{#
| Variable        | Type    | Description      |
|-----------------|---------|------------------|
| items           | link[]  |                  |
| items[].id      | int     |                  |
| items[].title   | String  |                  |
| items[].url     | String  |                  |
| items[].target  | String  | '_blank','_self' |
#}
{% if is_header %}
    {% if items|length %}
        <ul class="hidden lg:flex items-center rtl:pl-4 ltr:pr-4 whitespace-nowrap">
            {% for key, item in items|slice(0,3) %}
			  <li class="topnav-link-item right-side">
				<a href="{{ item.url }}">{{ item.title }}</a>
			  </li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <div>
        <h3>{{ trans('blocks.footer.pages_links') }}</h3>
        <div class="footer-list {{ items|length > 4 ? 'store-links-items':'' }}">
            {% for item in items %}
                <a href="{{ item.url }}" target="{{ item.target }}" class="block mb-5 last:mb-0 text-sm leading-none">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}
