{#
| Variable        | Type  | Description                                                     |
|-----------------|-------|-----------------------------------------------------------------|
| payment_methods | array | List of active payments ex: [mada, credit_card, bank (Bank transfer (Transfer receipt)), cod (Cash On Delivery), ...] |
#}
<ul class="flex justify-center items-stretch space-s-2">
  {% for method in payment_methods %}
    <li class="w-12 h-8 bg-white rounded flex items-center p-1">
      <img class="lazy object-contain max-h-full" width="100%" height="100%" src="{{ 'images/s-empty.png' | asset }}" data-src="{{ ('images/payment/'~ method ~'_mini.png') | cdn }}" alt="{{ method }}">
    </li>
  {% endfor %}
  {% if store.social.maroof %}
    <li class="w-12 bg-white rounded p-1">
      <a href="{{ store.social.maroof }}" class="flex items-center h-full" target="_blank" rel="noreferrer">
        <img class="lazy object-contain" width="100%" height="100%" src="{{ 'images/s-empty.png' | asset }}"  data-src="{{ 'images/maroof-footer.png' | cdn }}" alt="maroof">
      </a>
    </li>
  {% endif %}
</ul>
