{#
| Variable        | Type  | Description                                                     |
|-----------------|-------|-----------------------------------------------------------------|
| payment_methods | array | List of active payments ex: [mada, credit_card, bank (Bank transfer (Transfer receipt)), cod (Cash On Delivery), ...] |
#}
<ul class="flex justify-center items-stretch flex-wrap rtl:space-x-reverse gap-2">

    {#    Made in KSA certificate#}
    {% if store.settings.made_in_ksa %}
        <li class="w-12 h-8 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full"  width="100%" height="100%" decoding="async" loading="lazy" src="{{ 'images/made-in-ksa.svg' | cdn }}" alt="made in KSA certified">
        </li>
    {% endif %}

    {% for method in payment_methods %}
        <li class="w-12 h-8 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full" width="100%" height="100%" src="{{ 'images/s-empty.png' | cdn }}" data-src="{{ ('images/payment/'~ method ~'_mini.png') | cdn(40, 40) }}" alt="{{ method }}">
        </li>
    {% endfor %}

    {# Business certificate - SBC #}
    {% if store.settings.certificate %}
        <li class="w-12 bg-white rounded p-1 flex-center">
            <a target="_blank" href="https://eauthenticate.saudibusiness.gov.sa/certificate-details/{{ store.settings.certificate.id }}" alt="{{ store.settings.certificate.id }}">
                <img width="100%" height="100%" src="{{ 'images/s-empty.png' | cdn }}" data-src="{{ 'images/sbc.png'  | cdn(40, 40) }}" class="lazy rounded-sm hover:opacity-80 transition-opacity h-6" alt="value added tax">
            </a>
        </li>
    {% endif %}
</ul>
