{#
| Variable   | Type          | Description                                             |
|------------|---------------|---------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig          |
| attirubtes | string        | ex: ` id="field_1819067185_562106943"  required `       |
| disabled   | bool          |                                                         |
| required   | bool          |                                                         |
| value      | ?string       |                                                         |
| product    | Product       |                                                         |
#}
<div id="cart_donating_form">
	{% component 'product.donation-progress-bar' with {product:product} %}
	<div class="product-section product-section--has-label">
		<div class="form-group">
			{% if product.can_donate %}
				{{ csrf_field() }}
				{# TODO:: @Adel #enhance - reduce --- #}
				<div class="border-t border-border-color py-5 sm:space-s-4 mt-5 mb-2.5 sm:mb-0 sm:flex justify-between items-center">
					<label for="donating_amount" class="flex-1 block text-sm mb-2.5 "> {{ trans('pages.products.donation_amount') }}
						<span class="text-red-500">*</span>
					</label>
					<div class="relative flex-1">
						{# <input type="number" id="donating_amount" name="copoun-code" class="pe-24 form-input"> #}
                        <input placeholder="{{ trans('pages.products.donation_placeholder') }}" type="text" id="donating_amount" name="{{ is_cart?'amount_donating':'donating_amount' }}" class="form-control _parseArabicNumbers form-input w-full" value="{{ is_cart?product.price:'' }}" data-digits-with-decimal data-digits/>
                        <span class="input-group-addon absolute top-2 end-4 text-gray-400">
						    {{ currency.symbol }}
					    </span>
						 {# <button type="button"  class="absolute top-0 h-full end-0 rounded-s-none rounded-e-md flex-shrink-0 btn px-4 btn-danger">
                          <!-- <span>تفعيل</span> -->
						  <i  class="sicon-cancel text-xl w-8"></i>
                        </button> #}
					</div>
				</div>


			{% else %}
				<h4 class="d-block wide font-xsm color-danger">
					{% if product.donation.completed %}
						{{ trans('pages.products.donation_exceed_target_amount') }}
					{% else %}
						{{ trans('pages.products.donation_exceed_target_date') }}
					{% endif %}
				</h4>
			{% endif %}
		</div>
	</div>
</div>
