{#
| Variable   | Type          | Description                                             |
|------------|---------------|---------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig          |
| attirubtes | string        | ex: ` id="field_1819067185_562106943"  required `       |
| disabled   | bool          |                                                         |
| required   | bool          |                                                         |
| value      | ?string       |                                                         |
| key_prefix | ?string       |                                                         |
#}
<div class="radio-images grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
    {% for detail_index, detail in option.details %}
        <div class="relative inline-block text-center w-full">
            <input {{ detail.is_selected?'checked':'' }}
                    required
                    type="radio"
                    class="image-option"
                    id="option_{{ detail.id }}-{{ key_prefix }}"
                    {{ detail.is_out?"disabled":"" }}
                    data-itemid="{{ detail.id }}"
                    name="options[{{ option.id }}]"
                    data-img-id="{{ detail.option_value }}"
                    value="{{ detail.id }}"/>
            <label for="option_{{ detail.id }}-{{ key_prefix }}" data-img-id="{{ detail.option_value }}"
                    {# TODO:: @Adel #enhance - reduce --- #}
                   class="go-to-slide inline-block mb-0.5 cursor-pointer rounded-md overflow-hidden h-24 md:h-20 w-full">

                <img data-src="{{ detail.image }}" src="{{ asset('images/s-empty.png') }}"
                     class="object-cover h-full w-full lazy-load"
                     title="{{ detail.name }}"
                     alt="{{ detail.name }}"/>

            </label>
            <p class="text-sm text-gray-400">{{ detail.name }}</p>
            {% if detail.is_out %}
                {# TODO:: @Adel #enhance - unify with checkbox optons --- #}
                <small class="block absolute bottom-10 left-1/2 transform -translate-x-1/2  rounded-full px-2.5 pb-1 bg-red-400 text-white whitespace-nowrap">{{ trans('pages.products.out_of_stock') }}</small>
            {% endif %}
        </div>
    {% endfor %}
</div>