{#
| Variable                | Type          | Description |
|-------------------------|---------------|-------------|
| slides                  | Article[]     |             |
| articles                | Article[]     |             |
| page                    | object        |             |
| page.title              | string        |             |
| page.name               | string        |             |
| article.name            | string        |             |
| article.image           | object        |             |
| article.image.url       | string        |             |
| article.image.alt       | string        |             |
| article.created_at      | ?Date *Carbon |             |
| article.author          | object        |             |
| article.author.name     | string        |             |
| article.author.url      | string        |             |
| article.summary         | string        |             |
#}
{% extends "layouts.master" %}

{% block content %}
    <main id="main">
        <div class="container mb-24">
            <div class="flex items-center justify-between">
                 <nav class="w-full py-5">
                    {% component 'header.breadcrumbs' %}
                </nav>

                <a class="lg:hidden  space-s-1.5 hover:underline flex mburger mburger--collapse text-sm text-primary" href="#filters-menu">
                    <i class="sicon-filter text-xs"></i>
                    <span class="fix-align">{{ trans('pages.blog_categories.categories') }}</span>
                </a>
            </div>

            <div class="flex items-start">
                {% include 'pages.partials.blog.sidebar' %}
                <div class="main-content w-96 flex-1">
                    {% if slides is not empty %}
                        <div class="mb-8">
                            <div class="swiper blog-slider rounded-md overflow-hidden" id="blog-slider">
                                <div class="swiper-wrapper">
                                    {% for article in slides  %}
                                        <div class="swiper-slide blog-slider__slide h-460 relative bg-border-color flex justify-center {{article.has_image ? '' : 'no-thumb' }}">
                                            {% if article.has_image %}
                                                <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="object-cover h-full w-full">
                                            {% else %}
                                                <img class="sm:h-full w-20  object-contain opacity-50" src="{{ asset('images/img-placeholder.svg') }}" alt="post image">
                                            {% endif %}
                                            <div class="absolute z-10 bottom-0 start-0 ps-10 pb-20">
                                                <div class="blog-slider__content relative">
                                                    <div class="z-20 w-5/6 lg:w-6/12 {{ article.has_image ? 'text-white' : '' }}">
                                                        <div class="block-slide-anime">
                                                            <div class="mb-2.5 rounded-md inline-flex text-sm space-s-5">
                                                                <div class="flex items-center">
                                                                    <i class="sicon-calendar-date me-1 text-md"></i>
                                                                    <span class="whitespace-nowrap">{{ article.created_at|date }}</span>
                                                                </div>
                                                                <a href="{{ article.author.url }}" class=" flex items-center hover:underline">
                                                                    <i class="sicon-user me-1 text-md"></i>
                                                                    <span class="">{{ article.author.name }}</span>
                                                                </a>
                                                            </div>
                                                            <h3 class="text-sm font-bold leading-normal mb-4">{{ article.name }}</h3>
                                                        </div>
                                                        <p class="block-slide-anime description">{{ article.summary }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overlay absolute top-0 z-0 bg-dark opacity-50  w-full h-full"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination text-start px-10 pb-8  bottom-10"></div>
                            </div>
                        </div>
                    {% endif %}

                    {% if articles|length %}
                        <div class="grid md:grid-cols-2 gap-8 articles-container">
                            {% for article in articles  %}
                                {% include 'pages.partials.blog.article-with-summary' %}
                            {% endfor %}
                        </div>
                        {% include 'pages.partials.loader-status' with {next_page:articles.next_page} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('dist/blog.js') }}"></script>
{% endblock %}
